#teams-invitations-page.team-page
  =teams_header
  .lo-container
    %h2 Invite new users
    .h2-subheading Enter your teammates' email addresses, one on each line.
    =form_tag [:teams, @team, :invitations] do
      .field
        =text_area_tag :emails, '', placeholder: "Email addresses - 1 per line"
      =button_tag "Invite new members", class: 'pure-button'
