.tabs-and-panes.selected-1
  .tabs
    .tab.tab-1.write-tab{data: {tab: "markdown"}} Markdown
    .tab.tab-2.preview-tab{data: {tab: "preview"}} Preview
  .panes
    .pane.pane-1.markdown
      =textarea
    .pane.pane-2.preview
      .preview-area

