.avatar-section
  %h3 Avatar
  .image-preview.js-image-preview-container{ style: "background-image: url('#{image_url(user.avatar_url)}')" }
  .file-selector-section
    .file-selector
      Change Image
      = form.file_field :avatar, class: "js-image-preview-file"
    %p.text-hint Try and choose a square photo that works when rounded.
  - if user.errors.any?
    .errors
    - if user.errors[:avatar].include?("Wrong format")
      %p.text-error We only support PNG, GIF, or JPG pictures.
