.page-1
  .progress
    =graphical_icon 'circle filled', style: :legacy
    =graphical_icon 'circle', style: :legacy

  %h2 Showcase your solutions
  %p Create a public profile to showcase the solutions you’re proud of and help others learn from your work.
  %ul
    %li Have complete control over which solutions you make public
    %li Choose your own public name and URL
    %li Add links to where you exist elsewhere on the internet (e.g. Twitter and GitHub)

  =button_tag "Continue", class: 'pure-button start'
  =link_to "No thanks", [:my, :tracks], class: 'pure-button cancel'

.page-2
  .progress
    =graphical_icon 'circle filled', style: :legacy
    =graphical_icon 'circle filled', style: :legacy

  =form_for @profile, url: my_profile_path do |f|
    %h2 Choose your display name
    %p Choose how you'd like your name to appear on the profile.
    =f.text_field :display_name, placeholder: "Most people choose their name or handle"

    %h2 Add a bio
    %p Tell us a little bit about yourself. A couple of sentences is perfect. You can edit this later.
    =fields_for :user do |uf|
      =uf.text_area :bio, placeholder: "Tell us a little bit about yourself (max 230 chars)", maxlength: 230
      =f.button "Create profile", class: 'pure-button'

:javascript
  $('#modal.new-profile .page-1 button').click(function() {
    $('#modal.new-profile .page-1').hide()
    $('#modal.new-profile .page-2').show()
  })
