#new-profile-page
  .header
    .lo-container
      %h1 #{current_user.name}'s Profile
      .h1-subtitle This is a showcase of some of the solutions that #{current_user.name} has submitted on Exercism.
  .lo-container
    =image "profile-blanked-out.png", "Profile preview presenting solutions"

-content_for :js do
  :javascript
    showModal('new-profile', "#{j render("new")}")
