.notes
  =raw @notes

.changes
  %h3 Can you improve these notes?
  %p
    These notes are community-sourced. If you've spotted something incorrect or missing,
    please #{link_to "edit this file on GitHub", "https://github.com/exercism/website-copy/blob/master/tracks/#{@track.slug}/exercises/#{@exercise.slug}/mentoring.md"}. That will submit a pull request to the website team, which we can then review and push live.
  %p Thank you!
