$('#teams-my-solutions-page .solutions').html("#{j render("teams/my_solutions/solutions", solutions: @solutions)}")
$('#teams-my-solutions .solutions .num-solutions').html("#{j pluralize @solutions.size, "Solutions"}")

