-@solutions.each do |solution|
  =link_to teams_team_my_solution_path(@team, solution) do
    =solution.exercise.track.title
    \-
    =solution.exercise.title

=link_to "New solution", new_teams_team_my_solution_path
