#my-communication-preferences-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Settings", my_settings_path
      =nav_divider
      %span Communication Preferences

  .lo-container
    =notice_and_alert

    %h1 Update your communication preferences

    =form_for current_user.communication_preferences, url: [:my, :settings, :communication_preferences] do |f|
      /-if current_user.admin?
      /  %h2 Admin Communications

      -if current_user.mentor?
        %h2 Mentor emails
        =f.label :email_on_new_discussion_post_for_mentor do
          =f.check_box :email_on_new_discussion_post_for_mentor
          %span Email me when a student comments on a solution I'm mentoring

        =f.label :email_on_new_iteration_for_mentor do
          =f.check_box :email_on_new_iteration_for_mentor
          %span Email me when a student posts a new iteration to a solution I'm mentoring

      %h2 Usage emails
      =f.label :email_on_new_discussion_post do
        =f.check_box :email_on_new_discussion_post
        %span Email me when a mentor comments on my solution

      =f.label :email_on_solution_approved do
        =f.check_box :email_on_solution_approved
        %span Email me when a mentor approves my solution

      %h2 General communications
      =f.label :receive_product_updates do
        =f.check_box :receive_product_updates
        %span Email me about product updates

      =f.button "Save settings", class: 'pure-button'
