-solutions.each do |solution|
  -exercise = solution.exercise
  .pure-u-1.pure-u-lg-1-2
    =link_to [exercise.track, exercise, solution], class: 'solution' do
      .icon
        .img{style: "background-image:url('#{image_path(exercise.white_icon_url)}')"}
      .title-bar
        .title= exercise.title
        .track #{exercise.track.title} track
      .details
        .published-at
          %i.fal.fa-clock
          #{solution.published_at.strftime("%b %d %Y")}
        .detail
          %i.fal.fa-comment
          =solution.num_comments
        .detail
          %i.fal.fa-star
          =solution.num_stars
