#profiles-page
  .header
    .lo-container
      %h1 Profiles on Exercism
      .h1-subtitle Showcases of clever solutions
  .lo-container
    .profiles
      .pure-g
        -@profiles.each do |profile|
          .pure-u-1.pure-u-md-1-2
            =link_to profile, class: 'profile' do
              =image profile.user.avatar_url, alt: profile.user.name
              %h2= profile.display_name
              %p= profile.user.bio

  =paginate @profiles
