#profiles-page
  .header
    .lo-container
      %h1 Profiles on Exercism
      .h1-subtitle Showcases of clever solutions
  .lo-container
    .profiles
      .pure-g
        -@profiles.each do |profile|
          .pure-u-1-2
            .profile
              =image_tag profile.user.avatar_url
              %h2= profile.display_name
              %p= profile.user.bio

  =paginate @profiles

