= form_for team, url: teams_team_path(team), html: { class: "section-inner" } do |f|
  = f.check_box :url_join_allowed, class: "js-team-url-join-toggle"
  = f.label :url_join_allowed, "Allow joining via URL"

- content_for :js do
  :javascript
    $('.js-team-url-join-toggle').change(function() {
      $(this).parent('form').submit();
    });

