@import 'variables';
@import 'mixins';

#my-solution-page .finished-section {
    color:#444;
    margin-bottom:20px;

    .title-block,
    .next-block {
        border:1px solid $color-1;
        border-radius:2px;
        i {
            color:$color-1;
            margin-right:3px;
        }
        h3 {
            font-weight:500;
        }
    }

    .title-block {
        padding:10px 15px;
        margin-bottom:10px;
    }
    .next-block {
        padding:15px 15px;
        position:relative;
        &:before {
            position:absolute;
            border-left:1px solid $color-1;
            left:20px;
            top:-11px;
            height:11px;
            content: " ";
        }

        h3 {
            margin-bottom:15px;
        }
    }
    .next-option {
        margin-left:4px;
        p {
            margin-bottom:10px;
            border-left:3px solid $color-1;
            padding-left:13px;
            @include font-size(14, 17);
            strong {
                font-weight:$bold;
            }
        }
        .pure-button {
            margin-left:16px;
            background:$color-1;
            color:#fff;
            &.disabled {
                pointer-events:all;
                cursor: not-allowed;
            }
        }
    }
    .next-option+.next-option {
        margin-top:25px;
    }
}
