@import 'mixins';
@import 'variables';

#teams-invitations-page {
    p {
        margin-bottom:7px;
        color:#999;
    }
    textarea {
        width:400px;
        height:200px;
        padding:10px;
        margin-bottom:10px;
        border:1px solid #ccc;
        border-radius:3px;
    }
    .pure-button {
        background:$color-2;
    }
}
