@import 'mixins';
@import 'variables';

#teams-memberships-page {
    p {
        margin-bottom:10px;
    }
    .pure-button {
        background:$color-2;
    }

    .team-join-url {
      width: 50%;
    }
}
