@import 'variables';
@import 'mixins';

#teams-my-solutions-page {
    .num-solutions {
        display:none;
        @include width-medium() {
            display:block;
        }
        float:right;
        padding-top:5px;
        padding-right:25px;
        font-weight:$regular;
        color:#999;
    }

    .filters {
        margin-bottom:20px;
        .widget-filter {
            display:flex;
            align-items:stretch;
            
            margin-bottom:10px;
            @include width-medium() {
                display:inline-block;
            }
            .selectize-control {
                display:flex;
                width:100%;
                max-width:100%;
                @include width-medium() {
                    display:inline-block;
                }       
            }
            &.track_id {
                .selectize-control {
                    @include width-medium() {
                        width:200px;
                    }
                }
            }
            &.exercise_id {
                .selectize-control {
                    @include width-medium() {
                        width:350px;
                    }
                }
            }
        }
    }
    .widget-side-exercise {
        .stats {
            text-transform:none;
            @include font-size(12, 14);
            margin-bottom:10px;
            .language {
                display: inline-block;
                margin-right: 5px;
                padding-right: 5px;
                border-right: 1px solid #aaa;
                color: #aaa;
                font-weight: 400;
            }
            .num-iterations {
                display: inline-block;
                color: #aaa;
                font-weight: 400;
            }
        }
        .status {
            float: none;
            display: block;
            margin-left: 0;
            @include font-size(12, 14);
            color:#666;
            font-weight: $bold;
        }
    }
    .pure-button {
        background:$color-2;
        padding: 10px 30px;

    }
}
