@import 'variables';
@import 'mixins';

#teams-my-solutions-page {
    .num-solutions {
        float:right;
        padding-top:5px;
        padding-right:25px;
        font-weight:$regular;
        color:#999;
    }

    .filters {
        margin-bottom:20px;
        .widget-filter {
            &.topic {
                .selectize-control {
                    width:250px;
                }
            }
            &.status {
                .selectize-control {
                    width:120px;
                }
            }
        }
    }
}
