@import 'variables';
@import 'mixins';

#teams-new-solution-page {
    h3 {
        font-weight:$regular;
        margin-bottom:8px;
    }
    .widget-filter {
        margin-bottom:20px;
        .selectize-control {
            width:250px;
        }
    }
    .exercise-radio-button {
        display:none;
        &:checked+.widget-side-exercise {
            border-color: #009cab;
            box-shadow: 0 0 0 1px #009cab;

        }
    }
    .widget-side-exercise {
        display:block;
        cursor:pointer;
        padding:15px;
        height:92px;
        width:93%;
        text-align:left;
        .icon {
            width:60px;
            height:60px;

            .img {
                width:38px;
                height:38px;
            }
        }
        .title {
            padding-top:9px;
            margin-bottom:7px;
            @include font-size(16, 18);
        }

        .topics {

        }
    }
    .pure-button {
        background:$color-2;
    }
}
