@import 'mixins';
@import 'variables';

#teams-new-team-page {
    form {
        .field {
            margin-bottom:20px;
            h3 {
                @include font-size(15, 15);
                margin-bottom:7px;
                font-weight:$bold;
            }
            p {
                margin-bottom:10px;
                color:#999;
            }
            textarea {
                height:200px;
            }
            input, textarea {
                border:1px solid #ccc;
                border-radius:3px;
                padding:10px;
                width:300px;
            }
        }
        .pure-button {
            background:$color-2;
        }
    }
}
