@import 'variables';
@import 'mixins';

#teams-solution-page,
#teams-my-solution-page,
#teams-my-solution-unlocked-page {
    #team-header {
        margin-bottom:0;
    }
    .solution-header {
        overflow:hidden;
        background:$color-1;
        padding:20px 0;
        margin-bottom:30px;
        img {
            float:left;
            margin-right:15px;
            height:50px;
            display:block;
            border:1px solid #fff;
            border-radius:2px;
        }
        .inner {
            color:#fff;
            .widget-iterations-nav {
                float:right;
            }
            h2 {
                @include font-size(22, 22);
                font-weight:$regular;
                margin-bottom:3px;
                padding-top:5px;
                strong {
                    font-weight:$bold;
                }
            }
            .byline {
                @include font-size(14, 14);
                a {
                    color:#fff;
                }
            }
        }
    }
}
