.exercises-section
  .lo-container
    .h2-subtitle Fun. Challenging. Interesting
    %h2 Community-sourced #{@track.title} exercises
    %p
      These are a few of the #{@track.exercises.active.count} exercises on the #{@track.title} track.
      -unless user_signed_in?
        You can see #{link_to "all the exercises here", track_exercises_path(@track)}.
    .pure-g.exercises
      -@exercises.each do |exercise|
        .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
          .widget-side-exercise.completed
            =render "my/side_exercises/exercise", exercise: exercise, solution: Solution.new(completed_at: Time.current - 1.second)
