-return unless mentors.present?
.mentors-section
  .lo-container
    .h2-subtitle Relaxed. Encouraging. Supportive.
    %h2
      Meet the #{track.title} Track mentors
      =graphical_icon :comments
    %p Once you join the #{track.title} language track, you will receive support and feedback from our team of mentors. Here are the bios of a few of #{link_to "the mentors of this track", track_mentors_path(track)}.
    .pure-g.mentors
      -mentors.each do |mentor|
        .pure-u-1-2= render "widgets/mentor", mentor: mentor
