.overview-section
  .lo-container
    .pure-g
      .pure-u-1-3
        .icon
          =image_tag "track-page-mentors.png"
        %h3= pluralize @track.mentors.size, "Mentor"
        .info Our mentors are friendly, experienced #{@track.title} developers who will help teach you new techniques and tricks.

      .pure-u-1-3
        .icon
          =image_tag "track-page-students.png"
        %h3 #{number_with_delimiter @track.user_tracks.size} Students
        .info 
          Join 
          -if @track.user_tracks.size >= 2000
            thousands
          -else
            hundreds
          of students who have enjoyed learning and improving their skills by taking this track.

      .pure-u-1-3
        .icon
          =image_tag "track-page-exercises.png"
        %h3= pluralize @track.exercises.size, "Exercise"
        .info Hundreds of hours have gone into making these exercises fun, useful, and challenging to help you enjoy learning.


