-return unless testimonial
.testimonal-section
  .lo-container
    .frame
      =graphical_image "speech-marks.png"
      %h2= testimonial.headline
      %p= testimonial.content
      .byline= testimonial.byline
