.testimonal-section
  .lo-container
    .frame
      =image_tag "speech-marks.png"
      %h2 I learnt an incredible amount from the Ruby Track.
      %p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
      .byline Joe Bloggs, United Kingdom
