#tracks-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      %span Language tracks

  .lo-general-header
    .lo-container
      %h1 Language tracks
      .h1-subtitle All the tracks exercism has to offer

  .lo-container
    .pure-g
      -@tracks.each do |track|
        .pure-u-1.pure-u-md-1-2
          -num_exercises = @all_exercise_counts[track.id].to_f
          -num_users = @all_user_tracks_counts[track.id].to_f

          =link_to track, class: 'track' do
            =hex_turquoise_track_icon(track)
            .title
              %h2= track.title
              .num-exercises= pluralize num_exercises.to_i, "exercise"
            %summary= track.introduction
