.new-editable-text
  .tabs-and-panes.selected-1
    .tabs
      .tab.tab-1.write-tab{data: {tab: "markdown"}} Write
      .tab.tab-2.preview-tab{data: {tab: "preview"}} Preview
    .panes
      .pane.pane-1.markdown
        = f.text_area field
      .pane.pane-2.preview
        .preview-area

- content_for :js do
  :javascript
    setupTabs()
    setupNewEditableText(#{f.object.id})
