@import 'variables';
@import 'mixins';

#blog-posts {
    .header {
        background-image:image-url('background-overlay-2.png');
        background-size:cover;
        background-color:$color-2;
        padding:20px 0 20px 0;
        margin-bottom:40px;
        .heading {
            @include font-size(20, 20);
            @include header-font;
            font-weight:600;
            letter-spacing:-0.3px;
            margin-bottom:5px;
            color:#fff;
            a {
                color:#fff;
                text-decoration:none;
                border-bottom:1px solid transparent;
                padding:0 5px;
                &:hover {
                    border-bottom-color:rgba(#fff, 0.5);
                }
            }
        }
        .subheading {
            @include font-size(16, 16);
            color:#fff;
        }
    }
    .sidebar {
        @include width-smaller-than-medium() {
            margin-top:20px;
            border-top:1px solid #ddd;
            padding-top:20px;
        }
        @include width-medium() {
            margin-top:0;
            border-top:0;
            padding-top:0;

            border-left:1px solid #ddd;
            padding-left:20px;
            margin-left:80px;
            height:100%;
        }
        ul {
            margin:0 0 20px 0;
            padding-left:0;
            list-style:none;
            li {
                margin-bottom:3px;
            }
            a {
                color:#333;
                text-decoration:none;
                border-bottom:1px solid #ccc;
            }
        }

        h3 {
            @include width-smaller-than-medium() {
                color:$color-2;
                font-weight:$black;
                @include font-size(15, 22);
                margin-bottom:5px;
                text-transform:uppercase;
            }
            @include width-medium() {
                @include font-size(14, 14);
                margin-bottom:8px;
                font-weight:$bold;
            }
        }
    }

    h2 {
        color:$color-2;
        font-weight:$black;
        @include font-size(15, 22);
        margin-bottom:15px;
        text-transform:uppercase;
    }

    .blog-post {
        display:block;
        color:#333;
        text-decoration:none;
        border-left:3px solid #eee;
        padding-left:10px;
        overflow:hidden;

        &:hover {
            border-left-color:$color-2;
            h3 .text {
                border-bottom-color:#ddd;
            }
            .img {
                box-shadow: 0 0 0 2px $color-2;
            }
        }
        .img {
            display:none;
            float:right;
            margin:2px 2px 2px 20px;
            height:110px;
            width:110px;
            background-position:center center;
            background-size:cover;
            border:1px solid #fff;
            box-shadow: 0 0 0 2px #eee;
            border-radius:2px;

            @include width-large() {
                display:block;
            }
        }
        h3 {
            @include font-size(22, 25);
            font-weight:$bold;
            margin-bottom:5px;
            .text {
                display:inline-block;
                border-bottom: 1px solid transparent;
            }
        }
        .synopsis {
            margin-bottom:5px;
        }
        .details {
            color:#888;
            display:inline-block;
            padding-right:20px;
        }
        +.blog-post {
            margin-top:30px;
        }
    }

}
