@import 'mixins';

#experiment-solution-page {
  $breadcrumb-height: 35px;

  + footer {
    margin-top: 0;
  }

  > .breadcrumb {
    height: $breadcrumb-height;
  }

  > .experiment-solution {
    @include width-small() {
      height: calc(100vh - 50px - #{$breadcrumb-height});
    }

    height: calc(100vh - 50px);
  }
}

.experiment-solution {
  display: flex;

  > .description-panel {
    overflow-y: scroll;
  }

  &.experiment-solution--loading {
    > .overlay {
      display: flex;
    }
  }

  > .overlay {
    display: none;
  }

}

.solution-panel {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  justify-content: flex-end;

  padding: 5px;
  background-color: #333;
}
