@import "variables";
@import "mixins";

#modal-wrapper #modal.introducing-research {
    max-height: 90%;

    @include width-small() {
        padding: 40px 50px;
    }
    @include width-medium() {
        max-width: 570px;
    }

    h2 {
        @include font-size(25, 25);
        font-weight: $regular;
        color: #555;
        margin-bottom: 15px;
        text-align: center;
    }
    p {
        text-align: center;
        color: #555;
        @include font-size(16, 23);
        margin-bottom: 10px;
    }
    .buttons {
        margin-top: 20px;
    }
    .pure-button {
        margin: 0 auto;

        display: inline-block;
        width: auto;
        border: 1px solid $color-1;
        padding: 10px 13px;
        font-weight: $regular;
        @include font-size(16, 23);

        &.yes-button {
            width: 100%;
            margin-bottom: 15px;
            background: $color-2;
            @include width-medium() {
                width: 63%;
                margin-bottom: 0;
            }
        }
        &.no-button {
            border: 1px solid $color-2;
            background: #fff;
            color: $color-1;
            font-weight: $fw-regular;
            width: 100%;
            @include width-medium() {
                width: 35%;
            }
        }
    }
    .sponsors {
        background: #f3f3f3;
        border-top: 1px solid #ddd;
        text-align: center;
        padding: 20px 0 20px;
        margin: 30px -60px -40px;
        h3 {
            @include font-size(14, 14);
            margin-bottom: 10px;
            color: #999;
            font-weight: $fw-regular;
        }
        img {
            width: 110px;
            margin: 0 15px;
            vertical-align: middle;
        }
    }
}
