@import 'variables';
@import 'mixins';

#mentor-solution-page {
    .track-header {
        overflow:hidden;
        background:$color-1;
        padding:20px 0;
        margin-bottom:40px;
        img {
            float:left;
            margin-right:15px;
            height:50px;
            display:block;
            border:1px solid #fff;
            border-radius:2px;
        }
        .inner {
            color:#fff;
            .widget-iterations-nav {
                float:right;
            }
            h2 {
                @include font-size(22, 22);
                font-weight:$regular;
                margin-bottom:3px;
                padding-top:5px;
                strong {
                    font-weight:$bold;
                }
            }
            .byline {
                @include font-size(14, 14);
                a {
                    color:#fff;
                }
            }
        }
    }

    .notifications-bar {
        overflow:hidden;
        margin-bottom:40px;
        .community-solutions {
            float:right;
            border:1px solid #ddd;
            border-radius:2px;
            background:#fff;
            color:#aaa;
            @include font-size(12, 12);
            font-weight:$regular;
            padding:9px 20px;

            i {
                margin-right:3px;
            }
        }
        .notification {
            margin-right:190px;
            background:rgba($color-1, 0.05);
            @include font-size(13, 13);
            padding:8px 20px;
            border:1px solid rgba($color-1, 0.2);
            border-radius:2px;
            font-weight:$regular;
            color:$color-1;
            a {
                margin-left:3px;
                color:#333;
            }
            i {
                @include font-size(14, 14);
                color:$color-1;
                margin-right:5px;
            }
            &.action {
                border-color:$color-1;
            }
        }
    }
    .discussion,
    .new-discussion-post {
        h3 {
            padding:7px 0;
            border-bottom:1px solid #ddd;
            margin-bottom:20px;

            font-weight:400;
            color:#333;
        }
        .pane.markdown,
        .pane.preview {
            padding:0;
        }
        .posts {
            //margin-bottom:40px;
        }
    }
    .new-discussion-post {
        .approved {
            color:$color-1;
            padding-top:17px;
        }
        .button {
            margin-bottom:20px;
            background:$color-1;
            border:1px solid $color-1;
            color:#fff;
            float:right;
            margin-top:10px;
            border-radius:2px;
            padding:8px 25px;
            &.approve-button,
            &.approve-and-comment-button {
                color:$color-1;
                background:#fff;
                border:1px solid $color-1;
                margin-right:5px;
            }
            &.approve-and-comment-button {
                display:none;
            }

            &.leave-button,
            &.pass-button {
                background:#fff;
                border:1px solid #ccc;
                color:#999;
                float:left;
                &:hover {
                    background:$color-1;
                    border-color:$color-1;
                    color:#fff;
                }
            }
            &.leave-button { padding:8px 12px; }
            &.pass-button { padding:8px 15px; }
        }
    }
    .claim-section {
        clear:both;
        padding-top:15px;
        h3 {
            font-weight:400;
            color:#333;
            padding:7px 0;
            border-bottom:1px solid #ddd;
            margin-bottom:10px;
        } 
        p {
            margin-bottom:10px;
            @include font-size(14, 19);
        }
        .pure-button {
            background:$color-1;
            margin-bottom:15px;
        }
        .force {
            display:none;
            p {
                strong {
                    color:red;
                    font-weight:400;
                }
            }

            .pure-button {
                display:inline-block;
                border:1px solid $color-1;
                &.mentor-button {
                    background:#fff;
                    color:$color-1;
                }
            }
        }
    }
    .claimed-section {
        display:none;
    }
    .download-section {
        clear:both;
        padding-top:15px;
        h3 {
            font-weight:400;
            color:#333;
            padding:7px 0;
            border-bottom:1px solid #ddd;
            margin-bottom:10px;
        } 
        p {
            margin-bottom:10px;
            @include font-size(14, 19);
        }
        .widget-code-snippet {
            input {
                width:100%;
            }
        }
    }
    .report-button {
        margin-bottom:30px;
        margin-top:30px;
        border-radius:2px;
        padding:8px 25px;
        background:#fff;
        border:1px solid #ccc;
        color:#999;
        float:left;
        width:150px;
        max-width:100%;
        &:hover {
            background:$color-1;
            border-color:$color-1;
            color:#fff;
        }
    }
}
