@import 'variables';
@import 'mixins';

#mentor-analyses {
    padding-top:10px;
    form {
        padding-bottom:20px;
        .selectize-control {
            display:inline-block;
            vertical-align:top;
            width:200px;
        }
        .pure-button {
            vertical-align:top;
            background:$color-1;
            padding: 9px 20px 10px 20px;
        }
    }
    table {
        width:100%;
    }
    th {
        padding:10px;
        font-weight:$fw-bold;
        border-bottom:1px solid #aaa;
        text-align:left;
    }
    td {
        padding:10px 15px;
        border-bottom:1px solid #ddd;
        border-right:1px solid #eee;
        &:last-child {
            border-right:none;
        }
    }
    th, td {
        &:first-child {
            text-align:right;
        }
    }
}

