@import 'variables';
@import 'mixins';

#mentor-configure-page {
    .header {
        background: $color-2;
        background-image:image-url('background-overlay-2.png');
        background-size:cover;
        padding:100px 0 35px;
        margin-bottom:35px;
        h1 {
            @include font-size(34, 34);
            letter-spacing:-0.67px;
            font-weight:$bold;
            margin-bottom:5px;
            color:#fff;
        }
        .h1-subtitle {
            max-width:70%;
            @include font-size(15, 19);
            color:#fff;
            font-weight:$fw-regular;
            a {
                color:#fff;
                font-weight:$regular;
            }
        }
    }
    h2 {
        @include font-size(18, 18);
        font-weight:$regular;
        margin-bottom:5px;
    }
    p {
        margin-bottom:20px;
        @include font-size(15, 18);
    }

    #alert {
        margin-bottom:15px;
        text-align:left;
    }

    label {
        background:rgba($color-2, 0.1);
        border:1px solid rgba($color-2, 0.2);
        padding:10px;
        border-radius:2px;
        margin-bottom:15px;
        display:block;
        cursor:pointer;
        @include font-size(15, 16);
        @include width-medium() {
            margin-right:15px;
        }
        input {
            float:left;
            margin-right:8px;
            @include font-size(16, 16);
            margin-top:1px;
        }
    }

    .pure-button {
        background:$color-2;
        color:#fff;
        margin-top:20px;
        padding:10px 20px;
        display:block;
        width:100%;
    }
}

