@import 'variables';
@import 'mixins';

#mentor-solution-page {
    .track-header {
        overflow:hidden;
        background:$color-1;
        padding:20px 0;
        margin-bottom:40px;
        img {
            float:left;
            margin-right:15px;
            height:50px;
            display:block;
            border:1px solid #fff;
            border-radius:2px;
        }
        .inner {
            color:#fff;
            .widget-iterations-nav {
                float:right;
            }
            h2 {
                @include font-size(22, 22);
                font-weight:$regular;
                margin-bottom:3px;
                padding-top:5px;
                strong {
                    font-weight:$bold;
                }
            }
            .byline {
                @include font-size(14, 14);
                a {
                    color:#fff;
                }
            }
        }
    }

    .notifications-bar {
        overflow:hidden;
        margin-bottom:40px;
        .community-solutions {
            float:right;
            border:1px solid #ddd;
            border-radius:2px;
            background:#fff;
            color:#aaa;
            @include font-size(12, 12);
            font-weight:$regular;
            padding:9px 20px;

            i {
                margin-right:3px;
            }
        }
        .notification {
            margin-right:190px;
            background:rgba($color-1, 0.05);
            @include font-size(13, 13);
            padding:8px 20px;
            border:1px solid rgba($color-1, 0.2);
            border-radius:2px;
            font-weight:$regular;
            color:$color-1;
            a {
                margin-left:3px;
                color:#333;
            }
            i {
                @include font-size(14, 14);
                color:$color-1;
                margin-right:5px;
            }
            &.action {
                border-color:$color-1;
            }
        }
    }
    .discussion {
        h3 {
            padding:7px 0;
            border-bottom:1px solid #ddd;
            margin-bottom:20px;

            font-weight:400;
            color:#333;
        }
        .pane.markdown,
        .pane.preview {
            padding:0;
        }
        .post {
            margin-bottom:20px;
            overflow:hidden;
            &+.post {
                border-top:1px solid #fafafa;
                padding-top:20px;
            }
            .avatar {
                margin-right:3%;
                float:left;
                min-width:35px;
                width:8%;
                display:block;
                border-radius:3px;
            }
            .post-body {
                min-width:100px;
                width:89%;
                float:left;
            }

            .post-header {
                overflow:hidden;
                margin-bottom:5px;
                .user-handle {
                    display:inline-block;
                    color:#333;
                    font-weight:$regular;
                    margin-right:5px;
                    @include font-size(13, 13);
                }
                .user-status {
                    display:inline-block;
                    background:#eee;
                    padding:2px 5px 3px 5px;
                    border-radius:2px;
                    @include font-size(11, 11);
                    color:#888;
                    font-weight:$regular;
                }
                .created-at {
                    float:right;
                    @include font-size(11, 13);
                    color:#999;
                }
            }
            .post-html {
                * {
                    @include font-size(14, 19);
                }
                &>* {
                    margin-bottom:10px;
                    &:last-child {
                        margin-bottom:0;
                    }
                }
            }
        }

        .posts {
            margin-bottom:40px;
        }
        .approved {
            color:$color-1;
            padding-top:17px;
        }
        .pure-button {
            margin-bottom:20px;
            background:$color-1;
            border:1px solid $color-1;
            color:#fff;
            float:right;
            margin-top:10px;
            border-radius:2px;
            padding:8px 25px;
            &.approve-button,
            &.approve-and-comment-button {
                color:$color-1;
                background:#fff;
                border:1px solid $color-1;
                margin-right:5px;
            }
            &.approve-and-comment-button {
                display:none;
            }

            &.leave-button,
            &.pass-button {
                background:#fff;
                border:1px solid #ccc;
                color:#999;
                float:left;
                &:hover {
                    background:$color-1;
                    border-color:$color-1;
                    color:#fff;
                }
            }
            &.leave-button { padding:8px 12px; }
            &.pass-button { padding:8px 15px; }
        }
    }
}
