@import 'variables';
@import 'mixins';
#notifications-page {
    .header {
        background-color:$color-2;
        background-image:image-url('background-overlay-2.png');
        background-size:cover;
        padding:35px 0;
        margin-bottom:35px;

        h1 {
            padding-top:20px;
            @include font-size(30, 30);
            letter-spacing:-0.56px;
            font-weight:$bold;
            margin-bottom:5px;
            color:#fff;
        }
        .h1-subtitle {
            max-width:70%;
            @include font-size(16, 21);
            color:#fff;
            font-weight:$light;
        }
    }
    h2 {
        margin-bottom:10px;
        @include font-size(16, 16);
        font-weight:$regular;
    }
    .notification {
        border:1px solid #aaa;
        overflow:hidden;
        margin-bottom:20px;
        position:relative;
        width:650px;
        .icon {
            display:block;
            text-decoration:none;
            color:#333;
            float:left;
            padding:20px;
            text-align:center;
        }
        .info {
            display:block;
            text-decoration:none;
            color:#333;
            float:left;
            width:460px;
            padding:15px;
            border-left:1px solid #aaa;
            border-right:1px solid #aaa;

            .content {
                @include font-size(16, 16);
                margin-bottom:5px;
            }
            .when {
                @include font-size(11, 11);
            }
        }
        .pure-button {
            display:block;
            position:absolute;
            top:10px;
            bottom:10px;
            right:10px;
        }
    }
}
