@import 'variables';
@import 'mixins';

body.controller-solutions {
    footer {
        display:none;
    }
}

#my-solution-started-page {
    .placeholder-header {
        padding:50px;
        background:#fff;
    }
    .track-header {
        border:1px solid #ddd;
        padding:30px 20px;
        margin-bottom:20px;
        .icon {
            display:block;
            width:80px;
            height:80px;
            padding:10px;
            float:left;
            margin-right:15px;
            background-color:#fff;
            margin-left: -70px;
            margin-top: -20px;
            border: 2px solid red;
            border-radius: 100%;
            overflow:hidden;
            .img {
                width:60px;
                height:60px;
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center center;
            }
        }
        .inner {
            .stats {
                float:right;
                overflow:hidden;
                .stat {
                    float:left;
                    margin-right:20px;
                    border-right:1px solid #eee;
                    padding:10px 20px 10px 0;
                    @include font-size(12, 13);
                    overflow:hidden;
                    width:95px;
                    i {
                        float:left;
                        padding:10px 10px 10px 0;
                    }
                }
                .buttons {
                    float:left;
                    .pure-button {
                        border:1px solid #aaa;
                        width:150px;
                        padding:5px;
                        text-align:center;
                        color:#999;
                        background:#fff;
                        display:block;
                        @include font-size(12, 12);
                        &:first-child {
                            margin-bottom:5px;
                        }
                    }
                }
            }
            h2 {
                @include font-size(25, 25);
                font-weight:700;
                margin-bottom:10px;
            }
            .track-progress {
                h3 {
                    display:inline-block;
                    font-weight:400;
                }
                .dots {
                    display:inline-block;
                    overflow:hidden;
                    .dot {
                        background:transparent;
                        border:2px solid #aaa;
                        border-radius:100%;
                        display:block;
                        float:left;
                        position:relative;
                        width:10px;
                        height:10px;
                        &.current {
                            border-color:red;
                        }
                        &.completed {
                            background:#aaa;
                        }
                        &+.dot {
                            margin-left:8px;
                            &:before {
                                height:2px;
                                width:10px;
                                top:2px;
                                position:absolute;
                                background:#aaa;
                                left:-10px;
                                content: " ";
                            }
                        }
                    }
                }
            }
        }
    }

    .approved-bar {
        background:rgba(green, 0.2);
        color:green;
        overflow:hidden;
        margin-bottom:30px;
        padding:10px;
        i {
            margin-right:5px;
            vertical-align:bottom;
            @include font-size(14, 26);
        }
        .text {
            margin-right:5px;
            vertical-align:bottom;
            @include font-size(14, 26);
        }
        .pure-button {
            background:transparent;
            border:1px solid green;
            color:green;
            @include font-size(12, 12);
        }
    }
    .panels {
        overflow-y:hidden;

        .lhs {
            &.fixed {
                .lhs-content {
                    overflow-y:hidden;
                    position:fixed;
                    top:10px;
                    bottom:10px;
                    .panes {
                        position:absolute;
                        top:32px;
                        left:0;
                        right:0;
                        bottom:0;
                    }
                }
            }
            .lhs-content {
                .panes {
                    border:solid #ddd;
                    border-width:0 1px 1px 1px;
                }
            }
        }
        .rhs {
            overflow:hidden;
            padding-left:50px;
            .pane {
                padding:20px 0;
            }
        }

    }
    .pane.test-suite {
        h3 {
            padding:10px;
            font-weight:500;
            @include font-size(16, 16);
        }
        pre+h3 {
            margin-top:30px;
        }
    }
    .pane.solution, .pane.test-suite {
        pre {
            margin:0;
            background:#fafafa;
            padding-bottom:0;
            code[class*="language-"] {
                font-size:12px;
            }
        }
    }
    .discussion {
        .discussion-header {
            padding:10px 0;
            border-bottom:1px solid #ddd;
            margin-bottom:20px;

            h3 {
                font-weight:400;
                color:#333;
            }
            a {
                @include font-size(12, 12);
                float:right;
                color:#666;
                text-decoration:none;
            }
        }
        .post {
            margin-bottom:25px;
            overflow:hidden;
            .avatar {
                margin-right:3%;
                float:left;
                min-width:35px;
                width:8%;
                display:block;
            }
            .post-body {
                min-width:100px;
                width:89%;
                float:left;
            }

            .post-header {
                padding:10px 0;
                overflow:hidden;
                @include font-size(12, 12);
                height:35px;
                .user-name {
                    display:inline-block;
                    color:#333;
                    font-weight:600;
                    margin-right:5px;
                }
                .user-status {
                    display:inline-block;
                    color:#999;
                    font-weight:400;
                }
                .created-at {
                    float:right;
                    color:#999;
                }
            }
            .post-html {
                * {
                    @include font-size(14, 19);
                }
                &>* {
                    margin-bottom:10px;
                }
            }
        }
        form {
            margin:20px 0;
            textarea, .preview-area {
                width:100%;
                height:200px;
                resize:none;
                padding:10px;
                border:1px solid #ddd;
            }
            .CodeMirror {
                .cm-header{color:#00f}
                .cm-s-default .cm-quote{color:#090}
                .cm-negative{color:#d44}
                .cm-positive{color:#292}
                .cm-header, .cm-strong{font-weight:300}
                .cm-em{font-style:normal}
                .cm-link{text-decoration:underline}
                .cm-strikethrough{text-decoration:line-through}
                .cm-s-default .cm-keyword{color:#333}
                .cm-s-default .cm-atom{color:#333}
                .cm-s-default .cm-number{color:#333}
                .cm-s-default .cm-def{color:#333}
                .cm-s-default .cm-variable-2{color:#333}
                .cm-s-default .cm-variable-3{color:#333}
                .cm-s-default .cm-comment{color:#333}
                .cm-s-default .cm-string{color:#333}
                .cm-s-default .cm-string-2{color:#333}
                .cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#333}
                .cm-s-default .cm-builtin{color:#333}
                .cm-s-default .cm-bracket{color:#333}
                .cm-s-default .cm-tag{color:#333}
                .cm-s-default .cm-attribute{color:#333}
                .cm-s-default .cm-hr{color:#333}
                .cm-s-default .cm-link{color:#333}
                .cm-invalidchar,.cm-s-default .cm-error{color:#333}
                .cm-header-1,
                .cm-header-2,
                .cm-header-3,
                .cm-header-4 { @include font-size(14, 18); color:#333 }
            }
        }
        .solution pre,
        .post-html pre,
        .new-discussion-post-form .preview-area pre {
            border:1px solid #f3f3f3;
            background:#fafafa;
            code[class*="language-"] {
                &, * {
                    font-size:12px;
                }
            }
        }
        .next-steps {
            background:rgba(green, 0.1);
            padding:20px;
            h3 {
                @include font-size(14, 14);
                font-weight:400;
                color:rgba(green, 0.5);
                margin-bottom:10px;
            }
            p {
                @include font-size(14, 18);
                padding-left:16px;
            }
        }
    }
}
