@import 'variables';
@import 'mixins';

#modal-wrapper #modal.solution-walkthrough {
    padding:25px;
    .header {
        @include font-size(18, 18);
        font-weight:$regular;
        margin-bottom:10px;
    }
    .content {
        @include font-size(14, 21);
        margin-bottom:15px;
        pre {
            border: 1px solid #ddd;
            padding: 10px;
            background:#fafafa;
        }
    }
    button {
        background:$color-1;
        color:#fff;
        margin-right:5px;
    }
}

