@import 'variables';
@import 'mixins';

#my-solution-unlocked-page {
    .track-header {
        margin-bottom:30px !important;
    }

    .lhs {
        padding-right:60px;
    }
    .rhs {
        padding-left:60px;
        border-left:1px solid #e5e5e5;
    }

    .instructions {
        h2 {
            @include font-size(18, 18);
            font-weight:$regular;
            margin-bottom:15px;
        }

        .rendered {
            h1,h2,h3,h4,h5,h6 {
                font-weight:$regular;
                @include font-size(16, 16);
                margin-bottom:7px;
            }
            h1 {
                @include font-size(18, 18);
                font-weight:$regular;
                margin-bottom:15px;
            }
            h2 {
                @include font-size(14, 14);
                padding-bottom:3px;
                border-bottom:1px solid #eee;
                margin-bottom:10px;
            }
            p {
                @include font-size(14, 20);
                margin-bottom:7px;
            }
            p+h2 {
                margin-top:20px;
            }
            pre {
                margin-bottom:10px;
                background:#f6f6f6;
            }
            code {
                @include font-size(12, 12);
                color:#666;
            }
            a {
                color:#333;
                text-decoration:none;
                border-bottom:1px solid #ccc;
                font-weight:$light;
            }

        }
        .pure-button {
            margin-top:15px;
            background:$color-1;
            color:#fff;
        }
    }

    .experienced {
        padding:20px;
        border:1px solid #e5e5e5;
        border-radius:2px;

        h3 {
            font-weight:$regular;
            @include font-size(16, 16);
            margin-bottom:12px;
        }
        .code-frame {
            border:1px solid #e5e5e5;
            position:relative;
            padding:8px 10px;
            background:#fafafa;
            button {
                position:absolute;
                right:-1px;
                top:-1px;
                bottom:-1px;
                background:$color-1;
                border-radius:2px 2px 0 0;
                @include font-size(12, 12);
                font-weight:$regular;
                padding:0 10px;
            }
            input {
                background:transparent;
                display:block;
                border:none;
                border-radius:2px;
                margin:0;
                color:#999;
                white-space:normal;
                padding:0;
                font-family:monospace;
                @include font-size(12, 12);
                outline:none;
                width:280px;
            }
        }
    }
    .newbie {
        background:#fafffe;
        border:1px solid $color-1;
        padding:20px;
        border-radius:2px;
        margin-bottom:30px;

        h3 {
            font-weight:$regular;
            @include font-size(16, 16);
            margin-bottom:10px;
        }
        p {
            @include font-size(13, 18);
            margin-bottom:10px;
        }
        .pure-button {
            background:$color-1;
            color:#fff;
            display:block;
            width:100%;
            padding:10px;
        }
    }
}
