@import 'variables';
@import 'mixins';

#my-settings-page {
    #nav {
        margin-bottom:30px;
    }
    #notice, #alert, #errors {
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .lhs {
        border-right:1px solid #eee;
        padding-right:30px;
    }
    .rhs {
        padding-left:30px;
    }
    h1 {
        @include font-size(25, 25);
        font-weight:$bold;
        margin-bottom:30px;
        color:#555;
    }
    h2 {
        @include font-size(18, 18);
        font-weight:$bold;
        margin-bottom:10px;
        color:#555;
    }
    p {
        @include font-size(14, 14);
        font-weight:$light;
        margin-bottom:15px;
        padding-bottom:15px;
        display:inline-block;
        color:#999;
        border-bottom:1px solid #eee;

    }
    .field {
        margin-bottom:15px;
        label {
            display:block;
            color:#999;
            @include font-size(14, 14);
            margin-bottom:6px;
        }
        input {
            padding:8px 10px;
            width:250px;
            border:1px solid #ddd;
            border-radius:2px;
        }
    }
    .pure-button {
        background:$color-2;
        color:#fff;
        padding:8px 20px;
    }
    .track {
        margin-bottom:10px;
        position:relative;
        .title {
            display:inline-block;
            width:210px;
        }
        input[type='checkbox'] {
            display:inline-block;
            position:absolute;
            width:20px;
            height:40px;
            cursor:pointer;
            opacity:0;
            &:checked {
                &+.toggles {
                    i.fa.fa-toggle-on { display:block; }
                    i.fa.fa-toggle-off { display:none; }
                }
                &+.toggles+input {
                    visibility:visible;
                }
            }
        }
        .toggles {
            display:inline-block;
            @include font-size(18, 18);
            margin-right:15px;
            i.fa.fa-toggle-on {
                display:none;
                color: $color-2;
            }
            i.fa.fa-toggle-off { 
                display:block;
                color: #aaa;
            }
        }
        input[type='text'] {
            visibility: hidden;
            width:220px;
            padding:8px 10px;
            width:250px;
            border:1px solid #ddd;
            border-radius:2px;
        }
    }
}
