@import 'variables';
@import 'mixins';

body.namespace-my.controller-tracks.action-show {
    footer {
        background:#fff;
    }
}
#my-track-page {
    .lo-internal-nav-bar {
        margin-bottom:0;
    }
    .header {
        background-color: $header-color-1;
        .h1-subtitle {
            @include font-size(12, 12);
            color:#fff;
            opacity:0.75;
            font-weight:$light;
        }
        .num-solutions {
            float:right;
            color:#ededed;
            font-weight:$bold;
            @include font-size(11, 14);
            text-transform:uppercase;
        }
        .status {
            position:relative;
            float:right;
            margin-top:40px;
            background:#fff;
            color:333;
            @include font-size(10, 10);
            font-weight:$regular;
            border-radius:5px;
            border:1px solid $color-1;
            text-transform:uppercase;
            color:#555;
            font-weight:500;
            padding:9px 15px;
        }
        .stats {
            float:right;
            .stat {
                display:inline-block;
                color:#fff;
                @include font-size(11, 14);
                text-transform:uppercase;
                padding-left:20px;
                margin-left:20px;
                &+.stat {
                    border-left:1px solid rgba(#fff, 0.5);
                }
            }
        }
    }
    .top-section {
        border-bottom:5px solid #fff;
    }
    .core-exercises {
        padding-top:42px;
        margin-bottom:45px;
        position:relative;
        &:before {
            content: "";
            position:absolute;
            top:0px;
            bottom:50px;
            left:0;
            background:$background-grey-1;
            width:2px;
        }
        .exercise {
            display:block;
            color:#333;
            text-decoration:none;
            border:1px solid $line-color-1;
            border-radius:2px;
            padding:20px 25px;
            margin-bottom:15px;
            margin-left:60px;
            height:100px;
            position:relative;
            background:#fff;

            &:after {
                position:absolute;
                content: "";
                top:50%;
                left:-36px;
                width:35px;
                height:1px;
                background:$background-grey-1;
            }

            .circle {
                position:absolute;
                top:23px;
                left:-86px;
                border-radius:100%;
                width:50px;
                height:50px;
                background:#eee;
            }
            .status {
                float:right;
                @include font-size(12, 12);
                letter-spacing:-0.5px;
                text-transform:uppercase;
                font-weight:$regular;
                color:#ccc;
            }
            .position {
                @include font-size(10, 10);
                font-weight:$light;
                letter-spacing:-0.0px;
                color:#ccc;
                margin-bottom:5px;
                display:none;
            }
            .title {
                font-weight:$bold;
                @include font-size(20, 20);
                color:#ccc;
                margin-bottom:5px;
            }
            .blurb {
                font-weight:$regular;
                @include font-size(13, 16);
                color:#ccc;
                overflow:hidden;
                max-height:32px;
                max-width:400px;
            }
            .topics {
                display:inline-block;
                vertical-align:bottom;
                max-width: 300px;
                overflow: hidden;
                max-height: 23px;
                margin-bottom:0px;

                .topic {
                    display:inline-block;
                    @include font-size(11, 11);
                    font-weight:$regular;
                    margin-left:10px;
                    background:#eee;
                    color:#999;
                    padding:3px 6px 4px;
                    border-radius:2px;
                }
            }
            &.locked {
                .circle {
                    img {
                        height:30px;
                        display:block;
                        margin:10px auto;
                    }
                }
            }
            &.in-progress {
                border:1px solid $color-1;
                box-shadow:0 0 0 1px $color-1;
                background:#fff;
                &:after {
                    left:-34px;
                    width:33px;
                }
                .circle {
                    border:2px solid $color-1;
                    background:$color-1;
                    img {
                        height:30px;
                        display:block;
                        margin:11px auto;
                    }
                    &:before {
                        position:absolute;
                        content: "";
                        top:0;
                        left:0;
                        right:0;
                        bottom:0;
                        border-radius:100%;
                        border:2px solid #fff;
                    }
                    top:21px;
                    left:-88px;
                    width:55px;
                    height:55px;
                }
                &:after {
                    height:2px;
                    background:$color-1;
                }
                .status {
                    color:#999;
                }
            }
            &.completed {
                border-color:$color-1;
                &:after {
                    background:$color-1;
                }
                .circle {
                    border:2px solid $color-1;
                    background:#fff;
                    img {
                        width:20px;
                        display:block;
                        margin:16px auto;
                    }
                }
                .status {
                    color:$color-1;
                }
            }
            &.in-progress, &.completed {
                &:hover {
                    background:rgba($color-1, 0.05);
                }

                .title {
                    color:#333;
                }
                .position {
                    color:#999;
                }
                .blurb {
                    color:#999;
                }

                &:before {
                    position:absolute;
                    content: "";
                    bottom:50%;
                    left:-61px;
                    height:92px;
                    width:2px;
                    background:$color-1;
                }
            }

        }
    }
    .progress-section {
        padding: 30px 30px 15px 30px;
        background:#f9f9f9;
        border-radius:2px;
        margin-top:42px;
        margin-left:100px;
        h2 {
            color:$color-2;
            font-weight:$bold;
            text-transform:uppercase;
            @include font-size(14, 14);
            letter-spacing:-0.7px;
            margin-bottom:3px;
            text-align:right;
        }
        .h2-subtitle {
            font-weight:$regular;
            @include font-size(13, 13);
            letter-spacing:-0.8px;
            color:#aaa;
            margin-bottom:30px;
            text-align:right;
        }
        .core, .topics, .side {
            background:#fff;
            padding:20px 30px;
            margin-bottom:15px;
            h3 {
                @include font-size(13, 13);
                letter-spacing:-0.4px;
                font-weight:$regular;
                border-bottom:1px solid #f1f1f1;
                color:#777;
                margin-bottom:15px;
                padding-bottom:5px;
            }
        }
        .core {
            .percentage {
                color:$color-2;
                @include font-size(25, 25);
                font-weight:$regular;
                float:left;
                margin-right:20px;
            }
            .number {
                @include font-size(12, 12);
                color:#bbb;
                font-weight:$regular;
                margin-bottom:3px;
            }
            .completed {
                @include font-size(10, 10);
                font-weight:$regular;
                color:#bbb;
            }
        }
        .topics {
            .extra-button {
                display:block;
                background:#fff;
                color:$color-2;
                border:1px solid rgba($color-2, 0.5);
                @include font-size(12, 12);
                padding:9px;
                width:100%;
                margin:10px 0;
                &:hover {
                    background:$color-2;
                    border-color:$color-2;
                    color:#fff;
                }
            }
            .extra {
                display:none;
            }

            .topic {
                overflow:hidden;
                margin-bottom:5px;
                @include font-size(12, 12);
                color:#9F9F9F;
                font-weight:$regular;
                .bar {
                    width:80%;
                    float:left;
                    position:relative;
                    padding:5px 5px 6px;
                    .filled {
                        background:rgba($color-2, 0.1);
                        position:absolute;
                        top:0;
                        bottom:0;
                        left:0;
                        border-radius:2px;
                    }
                    .title {
                        position:relative;
                        font-weight:$regular;
                    }
                }
                .percentage {
                    padding-top:5px;
                    width:20%;
                    text-align:right;
                    float:right;
                }
            }
        }
        .side {
            .completed {
                float:right;
                @include font-size(11, 11);
                color:#9F9F9F;
            }
            .squares {
                overflow:hidden;
                margin-bottom:15px;
                .square {
                    margin:3px;
                    background:#f3f3f3;
                    border-radius:2px;
                    width:15px;
                    height:15px;
                    float:left;
                    &.completed {
                        background:$color-2;
                    }
                }
            }
            .pure-button {
                background:#fff;
                color:$color-2;
                border:1px solid rgba($color-2, 0.5);
                @include font-size(12, 12);
                padding:9px;
                display:block;
                width:100%;
                &:hover {
                    background:$color-2;
                    border-color:$color-2;
                    color:#fff;
                }
            }
        }
    }

    .side-exercises {
        .num-extra-exercises {
            float:right;
            padding-top:5px;
            padding-right:25px;
            font-weight:$regular;
            color:#999;
        }

        .filters {
            margin-bottom:20px;
        }
    }
    .deprecated-exercises,
    .side-exercises {
        background:#f9f9f9;
        padding:45px 0;
        h2 {
            @include font-size(20, 20);
            font-weight:$bold;
            margin-bottom:7px;
        }
        .h2-subtitle {
            @include font-size(14, 14);
            font-weight:$light;
            color:#999;
            margin-bottom:35px;
        }
        .widget-side-exercise {
            margin: 0 20px 20px 0;
        }
    }
}

#modal.my-track-started,
#modal.my-track-finished {
    padding:60px 50px 50px 50px;
    img {
        display:block;
        width:100px;
        margin: 0 auto 15px auto;
    }
    h2 {
        @include font-size(20, 20);
        font-weight:$regular;
        color:#555;
        margin-bottom:4px;
        text-align:center;
        i {
            margin-right:5px;
        }
    }
    h3 {
        @include font-size(14, 14);
        color:#555;
        font-weight:$light;
        text-align:center;
        margin-bottom:30px;
    }
    p {
        text-align:center;
        color:#555;
        @include font-size(14, 20);
        margin-bottom:30px;
    }
    .pure-button {
        background:$color-1;
        display:block;
        width:280px;
        padding:11px 10px;
        text-align:center;
        margin: 0 auto;
    }
}
