@import 'variables';
@import 'mixins';
#my-tracks-page {
    .header {
        background: $header-color-1;
        padding:0 0 35px;

        h1 {
            padding-top:20px;
            @include font-size(34, 34);
            font-weight:$bold;
            margin-bottom:5px;
            color:#fff;
        }
        .h1-subtitle {
            @include font-size(12, 14);
            color:#fff;
            font-weight:200;
        }
    }
    form {
        margin-bottom:20px;
        padding:10px 0 0 0;
        input {
            @include font-size(12, 12);
            border:1px solid #aaa;
            padding:5px 10px;
        }
    }
    h2 {
        @include font-size(20, 20);
        font-weight:$bold;
        margin-bottom:10px;
    }
    .track {
        display:block;
        background:#fff;
        color:#333;
        text-decoration:none;
        border:1px solid #aaa;
        padding:20px;
        margin: 0 20px 20px 0;
        height:120px;
        position:relative;

        &:hover {
            border-color:green;
        }

        .status {
            float:right;
            display:none;
        }

        .icon {
            display:block;
            width:70px;
            height:70px;
            padding:10px;
            float:left;
            margin-right:15px;
            background-color:#eee;
            .img {
                width:50px;
                height:50px;
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center center;
            }
        }
        .title {
            @include font-size(18, 18);
            font-weight:900;
            margin-bottom:10px;
            margin-right:5px;
            display:inline-block;
        }
        .num-exercises {
            background:#eee;
            @include font-size(10, 10);
            //text-transform:uppercase;
            padding:3px 7px;
            display:inline-block;
        }
        .enrolled {
            i {
                color:#aaa;
            }
            span {
                @include font-size(12, 12);
            }
        }

        &.joined {
        }
    }
}
