@import 'variables';
@import 'mixins';

#onboarding-page {
    .lhs {
        padding-top:30px;
        @include width-medium() {
            padding-right:30px;
        }
    }
    .rhs {
        padding-top:30px;
        @include width-medium() {
            padding-top:0;
            padding-left:50px;
        }
        #widget-code-person {
            display:none;
            width:460px;
            @include width-medium() {
                display:block;
            }
        }
    }
    h1 {
        @include font-size(22, 22);
        font-weight:$fw-regular;
        color:#555;
        border-bottom:1px solid #ddd;
        padding-bottom:10px;
        margin-bottom:15px;
    }
    .section {
        padding-top:20px;
        //margin-bottom:15px;
    }
    h1+p {
        padding-bottom:0;
    }
    p+section {
        margin-top:10px;
    }
    h2 {
        @include font-size(16, 16);
        font-weight:$regular;
        margin-bottom:7px;
        color:$color-2;
    }
    p {
        @include font-size(14, 18);
        padding-bottom:12px;
        strong {
            font-weight:$bold;
        }
        a {
            color:#666;
            font-weight:$regular;
        }
    }

    label {
        background:rgba($color-2, 0.1);
        padding:10px;
        border-radius:2px;
        margin-bottom:10px;
        display:block;
        cursor:pointer;
        @include font-size(14, 16);
        input {
            float:left;
            margin-right:8px;
            @include font-size(16, 16);
            margin-top:1px;
        }
    }

    .pure-button {
        background:$color-2;
        color:#fff;
        margin-top:20px;
        padding:10px 20px;
        display:block;
        width:100%;
    }
}

