@import 'variables';
@import 'mixins';

#profile-page {
    .header {
        background: $header-color-2;
        margin-bottom:30px;
        h1 {
            padding-top:100px;
            @include font-size(34, 34);
            font-weight:$bold;
            margin-bottom:5px;
            color:#fff;
        }
        .h1-subtitle,
        .num-solutions {
            color:#fff;
            padding-bottom:35px;
        }
        .h1-subtitle {
            @include font-size(14, 14);
            font-weight:200;
        }
        .num-solutions {
            float:right;
            color:#ededed;
            font-weight:$bold;
            @include font-size(11, 14);
            text-transform:uppercase;
        }
    }
    .lhs {
        padding:0 30px 30px 0;
        .sidebar {
            background: #f8f8f8;
            padding:30px;
            border-radius:2px;
            .avatar {
                display:block;
                width:100px;
                height:100px;
                border-radius:100%;
                margin: 0 auto 20px auto;
            }
            .name {
                @include font-size(20, 20);
                font-weight:$black;
                text-align:center;
                margin-bottom:5px;
            }
            .location {
                text-align:center;
                @include font-size(12, 12);
                font-weight:$bold;
                color:#aaa;
                margin-bottom:10px;
            }
            .bio {
                @include font-size(14, 19);
                color:#666;
                text-align:center;
            }
            .hr {
                border-bottom:1px solid #e8e8e8;
                margin: 20px 0;
            }
            h3 {
                text-transform:uppercase;
                color:#888;
                font-weight:$regular;
                @include font-size(12, 12);
                margin-bottom:15px;
            }
            .admin-badge {
                border:1px solid green;
                background:lightgreen;
                color:#fff;
            }
        }
    }
}

