@import 'mixins';

#my-solution-unlocked-page,
#my-solution-page,
#mentor-solution-page {
    .panels {
        .rhs {
            overflow:hidden;
            margin-top:30px;
            margin-bottom:30px;
            @include width-medium() {
                margin-top:0;
                margin-bottom:0;
                padding-left:50px;
            }
        }
    }
}
