@import 'variables';
@import 'mixins';

#solution-page,
#mentor-solution-page,
#my-solution-page,
#teams-solution-page,
#teams-my-solution-page {
    .pane.instructions {
        padding:20px 30px;
        h1,h2,h3,h4,h5,h6 {
            font-weight:$regular;
            @include font-size(16, 16);
            margin-bottom:7px;
        }
        h1 {
            @include font-size(18, 18);
            font-weight:$bold;
            margin-bottom:15px;
        }
        h2 {
            @include font-size(14, 14);
            padding-bottom:3px;
            border-bottom:1px solid #eee;
            margin-bottom:10px;
        }
        p {
            @include font-size(14, 20);
            margin-bottom:7px;
        }
        p+h2 {
            margin-top:20px;
        }
        a {
            color:#333;
        }

    }
    .solution.single-file {
        .solution-code {
            min-height:200px;
            margin:0;
            padding:10px 15px 10px 45px;
            @include width-small() {
                padding: 10px 15px 10px 55px;
            }
        }
    }

    .test-suite,
    .solution.multi-file {
        background:#f9f9f9;
        h3 {
            padding:10px 50px 10px 27px;
            font-weight:500;
            @include font-size(13, 13);
            background:#eee;
            color:#666;
            border-bottom:1px solid #ddd;
            margin-bottom:5px;
        }
        pre+h3 {
            margin-top:10px;
        }
        pre {
            padding-top:10px;
            margin-right: 10px;
        }
    }
    .test-suite pre {
        background:#f9f9f9;
    }
    .solution pre {
        background:#fff;
    }

    .solution, .test-suite {
        pre {
            padding-top:0;
            padding-bottom:0;
        }
    }
    .lhs-content {
        .panes {
            border:1px solid #ddd;
            border-radius:2px;
        }
    }
    .new-discussion-post {
        form {
            margin:0px 0 20px 0;
            .md-editor, .preview-area {
                width:100%;
                resize:none;
                border:1px solid #ddd;
            }
            .preview-area {
                height:248px;
                overflow:auto;
                padding:15px;
            }
        }
    }
}

body:not(.prism-dark) #solution-page,
body:not(.prism-dark) #mentor-solution-page,
body:not(.prism-dark) #my-solution-page,
body:not(.prism-dark) #teams-solution-page,
body:not(.prism-dark) #teams-my-solution-page {
    .pane.instructions {
        pre {
            margin-bottom:10px;
            background:#f6f6f6;
        }
        code {
            @include font-size(12, 12);
            color:#666;
        }
    }
}

#solution-page {
    .header {
        margin-top:20px;
        border:1px solid #e5e5e5;
        border-radius:2px;
        padding:22px 20px;
        margin-bottom:30px;

        .avatar {
            display:block;
            width:75px;
            height:75px;
            float:right;
            background-color:#fff;
            margin-top: -10px;
            border:3px solid $color-2;
            border-radius: 100%;
            overflow:hidden;
            @include width-medium() {
                float:left;
                margin-right:15px;
                margin-left: -60px;
            }
            .img {
                width:60px;
                height:60px;
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center center;
            }
        }
        h1 {
            @include font-size(25, 25);
            font-weight:$bold;
            margin-bottom:7px;
        }
        h2 {
            @include font-size(15, 15);
            color:#999;
            letter-spacing:-0.1px;
            line-height: 20px;
            a {
                color:#999;
                text-decoration:none;
                font-weight:$regular;
                border-bottom:1px solid #ddd;
            }
            .track {
                color:#333;
                text-decoration:none;
                img {
                    width:20px;
                    display:inline-block;
                }
                .title {
                    @include font-size(14, 18);
                    font-weight:300;
                    display:inline-block;
                    color:green;
                }
            }
        }
        .reactions-desktop {
            display:none;
            @include width-medium() {
                display:block;
            }
        }
        .reactions-mobile {
            margin-top:10px;
            @include width-medium() {
                display:none;
            }
        }
        .reactions {
            background:#fafafa;
            border:1px solid #eee;
            border-radius:2px;
            overflow:hidden;
            display:inline-block;
            @include width-medium() {
                float:right;
            }
            .reaction {
                float:left;
                border-right:1px solid #eee;
                padding:5px 8px;
                @include width-small() {
                    padding:10px 16px;
                }
                &:last-child {
                    border:none;
                }
                &.highlight {
                    i, .count {
                        color:$color-2;
                    }
                }
                .count {
                    display:inline-block;
                    @include font-size(13, 13);
                    font-weight:$regular;
                    color:#888;
                }
                i, img {
                    display:inline-block;
                    margin-right:5px;
                }

                i {
                    @include font-size(14, 14);
                    color:#aaa;
                    @include width-small() {
                        @include font-size(20, 20);
                    }
                }
                img {
                    vertical-align:bottom;
                    height:20px;
                }
            }
        }
    }

    .react {
        margin-top:10px;
        margin-bottom:10px;
        border:1px solid #ddd;
        padding:10px;
        width:315px;
        max-width: 100%;
        float:right;
        h3 {
            float:left;
            border-right:2px solid #aaa;
            margin:5px 5px 5px 0;
            padding:8px 10px;
            font-weight:$regular;
        }
        a {
            float:left;
            padding:10px 9px;
            color:#666;
            position:relative;
            .hover {
                display:none;
                background:#fff;
                color:#666;
                font-weight:$regular;
                border:1px solid #ccc;
                padding:6px 8px;
                width:78px;
                @include font-size(13, 13);
                position:absolute;
                top:-27px;
                left: 50%;
                margin-left: -39px;
                border-radius:2px;
                text-align:center;

                &:before,
                &:after {
                    content: "\f0d7";
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 900;
                    position:absolute;
                    left:50%;
                }
                &:before {
                    bottom:-11px;
                    @include font-size(16, 16);
                    margin-left:-5px;
                    color:#ccc;
                }
                &:after {
                    bottom:-6px;
                    @include font-size(14, 14);
                    color:#fff;
                    margin-left:-4px;
                    bottom:-9px;
                }
            }
            &:hover {
                background:#eee;
                border-radius:2px;
                .hover {
                    display:block;
                }
            }
            i, img {
                display:inline-block;
            }

            i {
                @include font-size(20, 20);
                color:#aaa;
            }
            img {
                vertical-align:text-bottom;
                height:20px;
                &.selected { display:none; }
            }
            &.selected {
                i { color: $color-2 }
                img.selected { display:inline-block; }
                img.not-selected { display:none }
            }
        }
    }
    .no-reflection,
    .reflection {
        margin: 15px 0 30px 0;
        @include width-medium() {
           margin:48px 0 0 50px; 
        }
        padding:40px 40px;
        h3 {
            @include font-size(16, 16);
            font-weight:$regular;
            margin-bottom:10px;
        }
    }
    .reflection {
        background:#fafafa;
        p {
            @include font-size(14, 19);
        }
    }
    .no-reflection {
        border:1px solid #ccc;
        border-radius:2px;
        p, li {
            @include font-size(14, 19);
            color:#666;
        }
        p {
            margin-bottom:10px;
        }
        ul {
            margin-bottom:0;
        }
    }
    .comments-section {
        background:#f5f5f5;
        border-top:1px solid #eee;
        padding-top:20px;
        margin-top:20px;
        clear:both;
        h2 {
            @include font-size(18, 18);
            letter-spacing:-0.4px;
            font-weight: $regular;
            margin-bottom:5px;
        }
        .h2-subtitle {
            @include font-size(14, 14);
            color:#666;
            margin-bottom:20px;
        }
        .comment {
            margin-bottom:20px;
            border:1px solid #ccc;
            border-radius:2px;
            padding:30px;
            background:#fff;
            .content {
                border-left:3px solid #f0f0f0;
                padding-left:15px;
            }
            i {
                float:left;
                @include font-size(30, 30);
                color:$color-2;
                padding:5px 0;
            }
            img {
                float:left;
                width:30px;
            }
            .when {
                float:right;
                color:#c4c4c4;
                @include font-size(12, 12);
            }
            .who {
                @include font-size(14, 16);
                vertical-align:bottom;
                color:#888;
                margin-bottom:5px;
                strong {
                    @include font-size(16, 16);
                    vertical-align:bottom;
                    font-weight:$regular;
                    color:#333;
                }
            }
            .text {
                word-wrap:break-word;
                &, * {
                    @include font-size(14, 20);
                }
                p {
                    @include font-size(14, 20);
                    margin-bottom:10px;
                    &:last-child {
                        margin-bottom:0;
                    }
                }
            }
        }
    }
}

body.prism-dark {
    #solution-page,
    #mentor-solution-page,
    #my-solution-page,
    #teams-solution-page,
    #teams-my-solution-page {
        .test-suite,
        .solution.multi-file {
            background:#272822;
        }
        .test-suite pre {
            background:#272822;
        }
        .solution pre {
            background:#272822;
        }
    }
}

