@import 'variables';
@import 'mixins';

body.controller-solutions {
    footer {
        display:none;
    }
}

#solution-iterating-page {
    .placeholder-header {
        padding:50px;
        background:#fff;
    }
    .panels {
        overflow-y:hidden;

        .lhs {
            &.fixed {
                .lhs-content {
                    overflow-y:hidden;
                    position:fixed;
                    top:10px;
                    bottom:10px;
                    .panes {
                        position:absolute;
                        top:30px;
                        left:0;
                        right:0;
                        bottom:0;
                    }
                }
            }
            .lhs-content {
                .panes {
                    border:solid #ddd;
                    border-width:0 1px 1px 1px;
                }
            }
        }
        .rhs {
            overflow:hidden;
            padding-left:50px;
            .pane {
                padding:20px 0;
            }
        }

    }
    .pane.solution {
        pre {
            margin:0;
            background:#fafafa;
            padding-bottom:0;
            code[class*="language-"] {
                font-size:12px;
            }
        }
    }
    .discussion {
        .discussion-header {
            padding:10px 0;
            border-bottom:1px solid #ddd;
            margin-bottom:20px;

            h3 {
                font-weight:400;
                color:#333;
            }
            a {
                @include font-size(12, 12);
                float:right;
                color:#666;
                text-decoration:none;
            }
        }
        .post {
            margin-bottom:25px;
            overflow:hidden;
            .avatar {
                margin-right:3%;
                float:left;
                min-width:35px;
                width:8%;
                display:block;
            }
            .post-body {
                min-width:100px;
                width:89%;
                float:left;
            }

            .post-header {
                padding:10px 0;
                overflow:hidden;
                @include font-size(12, 12);
                height:35px;
                .user-name {
                    display:inline-block;
                    color:#333;
                    font-weight:600;
                    margin-right:5px;
                }
                .user-status {
                    display:inline-block;
                    color:#999;
                    font-weight:400;
                }
                .created-at {
                    float:right;
                    color:#999;
                }
            }
            .post-html {
                * {
                    @include font-size(14, 19);
                }
                &>* {
                    margin-bottom:10px;
                }
            }
        }
        form {
            margin:20px 0;
            textarea, .preview-area {
                width:100%;
                height:200px;
                resize:none;
                padding:10px;
                border:1px solid #ddd;
            }
        }
        pre {
            border:1px solid #f3f3f3;
            background:#fafafa;
            code[class*="language-"] {
                &, * {
                    font-size:12px;
                }
            }
        }
        .next-steps {
            background:rgba(green, 0.1);
            padding:20px;
            h3 {
                @include font-size(14, 14);
                font-weight:400;
                color:rgba(green, 0.5);
                margin-bottom:10px;
            }
            p {
                @include font-size(14, 18);
                padding-left:16px;
            }
        }
    }
}
