@import 'variables';
@import 'mixins';

#team-page {
    .header {
        background-image:image-url('background-overlay-2.png');
        background-size:cover;
        background-color:$color-2;
        padding:40px 0 20px 0;
        margin-bottom:40px;
        h1 {
            @include font-size(38, 38);
            @include header-font;
            font-weight:600;
            letter-spacing:-0.3px;
            color:#fff;
        }
    }
    .lhs {
        padding-right:40px;
    }
    .changes {
        margin-top:50px;
        padding-top:20px;
        border-top:1px solid #eee;
    }

    h2 {
        @include header-font;
        font-weight:600;
        text-align:center;
        @include font-size(30, 30);
        margin-bottom:10px;
    }
    p.subheading {
        text-align:center;
        @include font-size(17, 23);
        max-width: 800px;
        color:#999;
        margin: 0px auto 30px auto;
    }
    .core, .maintainers {
        border-bottom:1px solid #eee;
        padding-bottom:30px;
        margin-bottom:60px;
    }
    .widget-maintainer {
        margin:0 20px 40px 20px;
        img {
            filter:none;
        }
        .bio {
            color:#555;
            @include font-size(14, 20);
            letter-spacing:-0.3px;
        }
    }
    .core {
        .pure-u-1-2 {
            &:nth-child(odd) {
                padding-right:20px;
            }
            &:nth-child(even) {
                padding-left:20px;
            }
        }
        .core-person {
            display:block;
            text-decoration:none;
            margin-bottom:30px;
            border:1px solid #ddd;
            border-radius:2px;
            padding:15px;
            &:hover {
                background: #fafafa;
            }

            img {
                display:block;
                width:100%;
                padding-right:20px;
                border-radius:2px;
            }
            h3 {
                color:$color-2;
                @include font-size(18, 18);
                font-weight:$bold;
                margin-bottom:5px;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
            }
            .bio {
                color:#555;
                @include font-size(14, 20);
                letter-spacing:-0.3px;
            }
        }

    }

    .contributors {
        .contributor {
            border:1px solid #ddd;
            border-radius:2px;
            display:block;
            text-decoration:none;
            color:#333;
            margin:10px;
            clear:both;
            &:hover {
                background:#fafafa;
            }

            img {
                display:block;
                width:100%;
                margin-right:20px;
                border-radius:2px 0 0 2px;
                float:left;
                width:66px;
                height:66px;
                border-right:1px solid #ddd;
            }
            h3 {
                color:$color-2;
                @include font-size(16, 18);
                font-weight:$bold;
                margin-bottom:5px;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                padding:12px 15px 0 0;
            }
            .num-contributions {
                color:#555;
                @include font-size(10, 10);
                letter-spacing:-0.3px;
                margin:0 15px 11px 0;
                color:#999;
                font-weight:$regular;
                background:#eee;
                border:1px solid #ddd;
                border-radius:2px;
                display:inline-block;
                padding:3px 6px;
            }
        }
        .pure-button {
            margin-top:10px;
            border:1px solid $color-2;
            background:#fff;
            color:$color-2;
            width:100%;
            padding:15px;
            @include font-size(15, 15);
            &:hover {
                background:$color-2;
                color:#fff;
            }
        }
    }
}
