-return unless user_signed_in?

=link_to [:my, :starred_solutions, solution_id: @solution], class: "pure-button star-button", method: :post, remote: true, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving"} do
  -if current_user.starred_solution?(@solution)
    %i.fas.fa-star
    Starred solution
  -else
    %i.fal.fa-star
    Star this solution
