#admin-dashboard-page
  = breadcrumb_nav do
    %li=current_link "Admin dashboard"

  .lo-container
    %h1 Admin dashboard

    %h2 Users
    =form_tag '/admin/users', method: :get do
      =text_field_tag :id, '', placeholder: "id"
      =text_field_tag :handle, '', placeholder: "handle"
      =button_tag "Search"
