#admin-dashboard-page
  #nav.lo-nav-bar
    .lo-container
      %span Admin Dashboard

  .lo-container
    %h1 Admin Dashboard

    %h2 Users
    =form_tag '/admin/users', method: :get do
      =text_field_tag :id
      =button_tag "Search"
