#teams-new-team-page.teams-page
  .lo-general-header
    .lo-container
      %h1 Create a new team
      .h1-subtitle Create a team for your friends, colleagues or bootcamp

  .lo-container
    =form_for [:teams, @team] do |f|
      .field
        %h3 Team name:
        =f.text_field :name, required: true

      .logo-section
        .field
          %h3 Choose avatar:
          =f.file_field :avatar

      /.field
      /  %h3 Invite team members:
      /  %p Enter your teammates' email addresses, one on each line.
      /  =text_area_tag :emails, '', placeholder: "Email addresses - 1 per line"

      =f.button "Create team", class: 'pure-button'
