#teams-team-page.team-page
  =teams_header

  .lo-container
    %h2 Activity Feed
    .h2-subheading What's been happening in your team.

    -@activities.each do |activity|
      =render "activity_#{activity.class.name.underscore}", activity: activity
