#teams-team-page.team-page
  =teams_header

  .lo-container
    %ul
      %li= link_to "Members", [:teams, @team, :memberships]
      %li= link_to "Your solutions", [:teams, @team, :my_solutions]
      %li= link_to "Everyone's solutions", [:teams, @team, :solutions]
