#research-experiment
  =breadcrumb_nav do
    %li= link_to "Experiments", research_experiments_path

  .research-header
    .lo-container
      .subtitle Live experiment
      %h1= @experiment.title

  .lo-container
    .content
      .pure-g
        .lhs.pure-u-2-3
          %h2 Research Goals
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %h2 Background
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %h2 Eligibility and time commitment
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %h2 Data usage
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %h2 Funding
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

          %h2 Lead researchers
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.

        .rhs.pure-u-1-3
          .at-a-glance
            %h3 At a glance
            %p A quick overview of what this involves.

            %ul
              %li
                %strong Seeking:
                programmers
              %li
                %strong Time:
                1 hour - 5 hours
              %li
                %strong Location:
                Remote
              %li
                %strong Task:
                Programming challenges

            / TODO - Kntsoriano
            / If the user has joined the challenge (research_user_experiment exists) then it should say "View Progress" and link to the user_experiment page
            / If the user has joined research but not this challenge, there should have a link to particpate
            / If the user has not joined research, there should be a link to "Join Exericsm Research" which takes to the research home page.
            =button_to "Participate", research_user_experiments_path(experiment_id: @experiment), form_class: "pure-button participate-btn"

            .partners
              %h3 Research Partners
              %ul
                %li University of Chicago
                %li University of Wisconsin Madison
                %li The Sloan Foundation
