#my-reactions-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      %span Solutions you've liked

  .header
    .lo-container
      %h1 Solutions you've liked
      .h1-subtitle Learn from solutions that interest you

  .lo-container
    .pure-g
      -@solutions.each do |solution|
        .pure-u-1.pure-u-md-1-3
          =render "solutions/solution", solution: solution, track: solution.exercise.track, exercise: solution.exercise, user_track: @user_tracks[solution.user_id]

    =paginate @solutions

