.header
  .lo-container
    %h1 The Exercism Team
    %h3
      The Exercism team is made up of our
      our #{link_to "core team", team_page_path},
      our #{link_to "track maintainers", maintainers_team_page_path},
      our #{link_to "mentors", mentors_team_page_path},
      and #{link_to "volunteer contributors", contributors_team_page_path}.
