#team-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      =nav_divider
      =link_to "The Exercism Team", team_page_path
      =nav_divider
      %span Our Contributors
  =render "header"

  %h2 Our Volunteer Contributors
  %p.subheading Exercism could not be the success it is without the contributors of over 1,000 volunteers, who contribute in every way imaginable.
  =cache ["pages/team/contributors", @last_updated_at, @page] do
    .contributors
      .lo-container
        .pure-g
          -@contributors.each do |contributor|
            .pure-u-1-4= contributor_widget(contributor)
        =paginate(@contributors)

