#team-members-page.lo-organisation-page
  =render "pages/organisation_menu", selected: "team"

  %section.organisation-top-banner-section
    .lo-container
      .inner
        %h1
          .subtitle The people behind Exercism
          .strong Codebase Contributors

  %section
    .lo-container
      %h2 Codebase Contributors
      %p.subheading Exercism could not be the success it is without the contributors of over 1,000 volunteers, who contribute in every way imaginable.
      =cache ["pages/team/contributors/with_maintainers", @last_updated_at, @page] do
        .people
          -@contributors.each do |contributor|
            .person.contributor
              .pure-g
                .pure-u-1-3
                  = contributor_image(contributor)
                .pure-u-2-3
                  %h3= contributor.github_username
                  .bio= pluralize contributor.num_contributions, "contribution"
                  =link_to "GitHub profile", "https://github.com/#{contributor.github_username}"

          =paginate(@contributors)
