#team-members-page.lo-organisation-page
  =render "pages/organisation_menu", selected: "team"

  %section.organisation-top-banner-section
    .lo-container
      .inner
        %h1
          .subtitle The people behind Exercism
          .strong Codebase Contributors

  %section
    .lo-container
      %h2 Codebase Contributors
      %p.subheading Exercism could not be the success it is without the contributors of over 1,000 volunteers, who contribute in every way imaginable.
      =cache ["pages/team/contributors", @last_updated_at, @page] do
        .people
          -@contributors.each do |contributor|
            =link_to "https://github.com/#{contributor.github_username}", class: 'person' do
              .pure-g
                .pure-u-1-4
                  =image contributor.avatar_url, "Photo of #{contributor.github_username}"
                .pure-u-3-4
                  %h3= contributor.github_username
                  .bio
                    #{pluralize contributor.num_contributions, "contribution"} to Exercism's codebase.

          =paginate(@contributors)
