#team-members-page.lo-organisation-page
  =render "pages/organisation_menu", selected: "team"

  %section.organisation-top-banner-section
    .lo-container
      .inner
        %h1
          .subtitle The people behind Exercism
          .strong Track Maintainers

  %section
    .lo-container
      %h2 Track Maintainers
      %p.subheading Our maintainers are the lynchpins of the language tracks and exercises on Exercism.
      =cache ["pages/team/maintainers/unpaged", @last_updated_at] do
        .people
          -@maintainers.each do |maintainer|
            =link_to maintainer.link_url.present?? maintainer.link_url : "#", class: 'person' do
              .pure-g
                .pure-u-1-4
                  = contributor_image(maintainer)
                .pure-u-3-4
                  %h3
                    = maintainer.name
                    -if maintainer.alumnus.present?
                      %span [#{maintainer.alumnus.titleize}]
                  -if maintainer.bio.present?
                    %p.bio= maintainer.bio
                  -else
                    .holding-text This maintainer has not added their bio yet.
