#team-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      =link_to "The Exercism team", team_page_path
      %span Our contributors
  =render "header"

  %h2 Our track maintainers
  %p.subheading Our maintainers are the lynchpins of the language tracks and exercises on Exercism.
  =cache ["pages/team/maintainers", @last_updated_at, @page] do
    .maintainers
      .lo-container
        .pure-g
          -@maintainers.each do |maintainer|
            .pure-u-1.pure-u-md-1-2.maintainer-wrapper= maintainer_widget(maintainer)
        =paginate(@maintainers)
