#team-members-page.lo-organisation-page
  =render "pages/organisation_menu", selected: "team"

  %section.organisation-top-banner-section
    .lo-container
      .inner
        %h1
          .subtitle The people behind Exercism
          .strong Track Mentors

  %section
    .lo-container
      %h2 Track Mentors
      %p.subheading Our mentors are the human element behind Exercism, providing empathetic feedback on learners' solutions
      =cache ["pages/team/mentors", @last_updated_at, @page] do
        .people
          -@mentors.each do |mentor|
            =link_to mentor.link_url.present?? mentor.link_url : "#", class: 'person' do
              .pure-g
                .pure-u-1-4
                  = profile_image(mentor)
                .pure-u-3-4
                  %h3= mentor.name
                  -if mentor.bio.present?
                    %p.bio= mentor.bio
                  -else
                    .holding-text This mentor has not added their bio yet.

          =paginate(@mentors)

