#team-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      =link_to "The Exercism team", team_page_path
      %span Our contributors
  =render "header"

  %h2 Our track mentors
  %p.subheading Our mentors are the human element behind Exercism, providing empathetic feedback on learners' solutions
  =cache ["pages/team/mentors", @last_updated_at, @page] do
    .mentors
      .lo-container
        .pure-g
          -@mentors.each do |mentor|
            .pure-u-1.pure-u-md-1-2.mentor-wrapper= mentor_widget(mentor)


  =paginate @mentors
