.submission-status.queued
  .submission-status-spinner
    = graphical_icon [:spinner, :spin], style: :solid
  %p.submission-status-title Processing code
  %p.submission-status-status We've queued your code and will run it shortly.
  = link_to "Cancel build", "#", class: "js-cancel-submission pure-button cancel-btn", title: "Cancel build"
