.submission-status-queueing
  .submission-status-spinner
    %i.fas.fa-spinner.fa-spin{"aria-hidden" => true}
  %p.submission-status-title Processing
  %p.submission-status-status Queued...
  %button.js-cancel-submission Cancel build
