.content
  %p Hi there,
  %p
    A student you are mentoring 
    (#{display_handle(@solution.user, @solution.user_track)})
    has posted a new comment on their solution to #{@solution.exercise.title} on the #{@solution.exercise.track.title} track.
    You can #{link_to "view it here", [:mentor, @solution]}.
