Hi there,

A student you are mentoring (#{display_handle(@solution.user, @solution.user_track)}) has posted a new iteration of their solution to #{@solution.exercise.title} on the #{@solution.exercise.track.title} track.  You can view it here: #{mentor_solution_url(@solution)}

