.content
  %p Hi there,
  %p
    It has been five days since
    "#{display_handle(@solution.user, @solution.user_track)}"
    last posted on their solution
    to #{@solution.exercise.title} on the #{@solution.exercise.track.title} track.

  %p Please could you either reply to their message/iteration or click the "No action is required" option on the solution if no action is required. If neither action is taken in the next two days, we will put the solution back into the queue for another mentor to look at.

  %p You can #{link_to "view the solution here", [:mentor, @solution]}.

  %p Thank you for your hard work on Exercism!
