.post-viewer
  - if post.deleted?
    .post-html
      %p.font-italic This message has been deleted
  - else
    .post-html
      = raw post.html
    - if post.edited?
      %p.post-status (edited)
    - if post.user == current_user
      = link_to "Edit", "#", class: "link js-edit-discussion-post"
      = link_to "Delete", my_discussion_post_path(post), class: "link js-delete-discussion-post", data: { confirm: "Are you sure you want to delete this comment?", remote: true, method: :delete, "disabled-with": "Deleting..." }
