var newPost = '#{j discussion_post_widget(@post, @iteration.solution, @user_track)}';
$('.discussion .posts').show().append(newPost)
$('.discussion .next-steps').hide()
window.location.href = "#discussion-post-#{@post.id}"

=raw yield(:js).gsub(/<\/?script>/, "")
