$('.discussion .posts').show().append("#{j render("post", post: @post, solution: @iteration.solution, user_track: @user_track)}")
$('.discussion .next-steps').hide()
$('.new-discussion-post-form textarea').val("")
$('.CodeMirror')[0].CodeMirror.setValue("")
$('.CodeMirror')[0].CodeMirror.clearHistory()
window.location.href = "#discussion-post-#{@post.id}"
