var newPost = '#{j discussion_post_widget(@post, @iteration.solution, @user_track)}';
$('#discussion-post-#{@post.id}').replaceWith(newPost);
Prism.highlightAll()

=raw yield(:js).gsub(/<\/?script>/, "")
