.comments-section
  %h3 Community Comments
  .comments
    -if @blog_post.comments.size > 0
      -@blog_post.comments.each do |comment|
        =render "blog_comments/comment", comment: comment
<<<<<<< HEAD
    -else
=======
    -elsif user_signed_in?
>>>>>>> ff7c23cc211d9b5801f8ed36fb3a6eab71beee54
      .no-comments There are no comments yet. Be the first to add one.

  -if user_signed_in?
    .new-blog-comment
      =form_for BlogComment.new, remote: true, html: {class: "new-blog-comment-form"} do |f|
        =hidden_field_tag :blog_post_id, @blog_post.id

        .tabs-and-panes.selected-1
          .tabs
            .tab.tab-1.write-tab{data: {tab: "markdown"}} Write
            .tab.tab-2.preview-tab{data: {tab: "preview"}} Preview
          .panes
            .pane.pane-1.markdown
              =f.text_area :content, required: true
            .pane.pane-2.preview
              .preview-area

        =button_tag "Comment", class: "comment-button js-disable-on-click pure-button"

    -content_for :js do
      :javascript
        window.setupBlogPost(#{@blog_post.id})

