@import 'variables';
@import 'mixins';

#my-track-page .danger-zone {
    .leave-track-btn,
    .pause-track-btn,
    .change-to-independent-btn,
    .change-to-mentored-btn {
        display:block;
        background:#fff;
        color:$color-1;
        border:1px solid rgba($color-1, 0.5);
        @include font-size(12, 12);
        padding:9px;
        width:100%;
        margin:10px 0;
        white-space: normal;
        &:hover {
            background:$color-1;
            border-color:$color-1;
            color:#fff;
        }
    }
}

#my-track-page .independent-mode .danger-zone {
    background:#fff;
    padding:20px 0;
    margin-bottom:15px;
    border-top:1px solid #ddd;
    h3 {
        @include font-size(16, 16);
        font-weight:$regular;
        border-bottom:1px solid #f1f1f1;
        margin-bottom:15px;
        padding-bottom:5px;
    }
    .leave-track-btn,
    .pause-track-btn,
    .change-to-independent-btn,
    .change-to-mentored-btn {
        width:200px;
    }
}
