-return unless @iteration.analyses.present?

-analysis = @iteration.analyses.last
-return unless analysis.handled?

-if @solution.exercise.track.slug == "javascript" && %w{resistor-color resistor-color-duo}.include?(@solution.exercise.slug)
  = render "mentor/solutions/analysis/javascript_resistor_color_duo_experiment", analysis: analysis
-else
  .analysis-section
    %h3
      Automatic Analysis
      =link_to "https://github.com/exercism/automated-mentoring-support" do
        = graphical_icon "info-circle"
    .recommendation
      %strong Recommendation:
      =analysis.analysis_status.to_s.titleize
      -if analysis.built_comments.size > 0
        with comments

    .comments
      -analysis.built_comments.each.with_index do |comment, idx|
        .comment.widget-code-snippet
          =button_tag "copy", class: 'pure-button copy-button'
          =text_area_tag "analysis-comment-#{idx}", comment, class: 'download-code', readonly: true
          .editable-text
            .editable-text-viewer
              .editable-text-html= raw ParseMarkdown.(comment)
