-if @iteration.discussion_posts.present?
  =render "discussion"

.claimed-section
  -if @iteration.discussion_posts.empty?
    =render "discussion"
  =render "new_discussion_post"
  =render "download-section"

.claim-section
  .request
    %h3 Give feedback on this solution
    %p Can you help this learner improve this solution? Do you feel it's ready to approve? Click the button below to start giving feedback.
    =link_to "Review this solution", lock_mentor_solution_path(@solution), remote: true, method: :patch, class: 'pure-button mentor-button js-disable-on-click'

    %h3 Don't feel like this one is for you?
    %p If you don't feel like you can help with this solution, you can pass it and we'll remove it from your "Next solutions" list.
    =link_to "Skip this solution", [:ignore, :mentor, @solution], method: :patch, class: 'pure-button pass-button button'

  .force
    %h3 Give feedback on this solution
    %p
      %strong Warning:
      Another mentor has started giving feedback on this solution.
      You can still give feedback if you want to, but we recommend you apply your time to a different solution instead.
    =link_to "Go back to mentor dashboard", [:mentor, :dashboard], class: 'pure-button'
    =link_to "Review this solution anyway", lock_mentor_solution_path(@solution, force: true), remote: true, method: :patch, class: 'pure-button mentor-button js-disable-on-click'
