.download-section
  %h3 Download this solution
  %p You can download this solution in mentor mode (this will download into a "users/" subdirectory of your exercism workspace: it will not overwrite your own solution to this exercise). Remember that this is user-submitted code that could potentially cause damage to your system. Please check it in the window above before executing it.
  =render "widgets/code_snippet", code: @solution.mentor_download_command

