.new-editable-text
  =form_for [:mentor, DiscussionPost.new], remote: true do |f|
    =hidden_field_tag :iteration_id, @iteration.id

    .tabs-and-panes.selected-1
      .tabs
        .tab.tab-1.write-tab{data: {tab: "markdown"}} Write
        .tab.tab-2.preview-tab{data: {tab: "preview"}} Preview
      .panes
        .pane.pane-1.markdown
          =f.text_area :content, required: true
        .pane.pane-2.preview
          .preview-area

    =button_tag "Comment", class: 'pure-button button comment-button'

    .approved{style: @solution.approved?? "" : "display:none"}
      =icon :check
      Solution approved

    -unless @solution.approved?
      =link_to "Leave conversation", [:abandon, :mentor, @solution], method: :patch, class: 'pure-button leave-button button'
      =link_to "Approve", [:approve, :mentor, @solution], method: :patch, remote: true, class: "approve-button pure-button button js-disable-on-click", disabled: (@solution.discussion_posts.size == 0), value: "approved"
      =button_tag "Approve and comment", class: 'approve-and-comment-button pure-button button', value: "approved"

-content_for :js do
  :javascript
    $textarea = $(".new-editable-text textarea")
    $textarea.keyup(function(){
      if($textarea.val() == "") {
        $('.approve-button').show()
        $('.approve-and-comment-button').hide()
      }
      else {
        $('.approve-button').hide()
        $('.approve-and-comment-button').show()
      }
    })
