-if @solution_locked
  $('.claim-section').hide()
  $('.claimed-section').show()
  $('.discussion').show()
  $('.new-editable-text').show()
-else
  $('.claim-section .request').hide()
  $('.claim-section .force').show()
