#notifications-page
  #nav.lo-nav-bar
    .lo-container
      =link_to 'Notifications', [:my, :notifications]
      %span All Notifications

  .header
    .lo-container
      %h1 All notifications

  .lo-container
    -if @notifications.present?
      .pure-g
        .pure-u-2-3
          =render @notifications
          =paginate @notifications
    -else
      .no-notifications
        You have no notifications at the moment.
    .link-container
      = link_to "View unread notifications", my_notifications_path, class: "pure-button"

-content_for :js do
  :javascript
    $('.mark-as-read-button').on("ajax:success", function() {
      $(this).parents('.notification').addClass('read')
    });
