#notifications-page
  #nav.lo-nav-bar
    .lo-container
      /=link_to "Language tracks", :tracks
      %span Notifications

  .header
    .lo-container
      %h1 Your notifications
      .h1-subtitle What's changed since you were last on Exercism?

  .lo-container
    -if @notifications.present?
      .pure-g
        .pure-u-1.pure-u-md-2-3
          .header-bar
            =link_to "Mark all as read", read_batch_my_notifications_path(ids: @notifications.map(&:id)), method: :patch, remote: true, class: "pure-button mark-all-button js-disable-on-click"
          =render @notifications

          =paginate @notifications
    -else
      .no-notifications
        You have no unread notifications at the moment.

    = link_to "View all notifications", all_my_notifications_path, class: "pure-button"

-content_for :js do
  :javascript
    $('.mark-as-read-button').on("ajax:success", function() {
      $(this).parents('.notification').addClass('read')
    });

    $('.mark-all-button').click(function() {
      $('.notification').addClass('read')
    });
