@import 'variables';
@import 'mixins';

#changelog-admin-entries {
    table {
        margin-bottom:10px;
        th, td {
            border:1px solid #ddd;
            padding:10px;
        }
    }
    a {
        color:$color-2;
    }
}

