.next-option
  %p
    %strong Complete this solution.
    If you're happy with this solution, you can mark it as completed.
  =link_to "Complete this solution", complete_my_solution_path(@solution), method: :patch, class: 'pure-button', remote: true
