.next-option
  %p
    %strong Publish this solution.
    Learning from each other’s attempts is a crucial part of Exercism. By making your solution public, other Exercism users will be able to find it and learn from your ideas.

  =link_to "Publish your solution", [:publish, :my, @solution, publish: 1], method: :patch, class: 'pure-button'
