#teams-my-solution-unlocked-page.team-page
  =teams_header
  =render "solution_header"

  .lo-container
    .pure-g
      .pure-u-1.pure-u-md-14-24.lhs
        .instructions
          %h2 Introduction
          .rendered= raw @solution.exercise.description

      .pure-u-1.pure-u-md-10-24.rhs
        .newbie
          %h3 Get started
          %p We've created a step-by-step set of instructions to help you quickly install Exercism and get started, so you can start learning.
          =link_to "Begin walk-through", walkthrough_my_solution_path(@solution), remote: true, class: 'pure-button'
        .experienced
          %h3 Been here before?
          =render "widgets/code_snippet", code: @exercise.download_command(team: @team)
