#teams-my-solution-page.team-page
  =teams_header
  =render "solution_header"

  .lo-container
    .pure-g.panels
      .pure-u-1.pure-u-md-1-2.lhs
        .lhs-content
          .tabs-and-panes.selected-3
            .tabs
              .tab.tab-1
                Instructions
              .tab.tab-2
                Test suite
              .tab.tab-3
                Solution

            =render "solutions/panes", iteration: @iteration

      .pure-u-1.pure-u-md-1-2.rhs
        .discussion
          %h3.rhs-heading Team feedback

          -if @iteration.discussion_posts.present?
            .posts
              -@iteration.discussion_posts.each do |post|
                =discussion_post_widget(post, @solution, nil)
          -else
            .posts{style: "display:none"}
            .next-steps
              .title ↳ Next steps

              %p Well done on submitting your iteration. Your team can now post comments giving feedback, suggestions and ideas.

          =form_for [:teams, @team, DiscussionPost.new], remote: true do |f|
            =hidden_field_tag :iteration_id, @iteration.id

            .tabs-and-panes.selected-1
              .tabs
                .tab.tab-1{data: {tab: "markdown"}} Write
                .tab.tab-2.preview-tab{data: {tab: "preview"}} Preview
              .panes
                .pane.pane-1.markdown
                  =f.text_area :content
                .pane.pane-2.preview
                  .preview-area
            =button_tag "Comment", class: "comment-button pure-button"

-content_for :js do
  :javascript
    setupSolution("#{@solution.uuid}", #{@iteration.id})
