.widget-maintainer
  - unless maintainer.active?
    = render "widgets/banner", text: maintainer.alumnus.capitalize
  .pure-g
    .pure-u-1-4
      =image_tag maintainer.avatar_url
    .pure-u-3-4
      %h3
        = maintainer.name
        -if maintainer.link_text.present? && maintainer.link_url.present?
          =link_to maintainer.link_text, maintainer.link_url, target: "_blank"
      .bio
        -if maintainer.bio.present?
          = maintainer.bio
        -else
          .holding-text This maintainer has not added their bio yet.
