=hex_green_track_icon(track)
.main-section
  %h2 Switch to Mentored Mode
  %h3 on the #{track.title} track

  -if @track.accepting_new_students?
    %p In Mentored Mode you will receive mentor feedback on each solution. The track will also follow a structured route of progression. All your existing submissions on this Track will be saved but some exercises may become locked until you complete their prerequisite exercise.
    .buttons
      =link_to "Switch to Mentored Mode", set_mentored_mode_my_user_track_path(@user_track), method: :patch, class: 'pure-button action-button'
      =link_to "Cancel", "#", class: "pure-button close-modal cancel-button"

  -else
    %p
      Sorry. This track is currently
      =link_to "oversubscribed", "https://exercism.io/blog/oversubscribed-tracks", target: "_blank"
      and only available in Practice Mode. Please check back next week.
    .buttons
      =link_to "Close", "#", class: "pure-button close-modal"

