=bordered_green_track_icon(@track)
%h2 Well Done!
%h3 You've completed the #{@track.title} Track

%p lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
=link_to "Continue", "#", class: "pure-button close-modal"
