=hex_green_track_icon(track)
.main-section
  %h2 Leave the #{track.title} Track

  %p
    Leaving this track will remove it from your list of tracks and
    %strong permanently delete all your solutions.
    If you would like to keep your solutions, please close this modal and choose the "Pause Track" option instead.
  %p Are you sure you want to continue?
  .buttons
    =link_to "Leave track", leave_my_user_track_path(@user_track), method: :delete, class: 'pure-button action-button'
    =link_to "Cancel", "#", class: "pure-button close-modal cancel-button"
