=hex_green_track_icon(track)
.main-section
  %h2 Pause the #{track.title} Track

  %p
    Pausing this track will remove it from your list of tracks and
    leave all of your existing solutions in place.
  %p Are you sure you want to continue?
  .buttons
    =link_to "Pause track", my_pause_user_track_path(@user_track), method: :put, class: 'pure-button action-button'
    =link_to "Cancel", "#", class: "pure-button close-modal cancel-button"
