%h2
  This track is paused
%p
  Your solutions are still in place but you can access the track unless you unpause it.
= link_to "Unpause the #{@track.title} Track", unpause_my_user_track_path(@user_track), method: :patch, class: 'pure-button'
