=image_tag track.hex_green_icon_url
%h2 Getting Started
%h3 on the #{track.title} Track

%p Welcome to the #{track.title} Track. To get started click on the first exercise (#{@track.exercises.core.first.title}) and follow the instructions.
=link_to "Continue", "#", class: "pure-button close-modal"
