- unlocked_exercises.each do |exercise|
  = link_to [:my, exercise.solution], class: "unlocked-exercise", data: { status: exercise.status, title: exercise.title } do
    = graphical_image exercise.turquoise_icon_url, class: 'normal'
    = graphical_image exercise.white_icon_url, class: 'hover'
