=hex_green_track_icon(track)
.main-section
  %h2 Getting started
  %h3 on the #{track.title} Track

  -if @track.accepting_new_students?
    %p Hello! We've migrated your progress on the #{track.title} Track onto the new Exercism website.
    %p Tracks on the new website can be completed in Mentored Mode where you receive mentor feedback on your solutions, and Practice Mode - where you work by yourself and request feeback if you get stuck.
    =link_to "Mentored Mode", set_mentored_mode_my_user_track_path(@user_track), method: :patch, class: "pure-button normal-mode"
    =link_to "Practice Mode", set_independent_mode_my_user_track_path(@user_track), method: :patch, class: 'pure-button independent-mode'
  -else
    %p This track is currently oversubscribed and only available in Practice Mode. Practice Mode let's you work through exercises at your own pace, exploring whichever concepts and challenges seem interesting, but won't have human mentors. 
    %p You can use Practice Mode today and switch to Mentored Mode when it is accepting more students if you want mentoring.
    .buttons
      =link_to "Start Track in Practice Mode", set_independent_mode_my_user_track_path(@user_track), method: :patch, class: 'pure-button oversubscribed-button'


