#my-tracks-page
  #nav.lo-nav-bar
    .lo-container
      /=link_to "Dashboard", root_path
      %span Language tracks

  .header
    .lo-container
      %h1 Language tracks
      .h1-subtitle All the tracks you can join.

  .lo-container
    =form_tag [:my, :tracks], method: :get, remote: true do
      .search-bar
        =text_field_tag :title, @title, placeholder: "Search for a language", autocomplete: "off"
      .search-button
        =button_tag "Search", class: "pure-button"

    .no-results
      %h4 No results found.
      %p
        Try searching for similar concepts or complimentary languages. We’re always concidering which language to add next so if there’s something you’d like to see on Exercism, please
        #{link_to "let us know", "mailto:hello@exercism.io"}
        and we’ll work on building a track for the most popular suggestion as soon as we can.

    -if @joined_tracks.size > 0
      .joined-tracks
        .num-tracks
          Showing
          %strong.num #{@joined_tracks.size}
          tracks

        %h2 Tracks you've joined
        .tracks.pure-g
          =render 'tracks', joined: true, tracks: @joined_tracks, completed_exercise_counts: @completed_exercise_counts, all_exercise_counts: @all_exercise_counts, all_user_tracks_counts: @all_user_tracks_counts

    .other-tracks
      .num-tracks
        Showing
        %strong.num #{@other_tracks.size}
        tracks
      %h2 Available tracks
      .tracks.pure-g
        =render 'tracks', joined: false, tracks: @other_tracks, completed_exercise_counts: @completed_exercise_counts, all_exercise_counts: @all_exercise_counts, all_user_tracks_counts: @all_user_tracks_counts

-if show_decide_default_allow_comments_modal?
  -content_for :js do
    :javascript
      showModal('decide-allow-comments', '#{j render "my/settings/decide_allow_comments"}')

