#my-tracks-page
  .header
    .lo-container
      %h1 Language Tracks
      .h1-subtitle All the tracks you can join.

  .lo-container
    =form_tag [:my, :tracks], method: :get, remote: true do
      =text_field_tag :title, @title
      =button_tag "Update"

    %h2 Tracks You've Joined
    .joined-tracks.pure-g
      =render partial: "track", collection: @joined_tracks, locals: {joined: true}

    %h2 Other Tracks
    .other-tracks.pure-g
      =render partial: "track", collection: @other_tracks, locals: {joined: false}
