#js-ecma-migration-page
  .lo-container
    = graphical_image "lego-construction.jpg"
    %h1 We are merging JavaScript and ECMAScript
    %p Hello. We are currently merging the JavaScript and ECMAScript tracks. We have taken both tracks offline for this process to protect against data loss. We'll be back shortly. Sorry for the inconvenience.
    %p
      =link_to "Back to Tracks", my_tracks_path
