#my-track-not-joined-page
  #nav.lo-nav-bar
    .lo-container
      /=link_to "Dashboard", root_path
      =link_to "Language tracks", [:my, :tracks]
      %span #{@track.title} Track

  =render "tracks/header", button_url: [:my, :user_tracks, track_id: @track]
  =render "tracks/overview"
  =render "tracks/about", button_url: [:my, :user_tracks, track_id: @track]
  =render "tracks/testimonial", testimonial: @testimonial
  =render "tracks/mentors", mentors: @mentors, track: @track
  =render "tracks/exercises"
  =render "tracks/maintainers", maintainers: @maintainers, track: @track

  .cta-section
    .lo-container
      %h2 Get started with the #{@track.title} track. As with everything on Exercism, it's 100% free.
      = link_to "Join the #{@track.title} Track", [:my, :user_tracks, track_id: @track], method: :post, class: 'pure-button'
