%p
  %strong Request mentor feedback (disabled).
  You may request mentoring on up to #{mentor_request.track_max_mentoring_slots} non-core exercises per track.
  Once your existing non-core solutions have been mentored you will be able to request mentoring for this solution.
=link_to "Request mentor feedback", "#", class: 'pure-button disabled', disabled: true
