%p
  %strong Request mentor feedback.
  This exercise has been promoted to a core exercise. You may request mentoring on it without affecting your allowance.
=link_to "Request mentor feedback", request_mentoring_my_solution_path(mentor_request.solution), method: :patch, class: 'pure-button'
