=image_tag "icon.png"
%h2 Welcome to brand new Exercism
%p
  We've rebuilt Exercism from the ground up to provide a smoother, more in-depth experience.
  Exercism now has progression through tracks, more structured mentoring and a much better user interface.
%p We still have some rough edges that we're working through, so please bare with us :)
%p If you'd like to know more you can #{link_to "read this overview", "about-v1-to-v2", target: "_blank"} or click below to just get exploring!
=button_tag "Let's go!", class: 'pure-button close-modal'
