=image_tag "icon.png"
%h2 Welcome to the Exercism Beta
%p
  Thanks for stopping by and helping make Exercism awesome.
  If you've not done so already, please #{link_to "read this document", "https://github.com/exercism/v2-feedback", target: "_blank"} which explains how and why this new version of Exercism has happened, and how you can help us make it amazing.
%p We really appreciate your help!
=button_tag "Let's go!", class: 'pure-button close-modal'
