=image_tag "icon.png"
%h2 Welcome to the Exercism Mentors site
%p
  This website is a practice zone for mentors to get to know the exercises, the interface, and each other!
  If you've not done so already, please #{link_to "read this document", "https://github.com/exercism/v2-feedback", target: "_blank"} which explains how and why this new version of Exercism has happened. Feel free to open any issues there (but please check for duplicates already).
%p We really appreciate your help!
=button_tag "Let's go!", class: 'pure-button close-modal'
