#generic-page{class: @page.to_s}
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      %span= @page_title
  .header
    .lo-container
      %h1= @page_title
  .lo-container
    .pure-g
      .pure-u-1.pure-u-lg-2-3.lhs
        .content=raw @content
        .changes
          %h3 Something need changing on this page?
          %p
            If you've spotted something incorrect or missing from this page,
            please #{link_to "edit this file on GitHub", "https://github.com/exercism/website-copy/blob/master/pages/#{@page}.md"}. That will submit a pull request to the website team, which we can then review and push live.
          %p Thank you!
      .pure-u-1.pure-u-lg-1-3
        =code_person_widget
