#strategy-page.lo-organisation-page
  =render "organisation_menu", selected: "strategy"

  %section.organisation-top-banner-section
    .lo-container
      .inner
        %h1
          .subtitle The pathway to our vision
          .strong Our strategy

  %section.content-section
    .lo-container
      .info
        =raw @content
