#team-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      =nav_divider
      %span The Exercism team
  .header
    .lo-container
      %h1 The Exercism team
  .core
    .lo-container
      %h2 Our Leadership team
      %p.subheading Our leadership team manage the strategic and organisational sides of Exercism, including the Exercism website and CLI. They are responsible for fulfilling our mission statement and maintaining our values.
      .pure-g
        .pure-u-1-2
          =link_to "http://kytrinyx.com", class: 'core-person' do
            .pure-g
              .pure-u-1-4
                =image_tag "https://avatars2.githubusercontent.com/u/276834?v=4&s=460", alt: "Photo of Katrina Owen"
              .pure-u-3-4
                %h3 Katrina Owen
                %p.bio Katrina is the founder of Exercism. She is a polyglot developer and Ruby Hero award winner, with a degree in molecular biology. She cares deeply about open source and contributes to several projects outside of exercism.

        .pure-u-1-2
          =link_to "https://twitter.com/n_chalmers", class: 'core-person' do
            .pure-g
              .pure-u-1-4
                =image_tag "https://avatars0.githubusercontent.com/u/5421823?v=4&s=460", alt: "Photo of Nicole Chalmers"
              .pure-u-3-4
                %h3 Nicole Chalmers
                %p.bio Nicole is responsible for the product-side of Exercism. She is the brains behind the user experience and beautiful design of Exercism. She is passionate about education, equality and inclusiveness. Nicole is part of the team at Thalamus.

        .pure-u-1-2
          =link_to "http://ihid.co.uk", class: 'core-person' do
            .pure-g
              .pure-u-1-4
                =image_tag "https://avatars2.githubusercontent.com/u/286476?v=4&s=460", alt: "Photo of Jeremy Walker"
              .pure-u-3-4
                %h3 Jeremy Walker
                %p.bio Jeremy works on the strategic side of Exercism and is also the lead developer behind the website. Away from Exercism, Jeremy is the CEO of Thalamus, where he and his team develop artificial intelligence solutions to meaningful problems.

        .pure-u-1-2
          =link_to "https://twitter.com/charlescare", class: 'core-person' do
            .pure-g
              .pure-u-1-4
                =image_tag "https://avatars3.githubusercontent.com/u/441154?v=4&s=460", alt: "Photo of Chalres Care"
              .pure-u-3-4
                %h3 Charles Care
                %p.bio Charles manages the operations side of Exercism, ensuring the platform stays online and fast. Charles is a seasoned developer and in his spare time has an interest in real world infrastucture, such as railway lines. Charles is part of the team at Thalamus.

  .maintainers
    .lo-container
      %h2 Our maintainers
      %p.subheading Our maintainers are the lynchpins of the language tracks and exercises on Exercism.
      .pure-g
        =cache ["pages/team/maintainers", @maintainers_last_updated_at] do
          -@maintainers.each do |maintainer|
            .pure-u-1-2= maintainer_widget(maintainer)

  .contributors
    .lo-container
      %h2 Our contributors
      %p.subheading Exercism could not be the success it is without the contributors of over 1,000 volunteers, who contribute in every way imaginable.
      =cache ["pages/team/contributors_top/1", @contributors_last_updated_at] do
        .pure-g
          -@contributors.each do |contributor|
            .pure-u-1-4= contributor_widget(contributor)

        =link_to "View all contributors", contributors_page_path, class: "pure-button", remote: true
