@import 'variables';
@import 'mixins';

#maintainers-concept-exercise-form {
    padding-top:20px;

    h1 {
        font-weight:$fw-bold;
        @include font-size(18, 18);
        margin-bottom:20px;
    }
    p {
        max-width:600px;
        @include font-size(14, 19);
    }
    .field {
        margin-top:20px;
        margin-bottom:20px;
        border-bottom:1px solid #ddd;
        padding-bottom:20px;
        h2 {
            margin-bottom:10px;
            font-weight:500;
            @include font-size(16, 16);
        }
        p {
            margin-bottom:10px;
        }
        label {
            display:block;
            margin-bottom:4px;
        }
        input {
            border:1px solid #ccc;
            padding:10px;
            border-radius:3px;
            display:block;
            width:400px;
        }
        textarea {
            border:1px solid #ccc;
            padding:10px;
            border-radius:3px;
            display:block;
            width:800px;
            height:300px;
        }
        input+textarea {
            margin-top:10px;
        }
        .preview-area {
            height:349px;
            border:1px solid #ddd;
            border-radius:3px;
            padding:20px;
            overflow:auto;
        }
    }
    .pure-button {
        background:$color-2;
        color:#fff;
    }
}

