-avatar_url = post.user == solution.user ?  display_avatar_url(post.user, user_track) : post.user.avatar_url
-user_name = post.user == solution.user ? display_name(post.user, user_track) : post.user.name

.post{id: "discussion-post-#{post.id}"}
  =image_tag avatar_url, class: 'avatar'
  .post-body
    .post-header
      .created-at #{time_ago_in_words(post.created_at)} ago
      .user-name= user_name
      .user-status
        -if post.user == solution.user
          Student
          -if user_track && user_track.anonymous?
            (Anonymous Mode)
        -else
          Mentor

    .post-html= raw post.html
