-avatar_url = post.user == solution.user ?  display_avatar_url(post.user, user_track) : post.avatar_url
-user_handle = post.user == solution.user ? display_handle(post.user, user_track) : post.handle

.post{id: "discussion-post-#{post.id}"}
  =image_tag avatar_url, class: 'avatar'
  .post-body
    .post-header
      .created-at #{time_ago_in_words(post.created_at)} ago
      .user-handle= user_handle
      .user-status
        -if post.user == solution.user
          Student
          -if user_track && user_track.anonymous?
            (Anonymous Mode)
        -else
          Mentor

    .post-html= raw post.html
