var newPost = '#{j discussion_post_widget(@post, @solution, @user_track)}';
$('.discussion .posts').show().append(newPost)
$('.new-discussion-post-form textarea').val("")
$('.discussion .write-tab').click()
Prism.highlightAll()
#{yield(:js).gsub(/<\/?script>/, "")}

$('.pass-button').remove()

-if @solution.approved?
  $('.approved').show()
  $('.approve-button').remove()
  $('.approve-and-comment-button').remove()
  $('.leave-button').remove()

window.location.href = "#discussion-post-#{@post.id}"
