$('.discussion .posts').show().append("#{j render("post", post: @post, solution: @iteration.solution, user_track: @user_track)}")
$('.new-discussion-post-form textarea').val("")
$('.CodeMirror')[0].CodeMirror.setValue("")
$('.CodeMirror')[0].CodeMirror.clearHistory()
Prism.highlightAll()

$('.pass-button').remove()

-if @solution.approved?
  $('.approved').show()
  $('.approve-button').remove()
  $('.approve-and-comment-button').remove()
  $('.leave-button').remove()

window.location.href = "#discussion-post-#{@post.id}"
