var newPost = '#{j discussion_post_widget(@post, @solution, @user_track)}';
$('.discussion .posts').show().append(newPost)
=raw yield(:js).gsub(/<\/?script>/, "")

$('.pass-button').remove()

-if @solution.approved?
  $('.approved').show()
  $('.approve-button').remove()
  $('.approve-and-comment-button').remove()
  $('.leave-button').remove()
-else
  $('.approve-button').attr({'disabled': false}).show()
  $('.approve-and-comment-button').hide()

window.location.href = "#discussion-post-#{@post.id}"
