- if solution.auto_approve?
  .pure-u-1-1
    = render "my/solutions/reflection/publish_solution_form"
- else
  .pure-u-1-2.modal-lhs
    = render "my/solutions/reflection/publish_solution_form"
  .pure-u-1-2.modal-rhs
    = render "my/solutions/reflection/mentor_rating",
      solution: solution,
      mentor_iterations: mentor_iterations
