%h2 Make your solution public?
%p Make your solution public to allow other Exercism to find it and learn from your ideas. Your previous iterations and mentor feedback remains private.
.checkbox
  =check_box_tag :publish, 1, true
  /=graphical_icon 'check-square-o'
  =label_tag :publish do
    Publish my solution

=text_area_tag :reflection, '', placeholder: "Leave some notes next to your public solution to tell others what you learnt from this exercise, what you found easy and hard, and about any challenges you battled."

