%p
  %strong Request mentor feedback (disabled).
  This solution has been imported from Practice Mode.
  Once your existing solutions have been mentored you will be able to request mentoring for this solution.
=link_to "Request mentor feedback", "#", class: 'pure-button disabled', disabled: true
