#admin-new-test-runner
  .lo-container
    %h1 New Test Runner
    =form_with model: @test_runner, url: admin_test_runners_path, data: {remote: false} do |f|
      .field
        =f.label :language_slug
        =f.select :language_slug, Track.active.map(&:slug).sort
      .field
        =f.label :timeout_ms
        =f.text_field :timeout_ms, required: true

      =f.button "Add test runner", class: 'pure-button'
