#my-settings-page
  =settings_bar

  = notice_and_alert(current_user)
  .lo-container
    %h1 Account settings
    .settings-section
      %h2 CLI token
      .token-explanation Your authentication token for the CLI is:
      =render "widgets/code_snippet", code: current_user.auth_token

    .settings-section
      %h2 Change your password
      %p You can change your password at any point.

      =form_for current_user, url: [:my, :settings] do |f|
        -unless current_user.provider?
          .field
            =label_tag :old_password, "Enter your current password"
            =password_field_tag :old_password

        .field
          =f.label :password, "Enter your new password"
          =f.password_field :password, placeholder: "Enter your new password"

        .field
          =f.password_field :password_confirmation, placeholder: "Confirm your current password"

        =button_tag "Update password", class: 'pure-button'

    .settings-section
      %h2 Change your handle
      %p We recommend only changing your handle in rare circumstances as it is confusing for mentors if it changes reguarly.
      %p Note that you can change the name that appears on your profile seperately by using the "Edit profile" button in your profile.

      =form_for current_user, url: [:my, :settings] do |f|
        .field
          =f.label :handle, "Enter your new handle"
          =f.text_field :handle

        =button_tag "Update handle", class: 'pure-button'
