%p
  %strong Request mentor feedback (disabled).
  Mentoring is disabled by default in Practice Mode. However, you can request feedback on a maximum of one solution at a time. You currently have no slots free.
=link_to "Request mentor feedback", "#", class: 'pure-button disabled', disabled: true
