.code-editor-manager
  - solution.latest_files.each do |filename, code|
    .code-editor.js-code-editor{data: { config: editor_config.to_json, filename: filename }}= code
    - break

  .bottom-toolbar
    .revert-btn.js-code-editor-reset.pure-button Revert to last run code
    .editor-status.js-code-editor-status
    .js-submit-code.submit-code-btn.pure-button
      =graphical_icon :"caret-right", style: :solid
      Run code

- content_for :js do
  :javascript
    submitOnChange($('.js-theme-select'));
