.code-editor-manager.js-code-editor-manager
  .code-editor.js-code-editor{data: { config: config.to_json, filename: filename }}= code
  .code-editor-toolbar
    .code-editor-toolbar-option
      = label_tag "theme", "Theme:"
      = select_tag "theme",
        options_for_select({ "Dark" => "dark",  "Light" => "light" }),
        class: "js-theme-select js-skip-selectize",
        autocomplete: "off"
    .code-editor-toolbar-option
      = label_tag "keybinding", "Keybinding:"
      = select_tag "keybinding",
        options_for_select({ "Ace" => "ace",  "Vim" => "vim", "Emacs" => "emacs" }),
        class: "js-code-editor-keybinding js-skip-selectize",
        autocomplete: "off"
