- solution.latest_files.each do |filename, code|
  = render "code_editor",
    config: editor_config,
    filename: filename,
    code: code
  - break

%button.js-submit-code.submit-code-btn.pure-button Run code

- content_for :js do
  :javascript
    submitOnChange($('.js-theme-select'));
