.test-results
  %h2 Test Results

  .js-test-results
    - if solution.submissions.last
      = render "test_results", results: solution.submissions.last.test_results
  - if solution.submissions.last
    = render "test_run", test_run: solution.submissions.last.test_run
