.instructions
  = raw solution.instructions

.test-results
  %h2 Test Results

  .js-test-results
    - if solution.submissions.last
      = render "test_results", results: solution.submissions.last.test_results

