.tabs-and-panes.selected-1
  .tabs
    .tab.tab-1
      =icon(:info, "Instructions", style: :solid)
    .tab.tab-2
      =icon(:terminal, "Results", style: :solid)
  .panes
    .pane.pane-1
      .instructions
        %h2 Introduction
        %p There is no right or wrong way to approach this exercise - just do what feels the most natural to you. Feel free to use books, Google or Stack Overflow, just like you would if you were programming normally, but please don't actively look for a solution to the problem as this will negatively affect the research.
        %p Write your code in the window on the right-hand-side and press "Run Code" to run your code against some sample tests. Once your code runs correctly you will have the opportunity to refactor it before submitting it to the researchers.

        = raw solution.instructions

    .pane.pane-2.js-submission-panel{data: { syntax_highlighter_language: syntax_highlighter_language } }
      = render "research/submissions/submission",
        submission: solution.submissions.successfully_tested.last,
        as: :status

-content_for :js do
  :javascript
    setupTabs()
