.tabs-and-panes.selected-1
  .tabs
    .tab.tab-1
      =icon(:info, "Instructions", style: :solid)
    .tab.tab-2
      =icon(:terminal, "Results", style: :solid)
  .panes
    .pane.pane-1
      .instructions
        = raw solution.instructions

    .pane.pane-2.js-submission-panel
      - if solution.submissions.tested.last
        = render partial: solution.submissions.tested.last.ops_status,
          as: :status
      - else
        Hit "Run code" to see how your solution performs.

-content_for :js do
  :javascript
    setupTabs()

    $('.test-run-result .header i').on('click', function() {
      div = $(this).parent().parent()
      if(div.hasClass('open')) {
        div.removeClass('open')
        div.addClass('closed')
      } else {
        div.removeClass('closed')
        div.addClass('open')
      }
    })
