- solution.latest_files.each do |filename, code|
  = render "code_editor",
    settings: settings,
    filename: filename,
    code: code
  - break
.toolbar
  %button.js-keyboard-shortcuts.toolbar-shortcut-button.pure-button
    Keyboard shortcuts
    ( #{graphical_icon :question, style: :solid} )
  %button.js-submit-code.toolbar-submit-button.pure-button Run code
