- return if results.blank?

- if results.errored?
  .results-message
    Message:
    %span= results.message
- elsif results.failed?
  - results.failed_tests.each do |test|
    .test-failure
      Failed test:
      %span.name= test.name
      .message= test.message
