- return if results.blank?

- if results.errored?
  .results-message
    Message:
    %span= results.message
- elsif results.failed?
  - results.failed_tests.each do |test|
    .test-failure
      Failed test:
      %span.name= test.name
      .message= test.message
- elsif results.pass?
  %p Your code ran successfully.

  = button_to "Submit exercise",
    submit_research_experiment_solution_path(results.solution),
    class: "pure-button pure-button-primary submit-exercise-button"
