#experiment-solution-page
  .experiment-solution{ data: { id: @solution.id } }
    .info-panel
      = render "info", solution: @solution
    .coding-panel
      = render "coding", solution: @solution, editor_config: @editor_config
