#experiment-solution-page
  .experiment-solution{ data: { id: @solution.id } }
    .info-panel
      .solution-info
        .exercise
          %h1 #{@exercise.title}
          =graphical_icon(:"chevron-right", style: :light)
          .experiment #{@solution.experiment.title}
        .status In Progress
      = render "info", solution: @solution
    .coding-panel
      = render "coding", solution: @solution, editor_config: @editor_config

- content_for :js do
  :javascript
    submitOnChange($('.js-theme-select'));
