.content
  %p Hi there,
  %p
    A mentor has approved your solution to #{@solution.exercise.title} on the #{@solution.exercise.track.title} track.
    You can #{link_to "view it here", [:my, @solution]}.
