.test-run-result.open.fail
  .header
    %i.fas.fa-chevron-right.closed-icon
    %i.fas.fa-chevron-down.opened-icon
    %h3
      %strong Failed:
      Test ##{test_idx}
  .info
    - if test.cmd.present?
      .part
        %h4 Code Run:
        %pre
          %code= test.cmd

        /%pre
        /  %code= test.message
        /- elsif test.text.present?
        /%p= raw test.text
        /- else

      .part
        %h4 Test Failure
        %pre
          %code= test.message

    - if test.output_html.present?
      .part
        %h4 Test Output

        %pre.test-output
          %code= raw test.output_html

