.test-run-result.open.fail
  .header
    =icon(:"chevron-right", "Click to expand", style: :solid, extra_classes: 'closed-icon')
    =icon(:"chevron-down", "Click to close", style: :solid, extra_classes: 'opened-icon')
    %h3
      %strong Failed:
      #{test.name}
  .info
    - if test.cmd.present?
      .part
        =graphical_icon "brackets-curly", style: :solid
        %h4 Code Run:
        %pre
          %code= test.cmd

        /%pre
        /  %code= test.message
        /- elsif test.text.present?
        /%p= raw test.text
        /- else

      .part
        =graphical_icon "bug", style: :solid
        %h4 Test Failure
        %pre
          %code= test.message

    - if test.output_html.present?
      .part
        =graphical_icon "lines-columns", style: :solid
        %h4 Test Output

        %pre.test-output
          %code= raw test.output_html

