Hi #{@user.handle},
\
We've had a busy January improving Exercism and thought you might appreciate a roundup of what's happened:
\
\- We've launched the Exercism Blog [1] with updates, interviews and interesting articles. If you're interested in writing an article or featuring in an interview, please feel free to open an issue at our Blog repository on GitHub [2] and tell us more!
\- We relaunched community comments [3] and added the ability to "star" solutions, with the aim of nurturing learning through the exploration of others ideas.
\- We've added a mentor "time out" after seven days, so that students don't get stuck in limbo. We discuss the details in a blog post [4].
\- We interviewed Erik Schierboom [5] and Ryan Potts [6] about their experience of being Exercism maintainers, mentors and contributors.
\
In addition to these January headlines, we also have made numerous improvements and bug fixes on the website, the maintainers and community have continued to improve the tracks, and our mentors have given feedback on nearly 8,000 solutions. Thank you to everyone that's contributed!
\
Have a great weekend,
Jeremy and the Exercism team
\
1. https://exercism.io/blog
2. https://github.com/exercism/blog
3. https://exercism.io/blog/introducing-community-comments
4. https://exercism.io/blog/what-happens-if-my-mentor-disappears
5. https://exercism.io/blog/interview-with-erik-schierboom
6. https://exercism.io/blog/interview-with-ryan-potts
