.content
  %p Hi #{@user.handle},

  %p On behalf of the Exercism team, I want to say a huge thank you for being a mentor in 2018. Together we've helped over 12,000 people get better at programming - an incredible achievement that will have huge knock-on effects in those people's lives.

  %p Our main focus for 2019 is improving the mentoring experience to make it as enjoyable and satisfying as possible. We have lots of exciting ideas and improvements that we'll be sharing with you over the next few months. I can't wait to work with you to help even more people. Thanks again for your hard work and I hope you're able to get some rest during this festive period.

  %p Merry Christmas!
  %p Jeremy and the Exercism team

