.content
  %p Hello,

  %p We're emailing you as you've submitted a solution to an #{link_to "Exercism", "https://exercism.io"} exercise since we launched our new site in July, and we wanted to let you know about some changes we've made in the way mentoring works.

  %p
    %strong TL;DR:
    You will no-longer receive mentoring on Side Exercises by default. If there are existing Side Exercises you would like to receive mentoring on, you need to request it on the website.

  %p{style: "margin-top:15px; margin-bottom:5px;text-decoration:underline"}
    %strong Background
  %p In Mentored mode, there are two types of exercise: Core Exercises and Side Exercises. Core Exercises teach key concepts, must be completed in order, and must be signed off by mentors before you can progress. Side Exercises are unlocked by Core Exercises and give you the opportunity to dive more deeply into the concepts introduced in a Core Exercise.

  %p Since we launched the new website in mid-July, we've had 57,770 solutions submitted in Mentored Mode. Our amazing team of volunteer mentors have managed to get through almost exactly half (27,585) of them. We've been focusing on mentoring all Core Exercises so that people don't get blocked with nothing to do, but that means that people who have submitted Side Exercises generally haven't had them reviewed, which has been pretty frustrating. It's also meant there's now a backlog of 20,000 Side Exercises, which feels pretty insurmountable.

  %p As a result we spent some time trying to work out what simple changes we could make to prioritise the most important submissions, reduce the strain on mentors, improve the experience for those learning, and ensure that Side Exercises <strong>do</strong> get mentored, with the aim of being able to respond to 100% of submissions.

  %p{style: "margin-top:15px; margin-bottom:5px;text-decoration:underline"}
    %strong The Changes
  %p To address this, today we're making the following changes:
  %ul
    %li By default Side Exercises will not receive mentoring. You will be able to request mentoring on up to three Side Exercises at a time.
    %li When you submit a Side Exercise, you will be able to mark it as completed without mentor approval, and you will be able to see other people's solutions so you can work out how to improve your code on your own.
    %li All existing Side Exercises will be marked as <strong>not</strong> requiring mentoring. If you'd like mentoring on them, please go back to those exercises and request mentoring on them.

  %p{style: "margin-top:15px; margin-bottom:5px;text-decoration:underline"}
    %strong Conclusion
  %p Over the next few months, we will also be making some big improvements to how you can benefit from other people's published solutions and providing loads of extra resources to help you get the most out of Side Exercises. We'll tell you more as things progress.

  %p Finally - we just wanted to shout out and say that if you want to become a mentor, we'd love to have you join the team. It's really simple to get started and there's a fun, supportive community to help you out. You can sign up at #{link_to "https://exercism.io/become-a-mentor", "https://exercism.io/become-a-mentor"}

  %p We hope you're enjoying Exercism and look forward to seeing your next submission soon!

  %p Thanks for reading!

