.content
  %p Hi #{@user.handle},

  %p We've just added the ability for you to view testimonials that students have left about you!
  %p 
    Over time we'll be adding extra functionality around these, such as the ability to feature chosen ones on your public profile, but for now you can check them out
    #{link_to "here", testimonials_mentor_dashboard_url}.

  %p Have a great weekend,
  %p Jeremy and the Exercism team
