Hi #{@user.handle},
\
We've just added the ability for you to view testimonials that students have left about you!
\
Over time we'll be adding extra functionality around these, such as the ability to feature chosen ones on your public profile, but for now you can check them out here:
=testimonials_mentor_dashboard_url
\
Have a great weekend,
Jeremy and the Exercism team

