#my-preferences-page
  =settings_bar
  .lo-general-header
    .lo-container
      %h1 Preferences
      .h1-subtitle Manage your communication and site preferences
  .lo-container
    =notice_and_alert
    .settings-section
      %h2 Communication preferences

      =form_for current_user.communication_preferences, url: [:my, :settings, :preferences] do |f|
        =render "communication_preferences", f: f
        =f.button "Save communication settings", class: 'pure-button'

    .settings-section.toggle
      %h2 Communication Preferences Security
      %p 
        By default you can unsubscribe from emails directly from an email. 
        %br
        To protect against unauthorised unsubscribes, you disable this feature and require a password to edit your settings.
      =form_tag [:my, :settings, :preferences], method: :patch do |f|
        =hidden_field_tag 'update_require_password_to_update_communication_preferences', true
        =check_box_tag 'require_password_to_update_communication_preferences', 1, current_user.communication_preferences.token.nil?
        .toggles
          =icon 'toggle-on'
          =icon 'toggle-off'
        =label_tag 'require_password_to_update_communication_preferences', "Require password to update communication preferences"

        =button_tag "Update communication preference security", class: 'pure-button'

    .settings-section.toggle
      %h2 Dark Code Theme
      =form_tag [:my, :settings, :preferences], method: :patch do |f|
        =hidden_field_tag 'update_dark_theme', true
        =check_box_tag 'dark_code_theme', 1, current_user.dark_code_theme, class: 'dark-theme-toggle'
        .toggles
          =icon 'toggle-on'
          =icon 'toggle-off'
        =label_tag 'dark_code_theme', "Enable dark theme"

        =button_tag "Update theme preference", class: 'pure-button'
