@import 'variables';
@import 'mixins';

.announcement-bar {
    background:#fff;//$error-red-color;
    padding:10px;
    text-align:center;
    color: #333;
    a {
        color: #444;
        font-weight:$fw-semibold;
    }
}
