@import 'variables';
@import 'mixins';

.announcement-bar {
    background:#fff;//$error-red-color;
    padding:10px;
    text-align:center;
    color: #666;
    a {
        color: #666;
        font-weight:normal;
    }
}
