@import 'variables';
@import 'mixins';

.beta-bar {
    background:$error-red-color;
    padding:10px;
    text-align:center;
    color:$error-red-text-color;
    a {
        color:#f34a56;
        font-weight:normal;
    }
}
