@import 'variables';
@import 'mixins';

html {
    height:100%;
}
body {
    position:relative;
    min-height: 100%;
}

footer {
    position:relative;
    bottom:0;
    left:0;
    right:0;
    padding-top:60px;
    padding-bottom:env(safe-area-inset-bottom);
    border-top:1px solid #f3f3f3;
    margin-top:55px;
    @include width-medium() {
        margin-top:100px;
    }
    background:#fafafa;
    h4 {
        @include font-size(16, 16);
        color:#333;
        font-weight:$fw-bold;
        margin-top:15px;
        margin-bottom:15px;
        @include width-medium() {
            margin-bottom:15px;
        }
    }

    ul{
        padding: 0;
        list-style: none;

        &.social{
            li{
                display: inline-block;
            }
        }
    }

    a {
        color:#555;
        @include font-size(14, 18);
        text-decoration: underline;
        display:block;
        margin-bottom:16px;
        @include width-medium() {
            margin-bottom:12px;
        }
        &.icon {
            margin-right:15px;
            display:inline-block;
            i {
                @include font-size(25, 25);
            }
        }

    }
    .legal {
        margin-top:30px;
        padding:10px 0;
        border-top:1px solid #eee;
        .created-by {
            i {
                //color:#B31B1B;
                color:#999;
                margin:0 1px;
                @include font-size(12, 15);
            }
            a {
                margin-bottom:0;
            }
        }
        .copyright, a, .created-by {
            color:#aaa;
            @include font-size(13, 15);
            display:inline-block;
        }
        a {
            &:hover {
                border-bottom:1px solid #ccc;
            }
        }
        .copyright {
            @include width-medium() {
                float:right;
            }
        }
    }
}

