@import 'variables';
@import 'mixins';

footer {
    padding:60px 0 0 0;
    border-top:1px solid #f3f3f3;
    margin-top:100px;
    background:#fafafa;
    h4 {
        @include font-size(16, 16);
        color:#333;
        font-weight:$bold;
        margin-bottom:15px;
    }
    a {
        text-decoration:none;
        font-weight:$regular;
        color:#507679;
        @include font-size(13, 13);
        display:block;
        margin-bottom:12px;
        &.icon {
            margin-right:20px;
            display:inline-block;
            i {
                @include font-size(25, 25);
            }
        }

    }
    .legal {
        margin-top:30px;
        padding:10px 0;
        border-top:1px solid #eee;
        .created-by {
            i {
                color:#B31B1B;
                margin:0 1px;
                @include font-size(12, 15);
            }
        }
        .copyright, a, .created-by {
            color:#aaa;
            @include font-size(13, 15);
            display:inline-block;
        }
        a {
            &:hover {
                border-bottom:1px solid #ccc;
            }
        }
        .copyright {
            float:right;
        }
    }
}

