@import 'variables';
@import 'mixins';

.lo-container {
    max-width:1200px;
    padding:0 15px;
    @include width-medium() {
        padding:0 50px;
    }
    margin:0 auto;
}

#alert, #errors {
    background:$error-red-color;
    color:$error-red-text-color;
    padding:8px 10px;
    text-align:center;
    @include font-size(14, 20);
    a {
        color:$error-red-text-color;
        font-weight:$regular;
        text-decoration:underline;
    }
}

#notice {
    background:#f5fdfb;
    color:$color-1;
    padding:8px 10px;
    text-align:center;
}
