@import 'variables';
@import 'mixins';

.lo-container {
    padding:0 50px;
    width:1200px;
    margin:0 auto;
}

#alert, #errors {
    background:$error-red-color;
    color:$error-red-text-color;
    padding:8px 10px;
    text-align:center;
}

#notice {
    background:#f5fdfb;
    color:$color-1;
    padding:8px 10px;
    text-align:center;
}
