@mixin normal-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Helvetica Neue', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 300;
}

@mixin header-font {
    font-family: "Dosis", "Lato", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}

@mixin code-font {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

@mixin font-size($size: 16, $line_height: null) {
    font-size: $size  + px;
    @if $line_height == null {
        $line_height: 1.428 * $size;
    }
    line-height: $line_height + px;
}
