@import 'mixins';
@import 'variables';

#modal-wrapper {
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10000000;
    background:rgba(#000,0.5);

    #modal {
        position:relative;
        max-height:80%;
        max-width:500px;
        width:80%;
        overflow-y: auto;
        overflow-x: visible;

        background:#fff;
        border-radius:2px;
        box-shadow:0 0 1px 1px rgba(#000, 0.13);
        margin: 60px auto;
    }
    /*#modal-close-button  {
        position:absolute;
        top:-15px;
        right:-15px;
        width:36px;
        height:36px;
        padding:6px 10px 6px 13px;
        border:1px solid #ccc;
        border-radius:100%;
        background:#fff;
        cursor:pointer;
        color:#aaa;
        @include font-size(16, 18);
        box-shadow:0 0 1px rgba(0,0,0,0.3);
        z-index:10;
        font-weight: 500;
    }*/
    #modal-close-button  {
        position:absolute;
        top:0px;
        right:0px;
        padding:2px 10px;
        background:#fff;
        cursor:pointer;
        color:#aaa;
        @include font-size(16, 18);
        z-index:10;
        font-weight: 500;
    }
    .modal-scroll-wrapper {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        overflow-y:scroll;
        padding:20px 40px;
    }
}

