@import 'variables';
@import 'mixins';

#nav.lo-nav-bar {
    background:#eee;
    //margin-bottom:20px;
    min-height:35px;
    border-bottom: 1px solid rgba(#22333b, 0.5);
    display:none;
    @include width-small() {
        display:block;
    }
    a, span {
        display:inline-block;
        @include font-size(12, 12);
        padding:11px 10px 5px 17px;
        &:first-child {
            padding-left:0;
        }
    }
    a {
        color:#666;
        text-decoration:none;
        font-weight:$regular;
        position:relative;
        &:before {
            content: "";
            content: "";
            bottom: 4px;
            left: 16px;
            right: 10px;
            position: absolute;
            height: 1px;
            background: #ccc;
        }
        &:first-child {
            &:before {
                left: 0px;
            }
        }

        &:nth-child(n+1){
            &:after {
                content: "";
                background-image: image-url('nav-divider.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center right;
                overflow: hidden;
                position: absolute;
                display: inline-block;
                height: 33px;
                width:13px;
                top: 0;
                bottom: 0;
                padding-left: 7px;
            }
        }
    }

}

#nav.lo-external-nav-bar {
    background:#eee;
    padding:10px 0;
    margin-bottom:20px;
}

