@import 'variables';
@import 'mixins';

#nav.lo-nav-bar {
    background:#eee;
    //margin-bottom:20px;
    height:35px;
    border-bottom: 1px solid rgba(#22333b, 0.5);
    a, span {
        display:inline-block;
        @include font-size(12, 12);
        padding:11px 5px 5px 5px;
        &:first-child {
            padding-left:0;
        }
    }
    a {
        color:#666;
        text-decoration:none;
        font-weight:$regular;
        position:relative;
        &:before {
            content: "";
            content: "";
            bottom: 4px;
            left: 5px;
            right: 5px;
            position: absolute;
            height: 1px;
            background: #ccc;
        }
    }
    img {
        height:33px;
        width:13px;
        display:inline-block;
        vertical-align:middle;
    }
}

#nav.lo-external-nav-bar {
    background:#eee;
    padding:10px 0;
    margin-bottom:20px;
}

