@import 'variables';
@import 'mixins';

#nav.lo-nav-bar {
    background:#eee;
    //margin-bottom:20px;
    a, span {
        display:inline-block;
        @include font-size(12, 12);
    }
    a {
        color:#666;
        text-decoration:none;
        font-weight:$regular;
        padding:5px 5px;
        span {
            border-bottom:1px solid #ccc;
        }
    }
    &>.lo-container>span {
        padding:5px 5px;
    }
    img {
        height:35px;
        width:13px;
        display:inline-block;
        vertical-align:middle;
    }
}

#nav.lo-external-nav-bar {
    background:#eee;
    padding:10px 0;
    margin-bottom:20px;
}

