.post {
  .post-editor {
    display: none;
  }

  &--editing {
    .post-viewer {
      display: none;
    }

    .post-editor {
      display: block;
    }
  }

}

.post-viewer {
  > .post-html {
    margin-bottom: 10px;
  }

  > .post-status {
    font-style: italic;
    color: #777;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .link {
    color: #333;
    font-weight: 400;
    text-decoration: underline;
  }
}


.post-editor {
  .button-primary {
    background: #3ab292;
    color: #fff;
  }

  .pure-button {
    text-decoration: none !important;
  }

  .CodeMirror {
    margin-bottom: 10px;
  }
}
