@import 'variables';
@import 'mixins';

pre.line-numbers {
    .line-numbers-rows {
        span {
            line-height:16px;
            padding-bottom:5px;
            &:before {
            }
        }
    }
    .line-highlight {
        background: rgba($color-2, 0.1);
        margin-top:0;
        &:before {
            background:$color-2;
            width:6px;
            height:6px;
            min-width:0;
            padding:0;
            border-radius:100%;
            left:5px;
            top:7px;
        }
    }
}
