@import 'mixins';
@import 'variables';

body.namespace-teams {
    a.logo {
        color: #fff;
        text-decoration: none;
        img {
            display: inline-block;
            vertical-align: top;
        }
        span {
            border-left:1px solid #fff;
            margin-left:7px;
            padding-left:7px;
            display: inline-block;
            line-height: 18px;
            font-weight:$regular;
            margin-top:2px;
        }
    }
}

.namespace-teams {
    h2 {
        font-weight:$regular;
        @include font-size(20, 20);
        margin-bottom:3px;
    }
    .h2-subheading {
        color:#666;
        margin-bottom:20px;
    }
}

.team-page {
    #team-header {
        margin-bottom:20px;
        background:#eee;
        .avatar {
            height:50px;
            display:block;
            float:right;
            border:1px solid rgba(#fff, 0.5);
            margin-top: -20px;
            border-radius:3px;
        }
        h1 {
            background-color:$color-2;
            background-image:image-url('background-overlay-2.png');
            background-size:cover;
            padding:30px 0 15px;
            @include font-size(30, 30);
            font-weight:$bold;
            color:#fff;
        }
        a {
            text-decoration:none;
            padding:7px 0;
            display:inline-block;
            color:#666;
            margin-right:20px;
            &.selected {
                color:$color-2;
                font-weight:$bold;
                border-bottom:3px solid $color-2;
            }
        }
    }

    .section {
        margin-bottom: 20px;

        > .section-inner {
            margin-bottom: 10px;
        }
    }
}
