@import 'mixins';
@import 'variables';

body.namespace-teams {
    a.logo {
        color: #fff;
        text-decoration: none;
        img {
            display: inline-block;
            vertical-align: top;
        }
        span {
            border-left:1px solid #fff;
            margin-left:7px;
            padding-left:7px;
            display: inline-block;
            line-height: 18px;
            font-weight: 400;
            margin-top:2px;
        }
    }
}

.teams-page,
.team-page {
    h1 {
        font-weight:$bold;
        @include font-size(16, 16);
        margin-bottom:20px;
        padding-bottom:7px;
        border-bottom:1px solid #ddd;
    }
    h2 {
        font-weight:$bold;
        @include font-size(14, 14);
        margin-bottom:10px;
    }
}

.teams-page {
    padding-top:20px;

    ul.inline-list {
        padding: 0;
        margin: 0;

        > li {
          display: inline-block;
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }
        }
    }
}

.team-page {
    #team-header {
        background:#eee;
        margin-bottom:20px;
        .name {
            display:inline-block;
        }
        a {
            text-decoration:none;
            padding:7px 0;
            display:inline-block;
            color:#999;
            margin-left:20px;
            &.selected {
                color:#333;
                font-weight:500;
                border-bottom:3px solid #333;
            }
        }
    }

    .section {
        margin-bottom: 20px;

        > .section-inner {
            margin-bottom: 10px;
        }
    }
}
