@import 'mixins';
@import 'variables';

.teams-page,
.team-page {
    h1 {
        font-weight:$bold;
        @include font-size(16, 16);
        margin-bottom:20px;
        padding-bottom:5px;
        border-bottom:1px solid #aaa;
    }
    h2 {
        font-weight:$bold;
        @include font-size(14, 14);
        margin-bottom:10px;
    }
}
.teams-page {
    padding-top:20px;
}

.team-page {
    #team-header {
        background:#eee;
        margin-bottom:20px;
        .name {
            display:inline-block;
        }
        a {
            text-decoration:none;
            padding:7px 0;
            display:inline-block;
            color:#999;
            margin-left:20px;
            &.selected {
                color:#333;
                font-weight:500;
                border-bottom:3px solid #333;
            }
        }
    }
}
