$color-1: #3ab292;
$color-2: #009cab;
$color-2-opaque: #f3fdfd;
$color-3: #45027b;

$line-color-1:#ccc;
$background-grey-1:#eee;
$background-grey-2:#fafafa;

$primary-blue: #3898ff;
$header-color-1: $color-1;
$header-color-2: $color-2;

$error-red-color:#ffe3e3;
$error-red-text-color:darken(#f34a56, 5%);

$thin: 100;
$light: 300;
$regular: 400;
$bold: 600;
$black: 700;

$fw-regular: $regular;
$fw-semibold: 500;
$fw-bold: $bold;
$fw-black: $black;
