.content
  .h2 Hello #{@user.handle},
  %p Welcome to Exercism. Complete setting up your account by confirming your email address - just click the link below.
  %p= link_to 'Confirm my account', confirmation_url(@user, confirmation_token: @token)
