body.namespace-research {
  .code-editor {
    width: 100%;
    height: 100%;
    * {
      font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
    }
  }
}
