body.namespace-research {
    .code-editor-manager {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        > .code-editor {
            width: 100%;
            height: 100%;

            visibility:hidden;
            &.loaded {
                visibility:visible;
            }
        }
    }

    .code-editor *, code {
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
    }

    .code-editor-toolbar {
        display: flex;
        padding: 10px;

        > .code-editor-toolbar-option {
            margin-right: 10px;

            > label {
                margin-right: 5px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

    }
}
