body.namespace-research {
    .code-editor-manager {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        > .code-editor {
            width: 100%;
            height: 100%;
        }
    }

    .code-editor *, code {
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
    }

    .code-editor-toolbar {
        padding: 10px;

        > label {
          margin-right: 5px;
        }
    }
}
