@import 'variables';
@import 'mixins';

#research-experiments {
    .header {
        background:$color-2;
        padding:70px 0 30px;
        margin-bottom:30px;
        h1 {
            color:#fff;
            @include font-size(25, 25);
        }
    }
    h2 {
        @include font-size(16, 16);
        font-weight:$fw-bold;
        margin-bottom:5px;
    }

    .introduction, .experiments, .coming-soon {
        max-width:500px;
    }

    .introduction {
        margin-bottom:20px;
        padding:20px;
        background:#f6f6f6;
        *:last-child {
            margin-bottom:0;
        }
    }
    .lhs {
        padding-right:50px;
    }
    .experiments {
        border-bottom:1px solid #ccc;
        padding-bottom:30px;
        margin-bottom:30px;

        h2 {
            margin-bottom:10px;
        }
        .experiment {
            h3 {
                @include font-size(14, 14);
                margin-bottom:5px;
                color:$color-2;
                font-weight:$fw-bold;
            }
            p {
                margin-bottom:10px;
            }
            .researchers {
                background:#f9f9f9;
                padding:20px;
                text-align:center;
                margin-bottom:10px;
                img {
                    height:25px;
                    &:not(:last-child) {
                        margin-right:20px;
                        padding-right:20px;
                        border-right:1px solid #ccc;
                    }
                }
            }
            .buttons {
                .learn-more-btn {
                    display:inline-block;
                    margin-right:5px;
                    width:140px;

                    background:#fff;
                    color:#333;
                    border:1px solid #aaa;
                }
                .participate-btn {
                    display:inline-block;
                    width:200px;

                    background:$color-2;
                    color:#fff;
                    border:1px solid $color-2;
                }
            }

        }
    }
}
