@import 'variables';
@import 'mixins';

#research-experiment {
    .content {
        max-width:1000px;
    }
    .lhs {
        padding-right:10%;
    }
    .at-a-glance {
        border:1px solid #ccc;
        border-radius:2px;
        padding:15px;

        h3 {
            @include font-size(16, 22);
            margin-bottom:5px;
            font-weight:$fw-bold;
        }
        ul {
            margin:0;
            padding-left:19px;
        }
        .participate-btn {
            background:$color-2;
            color:#fff;
            width:100%;
            margin-top:10px;
        }
        .partners {
            margin-top:15px;
            padding-top:15px;
            border-top:1px solid #ddd;
        }
    }
}

