@import 'mixins';
@import 'variables';

body.namespace-research {
    #experiment-solution-page {
      $breadcrumb-height: 35px;

      + footer {
        display: none;
      }

      > .breadcrumb {
        height: $breadcrumb-height;
      }

      > .experiment-solution {
        @include width-small() {
          height: calc(100vh - 50px - #{$breadcrumb-height});
        }

        height: calc(100vh - 50px);
      }
    }

    .experiment-solution {
      display: flex;

      > .description-panel {
        overflow-y: scroll;
      }
    }

    .solution-panel {
      display: flex;
      flex-direction: column;
    }

    .description-panel {
      padding: 40px;

      > .instructions {
        border-bottom: 3px solid $line-color-1;
        margin-bottom: 30px;
      }

      h2 {
        font-size: 18px;
        font-weight: $fw-bold;
        margin-bottom: 15px;
        border-top: 3px solid $line-color-1;
        padding-top: 30px;

        &:first-child {
          padding-top: 0;
          border: none;
        }
      }

      p {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      pre {
        * {
          font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
        }

        margin: 0 0 10px 0;
      }
    }

    .toolbar {
      display: flex;
      justify-content: flex-end;

      padding: 5px;
      background-color: #333;
    }

    .toolbar-button {
        background-color: $color-2;
        padding: 10px;
        width: 35%;
        font-size: 16px;
    }
}
