@import 'variables';
@import 'mixins';

#research-experiment {
    .header {
        background:$color-2;
        padding:70px 0 30px;
        margin-bottom:30px;
        h1 {
            color:#fff;
            @include font-size(25, 25);
        }
    }
    .content {
        max-width:1000px;
        h2 {
            @include font-size(16, 16);
            font-weight:$fw-bold;
            margin-bottom:5px;
        }

        p {
            @include font-size(15, 20);
            margin-bottom:10px;
        }

        p+h2 {
            margin-top:20px;
        }
    }
    .lhs {
        padding-right:10%;
    }
    .at-a-glance {
        border:1px solid #999;
        border-radius:2px;
        padding:15px;

        h3 {
            @include font-size(15, 15);
            font-weight:$fw-semibold;
        }
        ul {
            padding-left:19px;
        }
        .participate-btn {
            background:$color-2;
            color:#fff;
            width:100%;
        }
    }
}

