@import 'mixins';
@import 'variables';

body.namespace-research {
    &.prism-dark  {
        $re-background-l1: #333;
        $re-background-l2: #222;
        $re-scrollbar-color: #777;
        $re-border-color:#777;

        background:$re-background-l1;

        scrollbar-width: thin;
        scrollbar-color: $re-scrollbar-color $re-background-l1;

        ::-webkit-scrollbar {
          width: 14px;
          height: 14px;
        }
        ::-webkit-scrollbar-track {
          background: $re-background-l1;
        }
        ::-webkit-scrollbar-thumb {
          background-color: $re-scrollbar-color;
          border-radius: 6px;
          border: 3px solid $re-background-l1;
        }

        * {
            scrollbar-color: red yellow;
        }


        header {
            border-bottom:1px solid #555;
            .lo-container {
                padding:0 50px;
            }
        }

        #experiment-solution-page {
            .info-panel {
                .solution-info {
                    color:#fff;
                }

                .tabs-and-panes {
                    .tabs {
                        .tab {
                            background:$re-background-l2;
                            &:after {
                                background: $re-border-color;
                            }
                        }
                    }
                    .panes {
                        .pane {
                            background:$re-background-l2;
                            border:2px solid $re-border-color;
                        }
                    }

                    &.selected-1>.tabs>.tab-1,
                    &.selected-2>.tabs>.tab-2,
                    &.selected-3>.tabs>.tab-3,
                    &.selected-4>.tabs>.tab-4,
                    &.selected-5>.tabs>.tab-5,
                    &.selected-6>.tabs>.tab-6 {
                        border-top-color:$re-border-color;
                        border-left-color:$re-border-color;
                        border-bottom-color:$re-border-color;
                        color:#fff;

                        &:after {
                            display:none;
                        }
                    }
                }

                h2 {
                    color:#fff;
                    border-bottom: 1px solid #5a5a5a;
                }
                p, li {
                    color:#fafafa;

                    code {
                        border:1px solid #333;
                        background:#2a2a2a;
                    }
                    a {
                        color:#fff;
                        font-weight:$fw-semibold;
                        text-decoration:none;
                        border-bottom:1px solid #aaa;
                    }
                }
                pre {
                    border:1px solid #333;
                    background:#2a2a2a;
                }
            }
            .gutter {
                background:$re-background-l1;
            }
            .coding-panel {
                .toolbar {
                    .toolbar-multiselect-item {
                        border:1px solid $re-border-color;
                        background:$re-background-l2;
                        .label {
                            background:$re-background-l2;
                            color:#fff
                        }
                        button {
                            background:$re-background-l2;
                            color:#fff;
                            border-left: 1px solid #aaa;
                            &[selected] {
                                background:#fff;
                                color:$re-background-l2;
                            }
                        }
                    }
                    .toolbar-shortcuts-btn {
                        border:1px solid $re-border-color;
                        background:$re-background-l2;
                    }
                }
                .code-editor {
                    border:2px solid $re-border-color;
                    border-radius:2px;
                }
            }
        }
    }

    &:not(.prism-dark) #experiment-solution-page {
    }

    #experiment-solution-page+footer {
        display: none;
    }

    .experiment-solution {
        height: calc(100vh - 50px);
        display:flex;

        @include width-small() {
            height: calc(100vh - 50px);
        }

        .test-area {
            &.good {
                border:2px solid green;
            }
            &.bad {
                border:2px solid red;
            }
            &.pending {
                border:2px solid orange;
            }
        }
        .toolbar {
            .toolbar-item {
                height:26px;
                &, * {
                    @include font-size(13, 24);
                }
            }

            .toolbar-multiselect-item {
                display:flex;
                .label {
                    padding:0 10px;
                    display:block;
                    @include font-size(13, 24);
                }
                button {
                    @include font-size(13, 24);
                    display:block;
                    padding:0 10px;
                    border-radius:0;
                }
            }
            .toolbar-shortcuts-btn {
                padding:0 10px;
                margin-bottom:10px;
                margin-right:10px;
            }
        }
        .toolbar-1 {
            flex-grow:1;
            display:flex;
            justify-content: flex-end;
            padding-top:15px;
        }
        .toolbar-2 {
            flex-grow:1;
            display:flex;
            justify-content: flex-start;
            margin-bottom:15px;
            margin-top:40px;
        }

        .environment {
            display: flex;
            height: calc(100% - 85px); // - .header
            padding-bottom:15px
        }
    }

    .coding-panel {
        display: flex;
        flex-direction: column;
        background: #333;
        color: white;
        padding-right:20px;
        padding-bottom:15px;
        min-width:400px;
        height: 100%;

        .submit-code-btn {
            margin-top:15px;
            background-color: $color-2;
            padding:0 20px;
            @include font-size(15, 40);
            align-self: flex-end;
        }

    }

    .gutter {
        cursor:col-resize;
    }

    .info-panel {
        padding: 20px 20px;
        height: calc(100% - 15px);
        min-width:400px;

        .solution-info {
            margin-bottom:15px;
            .exercise {
                height:22px;
                overflow:hidden;
                margin-bottom:5px;
                h1 {
                    display:inline-block;
                    @include font-size(20, 20);
                    font-weight:$fw-bold;
                }
                i {
                    @include font-size(14, 20);
                    margin:0 10px;
                }
                .experiment {
                    @include font-size(14, 20);
                    display:inline-block;
                }
            }
            .status {
                background:$color-2;
                @include font-size(13, 28);
                color:#fff;
                font-weight:$fw-bold;
                display:inline-block;
                padding:0 10px;
            }
        }

        .tabs-and-panes {
            display:flex;
            height:calc(100% - 50px);

            .tabs {
                padding:0;
                margin:10px 0 0 0;
                border:none;
                z-index:1;

                .tab {
                    display:block;
                    padding:0;
                    margin:0;
                    text-align:center;
                    width:30px;
                    height: 40px;
                    line-height: 40px;

                    border-width: 2px 0 2px 2px;
                    border-radius:5px 0 0 5px;
                    position: relative;
                    border-color:transparent;

                    &:after {
                        content: " ";
                        width: 2px;
                        height: 42px;
                        right: 0px;
                        top: -2px;
                        position: absolute;
                        z-index: 2;
                    }
                }
            }

            .panes {
                max-width: calc(100% - 20px);
                flex-grow: 1;
                margin-left:-2px;
                .pane {
                    padding:20px;
                    border-radius:2px;

                    overflow: auto;
                    height: 100%;
                }
            }
        }

        h2 {
            @include font-size(16, 16);
            font-weight: $fw-semibold;
            padding-bottom:10px;
            margin-bottom: 10px;
            margin-top:30px;

            &:first-child {
                margin-top:0;
            }
        }

        p, li {
            @include font-size(15, 21);
            margin-bottom: 10px;

            code {
                @include code-font;
                font-size:13px;
                @include font-size(13, 21);
                padding:2px 2px;
            }
        }
        pre {
            margin: 0 0 10px 0;

            * {
                font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
            }
        }
    }

    @keyframes focus {
        0% {
            background-color: yellow;
        }
        100% {
            background-color: transparent;
        }
    }

    .test-result-focus {
        animation: focus 2s;
    }

    .test-run {
        border-radius:2px;
        padding:20px;
    }

    .passed-test {
        color: green;
    }
    .submission-status {
        border: 2px solid orange;
    }
}
