@import 'variables';
@import 'mixins';

body.controller-research-pages.action footer {
    margin-top:0;
}
#research-landing-page {
    .welcome-section {
        .lhs {
            z-index: -1;
            padding-top:30px;
            img {
                width:100%;
                display:block;
            }
            @include width-medium() {
                padding-bottom:50px; 
                padding-top:0px;

                img {
                    width:80%;
                    margin-top:80px;
                }
            }

        }
        .rhs {
            padding-top:50px;
            margin-bottom:50px;
            @include width-medium() {
                padding-top:80px;
                margin-bottom:80px;
            }
            h1 {
                @include header-font;
                font-weight:$bold;
                @include font-size(30,24);
                color:$color-2;
                margin-bottom:10px;
                position:relative;
                img {
                    height:25px;
                    background:white;
                    position:absolute;
                    top:0;
                    left:0;
                }
                span {
                    width:145px;
                    display:inline-block;
                }
            }
            h2 {
                @include header-font;
                font-weight:600;
                @include font-size(26, 31);
                margin-bottom:10px;
                max-width:500px;
            }
            p {
                color:#333;
                @include font-size(16, 22);
                max-width:480px;
                margin-bottom:10px;
                a {
                    font-weight:$fw-semibold;
                }
            }
            .btns {
                margin-bottom:20px;
            }
            .pure-button {
                @include font-size(17, 17);
                font-weight:$fw-semibold;

                border-radius:2px;
                width:100%;
                margin-bottom:15px;
                @include width-medium() {
                    width:auto;
                    margin-bottom:0;
                }
                &.sign-up-button {
                    background:$color-2;
                    color:#fff;
                    margin-right:5px;
                    padding:15px 70px;
                }
                &.languages-button {
                    border:1px solid $color-2;
                    color:$color-2;
                    background:#fff;
                    padding:15px 30px;
                }
                &.participate-button {
                    background:$color-2;
                    color:#fff;
                    display:block;
                    padding:15px 70px;
                }
            }
        }
    }
    .logos-section {
        background: #f3f3f3;
        border-top: 1px solid #ddd;
        text-align: center;
        padding: 30px 0;
        h3 {
            @include font-size(15, 15);
            margin-bottom: 5px;
            color: #999;
            font-weight: $fw-regular;
        }
        img {
            width: 150px;
            margin: 0 15px;
            vertical-align: middle;
        }
    }
}
