body.namespace-research {
  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 99999999;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
  }

  .overlay-close {
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;

    > a {
      color: white;
    }
  }
}
