@import 'variables';
@import 'mixins';

#user-experiment {
    .content {
        .lhs {
            padding-right:100px;
        }
        .rhs {
            .about {
                background:#f3f3f3;
                padding:20px;
            }

        }
    }
    .languages {
        margin-top:20px;
        h2 {
            margin-bottom:10px;
        }
    }
    .language {
        border-radius:2px;
        padding:20px;
        margin-bottom:10px;
        display: flex;
        align-items: center;
        border-radius:2px;
        &.in-progress {
            border:1px solid $color-2;
        }

        img {
            width:50px;
            margin-right:15px;
        }
        .details {
          flex-grow: 1;
        }
        h3 {
            @include font-size(18, 18);
            margin-bottom:5px;
            font-weight:$fw-bold;
        }
        .status {
            color:#999;
        }
        .pure-button {
            background:$color-2;
            color:#fff;
            border:1px solid $color-2;
            width:120px;
        }
    }
}



