@import 'variables';

body.namespace-research {
    .websocket-compatibility-message {
      background-color: white;
      padding: 30px;
      color: #333;
      width: 500px;

      > h1 {
          font-size: 22px;
          margin-bottom: 20px;
          font-weight: $fw-bold;
      }

      > p {
          margin-bottom: 0;
      }
    }
}
