=form_tag next_solutions_mentor_dashboard_path, method: :get, remote: true do
  .widget-filter.triaged_as
    .title Triaged:
    = select_tag :next_triaged_as,
      options_for_select(Solution::TRIAGED_AS_OPTIONS.map{|key|[key.to_s.titleize, key]}, triaged_as),
      include_blank: true
  .widget-filter.track_id
    .title Track:
    = select_tag :next_track_id,
      options_for_select(OptionsHelper.format_options(track_id_options), track_id),
      include_blank: true
  .widget-filter.exercise_id
    .title Exercise:
    = select_tag :next_exercise_id,
      options_for_select(OptionsHelper.format_options(exercise_id_options), exercise_id),
      include_blank: true
