%h2 Next solutions to mentor
-if @suggested_solutions.present?
  -@suggested_solutions.each do |solution|
    -user_track = @user_tracks["#{solution.user_id}|#{solution.exercise.track_id}"]
    =render "solution", solution: solution, user_track: user_track
-else
  .no-solutions.general
    There are currently no solutions that need claiming.
