.no-solutions-section
  %i.fa.fa-inbox
  %h2 No solutions to mentor
  %p There are currently no solutions that need mentoring in your chosen languages - thanks for your hard work! Why not go spend some time learning a new language on Exercism instead?
