=link_to [:mentor, solution], class: 'solution' do
  .person
    =image_tag display_avatar_url(solution.user, user_track)
    .handle= display_name(solution.user, user_track)
    .submitted-at Submitted #{time_ago_in_words(solution.iterations.last.created_at)} ago

