%h2 Welcome to being a mentor!
%p Thanks for becoming a mentor. We're working hard to make this the best possible experience for you. Here are a few next steps to get you started:
%ul
  %li Check your email. You should have a link to a private Slack Workspace for mentors. Look out for the #start-here channel to help you get acquainted
  %li Submit your bio #{link_to "on GitHub", "https://github.com/exercism/website-copy/blob/master/mentors/README.md#mentors"} if you'd like to appear as a mentor on the site
  %li Read our guide to #{link_to "getting started with mentoring", "https://exercism.io/mentoring-getting-started"} to get a feel for what to do
  %li Check out our #{link_to "mentoring workflow", "https://exercism.io/mentoring-workflow"} guide for a practical "how to" of the mentoring user interface

%p If you get stuck, check the #{link_to "mentoring FAQs", "https://exercism.io/mentoring-faqs"} and if you have any questions, please ask on Slack. Everyone will be pleased to help you get going!

=button_tag "Let's go!", class: 'pure-button close-modal'

