%h2 Welcome to being a mentor!
%p Thanks for becoming a mentor. We're working hard to make this the best possible experience for you. Here are a few next steps to get you started:
%ul
  %li Check your email. You should have a link to a private Slack Workspace for mentors. Look out for the #start-here channel to help you get acquainted.
  %li Submit your bio #{link_to "on GitHub", "https://github.com/exercism/website-copy/blob/master/mentors/README.md#mentors"} if you'd like to appear as a mentor on the site.
  %li Check out our #{link_to "Mentoring Guide", "https://exercism.io/mentoring-guide"}
  %li Check out our #{link_to "Mentoring FAQs", "https://exercism.io/mentoring-faqs"}

%p If you have any questions, please ask on Slack. Everyone will be pleased to help you get going!

=button_tag "Let's go!", class: 'pure-button close-modal'

