-return if current_user.solution_mentorships.count == 0

%h2 Solutions you're mentoring
= render "your_solutions_filters",
  status: @your_status,
  status_options: @your_status_options,
  track_id: @your_track_id,
  track_id_options: @your_track_id_options,
  exercise_id: @your_exercise_id,
  exercise_id_options: @your_exercise_id_options

.your-solutions{style: @your_solutions.present?? "display:block" : "display:none"}
  = render "your_solutions", your_solutions: @your_solutions, user_tracks: @user_tracks
.no-your-solutions{style: @your_solutions.empty?? "display:block" : "display:none"}
  %p No action required on any solutions you're currently giving feedback on.
  %p Please choose a solution from the "Next solutions to mentor" list below to continue mentoring.
