-your_solutions.each do |solution|
  -user_track = user_tracks["#{solution.user_id}|#{solution.exercise.track_id}"]
  =render "solution", solution: solution, user_track: user_track

= paginate @your_solutions, remote: true, params: {action: :your_solutions}
