#mentor-dashboard-page
  .header
    .lo-container
      %h1 Mentor Dashboard
      .h1-subtitle You can keep track on what needs responding to here.

  .lo-container
    .pure-g
      .pure-u-2-3
        /-if @your_solutions.present? || @suggested_solutions.present?
        /- if @your_solutions.present?

        =render "your_solutions_section"

        -if @suggested_solutions.present?
          =render "next_solutions_section"
        -else
          =render "no_solutions_section"

      .pure-u-1-3
        .contributions-section
          %h2 Your Contribution
          .h2-subtitle see how you're helping
          .box
            You have mentored
            %strong #{pluralize @total_solutions_count, "solution"}
            and helped
            %strong #{pluralize @total_students_count, "student"}
            since you became a mentor.

        -if @feedbacks.size > 0
          .celebration-section
            %h2 Celebration Stream
            .h2-subtitle see your latest feedback
            -@feedbacks.each do |feedback|
              .box
                =feedback

-content_for :js do
  :javascript
    submitOnChange($('select'))
