-if @your_solutions.size > 0
  $('.your-solutions').show().html("#{j render "your_solutions", your_solutions: @your_solutions, user_tracks: @user_tracks}")
  $('.no-solutions.personal').hide()
-else
  $('.your-solutions').hide()
  $('.no-solutions.personal').show().html("You have no solutions in this category.")

- if @track && @exercise_id.blank?
  var select = $('#exercise_id')[0].selectize;
  select.clearOptions();
  select.addOption(#{@exercise_id_options.to_json.html_safe});
