.lo-container
  %h1= @exercise.title
  %h2 Part of the #{@track.title} Track on Exercism

  %h3 Solutions
  - @solutions.each do |solution|
    =link_to solution.user.name, [@track, @exercise, solution]

