
%table
  %tbody
    %tr
      %th Name
      %th Handle
      %th Languages
      %th Total submissions
      %th Average rating
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.handle
        %td= @tracks[user.id].join(',')


.lo-container
  =link_to "View", "#", class: 'pure-button'

=paginate @users
