.next-steps
  .title ↳ Next Steps
  -unless @solution.completed?
    %p Well done on submitting your solution!
    %p At this stage normally you would have a discussion with your mentor about your solution. However, as this is a simple exercise to get you started, we skip this step, and you can complete the exercise straight away.
    =link_to "Complete exercise", [:complete, :my, @solution], method: :patch, remote: true, class: "pure-button complete-button approved"
