/=link_to [@track, @exercise, :solutions], class: 'pure-button community-solutions' do
/  %i.fa.fa-users
/  Community solutions

-if @solution.last_updated_by_user_at && @solution.last_updated_by_user_at <= Exercism::V2_MIGRATED_AT && !@solution.mentoring_requested?
  .migration-bar
    .lo-container
      This solution has been imported from an old version of the website.
      -if @user_track.mentoring_slots_remaining?
        If you would like to receive mentorship on it, please #{link_to "click here", request_mentoring_my_solution_path(@solution), method: :patch}.
      -else
        %br
        Once your other solutions on this track have been mentored you may request mentoring for this.

-elsif @solution.completed?
  -if @solution.published?
    .notifications-bar
      .lo-container
        .notification
          Your solution has been published.
          =link_to "View published solution", [@solution.exercise.track, @solution.exercise, @solution], method: :get
  -else
    .notifications-bar
      .lo-container
        .notification
          Well done! Your solution is completed.
          =link_to "Publish your solution", [:publish, :my, @solution, publish: 1], method: :patch

-elsif @solution.approved?
  -if @solution.exercise.auto_approve?
    .notifications-bar
      .lo-container
        .notification Your exercise has been submitted successfully.
  -else
    .notifications-bar
      .lo-container
        .notification.action
          %span.text
            -if @solution.approved_by_id == User::SYSTEM_USER_ID
              This solution has been automatically approved
            -else
              A mentor has approved this solution
          =link_to "Complete exercise", [:complete, :my, @solution], method: :patch, remote: true

-elsif @solution.track_in_mentored_mode? && !@solution.mentoring_requested?
  .notifications-bar
    .lo-container
      .notification
        Your exercise has been submitted successfully. You may mark it as completed, browse other solutions, or request mentoring.

-elsif @iteration.discussion_post_notifications_for_user.unread.size > 0
  .notifications-bar
    .lo-container
      .notification
        A mentor has left you a new comment.

-elsif !@solution.mentoring_requested?
  .notifications-bar
    .lo-container
      .notification
        In Practice Mode you will
        %strong not
        receive mentoring by default.
        -if @user_track.mentoring_slots_remaining?
          You may request mentoring on #{pluralize @user_track.max_mentoring_slots, "solution"} at a time.
          #{link_to "Request mentoring", request_mentoring_my_solution_path(@solution), method: :patch}.
        -else
          You may request mentoring once your existing solutions have been mentored.

-elsif @iteration.mentor_discussion_posts.count == 0
  .notifications-bar
    .lo-container
      .notification
        Well done on submitting. A mentor will leave you feedback as soon as possible.

-else
  .notifications-bar
    .lo-container
      .notification
        A mentor has left you a comment.
