#nav.lo-nav-bar
  .lo-container
    /=link_to "Dashboard", root_path
    /=image_tag "nav-divider.png", alt: ""
    =link_to "Language Tracks", [:my, :tracks]
    =image_tag "nav-divider.png", alt: ""
    =link_to "#{@track.title} Track", [:my, @track]
    =image_tag "nav-divider.png", alt: ""
    %span= @exercise.title

.lo-container
  .track-header
    .icon
      =image_tag @exercise.white_icon_url
    .inner
      -if @iteration
        =iterations_nav_widget(:my, @solution, @iteration)

      %h2= @exercise.title
      .track-progress
        -if @user_track.independent_mode?
          %h3 In Independent Mode
        -else
          %h3 Track Progress:
          -num_core_exercises = @track.exercises.core.count
          -num_completed_exercises = @user_track.num_completed_core_exercies
          -exercise_idx = @track.exercises.core.where("position < ?", @exercise.position).count

          .dots
            -num_core_exercises.times do |i|
              -if i == exercise_idx
                .dot.current
              -elsif i < num_completed_exercises
                .dot.completed
              -else
                .dot.locked
