- num_available_core_exercises = @user_track.num_available_core_exercises
- num_available_side_exercises = @user_track.num_available_side_exercises
.finished-section
  .title-block
    %h3
      =icon("check-circle", "checkmark")
      Well done on solving this exercise!
  .next-block
    %h3
      =graphical_icon("question-circle")
      What's next?

    -if @solution.published?
      =render "my/solutions/widgets/published"
    -elsif @solution.completed?
      =render "my/solutions/widgets/publish_prompt"
    -else
      =render "my/solutions/widgets/complete_prompt"

    =render "my/solutions/widgets/community_solutions"

    .next-option
      = render_solution_mentor_feedback_request_section(:mentored, @solution)
