- num_available_exercises = @user_track.num_available_exercises

.finished-section
  .title-block
    %h3
      =icon("check-circle", "checkmark", style: :legacy)
      Well done on solving this exercise!
  .next-block
    %h3
      =graphical_icon("question-circle", style: :legacy)
      What's next?

    -if @solution.published?
      =render "my/solutions/widgets/published"
    -elsif @solution.completed?
      =render "my/solutions/widgets/publish_prompt"
    -else
      =render "my/solutions/widgets/complete_prompt"

    .next-option
      = render "my/solutions/mentor_feedback_request/independent",
        mentor_request: MentorFeedbackRequest.new(@solution)

    =render "my/solutions/widgets/community_solutions"

    -if num_available_exercises > 0
      .next-option
        %p
          %strong Carry on coding.
          You have
          #{pluralize num_available_exercises, "exercise"}
          that you have not yet completed on this track. Why not try a new challenge?

        =link_to "Choose next exercise", my_track_path(@track), class: 'pure-button'


