.discussion
  %h3.disabled
    =icon :ban
    Mentor Discussion
  %p.disabled
    This solution has been imported from independent mode.
    -if @user_track.mentoring_slots_remaining?
      You may request mentoring to unlock its extra exercises.
      =button_to "Request mentoring on this solution.", request_mentoring_my_solution_path(@solution), method: :patch, class: 'pure-button request-mentoring'
    -else
      Mentoring will become available when your other solutions have been mentored.
