-if @solution.last_updated_by_user_at && @solution.last_updated_by_user_at <= Exercism::V2_MIGRATED_AT && !@solution.mentoring_requested?
  / Legacy Mode
  =render "show_legacy"
  =render "show_legacy_discussion"

-elsif @solution.mentoring_requested?
  / Mentoring has been requested so this superceeds other features
  -if @solution.completed?
    =render "show_finished_mentored"

  -elsif @solution.approved? && !@exercise.auto_approve?
    =render "show_approved"

  .discussion
    %h3.rhs-heading Mentor discussion
    -if @solution.exercise.auto_approve?
      =render "auto_approved"
      =render "discussion", readonly: @iteration.discussion_posts.size == 0
    -else
      =render "discussion"

-elsif @solution.user_track.independent_mode?
  =render "show_finished_independent"
  =render "show_legacy_discussion"

-else # Side exercise
  =render "show_finished_side"
  =render "show_legacy_discussion"

-content_for :js do
  :javascript
    setupSolution("#{@solution.uuid}", #{@iteration.id})
    $('body').on('click', '.reflection-continue-button', function(e) {
      e.preventDefault();
      $(this).hide();
      $('form .reflection-submit-button').show();
      $('form .modal-lhs').hide();
      $('form .modal-rhs').show();
      $('.progress i:nth-child(3)').addClass('filled');
      $('.progress i:last-child').attr('aria-label', 'Step 3 of 4');
    });

