.approved-section
  .title ↳ Solution Approved!
  %p Your solution has been approved by a mentor. Congratulations! You can now complete the exercise and move forward on the track.
  =link_to "Complete Exercise", [:complete, :my, @solution], method: :patch, remote: true, class: "pure-button complete-button approved"
