-if @solution.last_updated_by_user_at && @solution.last_updated_by_user_at <= Exercism::V2_MIGRATED_AT && !@solution.mentoring_requested?
  / Legacy Mode
  =render "show_legacy"
  =render "show_legacy_discussion"

-elsif @solution.mentoring_requested?
  / Mentoring has been requested so this superceeds other features
  -if @solution.completed?
    =render "show_finished_mentored"

  -elsif @solution.approved? && !@exercise.auto_approve?
    =render "show_approved"

  -elsif @solution.mentorships.active.count == 0 && @solution.mentor_discussion_posts.count == 0 && !@solution.exercise.auto_approve?
    -if @solution.user_track.independent_mode?
      .finished-section
        .title-block
          %h3
            =icon("clock-circle", "Clock")
            You have requested mentoring for this exercise.
        .next-block
          .next-option
            %p
              %strong A mentor will be with you as soon as they can.
              Exercises in independent mode normally take longer to receive mentoring on than those in mentored mode. For some tracks this might be a few hours but for the busiest tracks it might be a few days.
          .next-option
            %p
              %strong Don't want mentoring after all?
              Changed your mind and decided you don't want mentoring on this exercise? Want to free up your mentoring allowance for a different exercise? No problem!
            =link_to "Cancel mentoring request", [:cancel_mentoring_request, :my, @solution], class: 'pure-button', method: :patch

    -elsif @solution.exercise.side?
      .finished-section
        .title-block
          %h3
            =icon("clock-circle", "Clock")
            You have requested mentoring for this exercise.
        .next-block
          .next-option
            %p
              %strong A mentor will be with you as soon as they can.
              As side exercises don't block progression, they normally take longer to receive mentoring on than core exercises. For some tracks this might be a few hours but for the busiest tracks it might be a few days.
          .next-option
            %p
              %strong Don't want mentoring after all?
              Changed your mind and decided you don't want mentoring on this exercise? Want to free up your mentoring allowance for a different exercise? No problem!
            =link_to "Cancel mentoring request", [:cancel_mentoring_request, :my, @solution], class: 'pure-button', method: :patch

  .discussion
    %h3.rhs-heading Mentor discussion
    -if @solution.exercise.auto_approve?
      =render "auto_approved"
      =render "discussion", readonly: @iteration.discussion_posts.size == 0
    -else
      =render "discussion"

-elsif @solution.user_track.independent_mode?
  =render "show_finished_independent"
  =render "show_legacy_discussion"

-else # Side exercise
  =render "show_finished_side"
  =render "show_legacy_discussion"

-content_for :js do
  :javascript
    setupSolution("#{@solution.uuid}", #{@iteration.id})
