.discussion
  %h3.disabled
    =icon :ban
    Mentor Discussion (Disabled in independent mode)
  %p.disabled
    Mentoring is disabled by default in Independent Mode. However, you can request feedback on a maximum of 1 solution at a time.
    -if @user_track.mentoring_slots_remaining?
      =button_to "Request mentoring on this solution.", request_mentoring_my_solution_path(@solution), method: :patch
    -else
      Once one of your existing solutions is completed you will be able to request mentoring here.
  =link_to "Complete Exercise", [:complete, :my, @solution], method: :patch, remote: true, class: "pure-button complete-button approved"


