- num_available_core_exercises = @user_track.num_available_core_exercises
- num_available_side_exercises = @user_track.num_available_side_exercises
.finished-section
  .title-block
    %h3
      =icon("check-circle", "checkmark", style: :legacy)
      Well done on solving this exercise!
  .next-block
    %h3
      =graphical_icon("question-circle", style: :legacy)
      What's next?

    .next-option
      = render "my/solutions/mentor_feedback_request/legacy",
        mentor_request: MentorFeedbackRequest.new(@solution)

    .next-option
      %p
        %strong Explore more solutions to #{@exercise.title}.
        There are lots of different ways to approach every exercise on Exercism. Why not see how others have solved it?

      =link_to "View community solutions", track_exercise_solutions_path(@track, @exercise), class: 'pure-button'

    -if num_available_core_exercises > 0 || num_available_side_exercises > 0
      .next-option
        %p
          %strong Carry on coding.
          You have
          -if num_available_core_exercises > 0
            #{pluralize num_available_core_exercises, "core exercise"}
            -if num_available_side_exercises > 0
              and
          -if num_available_side_exercises > 0
            #{pluralize num_available_side_exercises, "side exercise"}
          that you have not yet completed on this track. Why not try a new challenge?

        =link_to "Choose next exercise", my_track_path(@track), class: 'pure-button'



