.progress
  - if @solution.mentorships.count == 0
    =graphical_icon 'circle filled'
    =graphical_icon 'circle'
    =icon 'circle', 'Step 1 of 3'
  - else
    =graphical_icon 'circle filled'
    =graphical_icon 'circle'
    =graphical_icon 'circle'
    =icon 'circle', 'Step 1 of 4'

.icon
  =graphical_image @exercise.white_icon_url, class: 'exercise-icon'
  =image "tick-white.png", "White checkmark", class: 'tick'

%h2 Well done
%h3 You've completed #{@solution.exercise.title}

%p You've now completed #{pluralize @num_completed_exercises, "exercise"} on the #{@track.title} track! Take a few moments to reflect on this exercise and then you can get started on the next challenge.
=link_to "Continue", [:reflection, :my, @solution], method: :get, remote: true, class: 'pure-button js-disable-on-click'

:javascript
  setTimeout(function() {
    $('#modal .icon img.exercise-icon').fadeOut(500)
    $('#modal .icon img.tick').fadeIn(500)
  }, 1000)
