.progress
  %i.fa.fa-circle.filled
  %i.fa.fa-circle
  %i.fa.fa-circle

.icon
  =image_tag @exercise.white_icon_url, class: 'exercise-icon'
  =image_tag "tick-white.png", class: 'tick'

%h2 Well done
%h3 You've completed #{@solution.exercise.title}

%p You've now completed #{pluralize @num_completed_exercises, "exercise"} on the #{@track.title} track! Take a few moments to reflect on this exercise and then you can get started on the next challenge.
=link_to "Continue", [:reflection, :my, @solution], method: :get, remote: true, class: 'pure-button'

:javascript
  setTimeout(function() {
    $('#modal .icon img.exercise-icon').fadeOut(500)
    $('#modal .icon img.tick').fadeIn(500)
  }, 1000)
