.progress
  - if @solution.auto_approve?
    =graphical_icon 'circle filled'
    =graphical_icon 'circle filled'
    =icon 'circle', 'Step 2 of 3'
  - else
    =graphical_icon 'circle filled'
    =graphical_icon 'circle filled'
    =graphical_icon 'circle'
    =icon 'circle', 'Step 2 of 4'

=form_tag [:reflect, :my, @solution], method: :patch, remote: true do
  .pure-g
    = render "my/solutions/reflection/form",
    solution: @solution,
    mentor_iterations: @mentor_iterations

  - if @solution.auto_approve?
    =button_tag "Save and continue", class: 'pure-button reflection-submit-button'
  - else
    .pure-button.reflection-continue-button Continue
    =button_tag "Save and continue", class: 'pure-button reflection-submit-button', style: 'display:none;'
