.progress
  =graphical_icon 'circle filled'
  =graphical_icon 'circle filled'
  =icon 'circle', 'Step 2 of 3'

=form_tag [:reflect, :my, @solution], method: :patch, remote: true do
  :cn

    = render "my/solutions/reflection/form",
    solution: @solution,
    mentor_iterations: @mentor_iterations

  =button_tag "Save and continue", class: 'pure-button'
