.progress
  %i.fa.fa-circle.filled
  %i.fa.fa-circle.filled
  %i.fa.fa-circle

=form_tag [:reflect, :my, @solution], method: :patch, remote: true do
  .pure-g
    = render "my/solutions/reflection/form",
    solution: @solution,
    mentor_iterations: @mentor_iterations

  =button_tag "Save and continue", class: 'pure-button'
