#modal-close-button x
=form_tag [:report, :my, @solution], remote: true do
  %h2 Report
  %h3 What do you want to report?
  =text_area_tag :report_text, nil, autofocus: true, required: true

  =button_tag "Send", class: 'pure-button'
