#my-solution-page
  =render "nav_and_header"

  .lo-container
    .notifications-bar
      =link_to [@track, @exercise, :solutions], class: 'pure-button community-solutions' do
        %i.fa.fa-users
        Community Solutions

      -if @solution.completed?
        .notification.action
          Solution completed!!

      -elsif @solution.approved?
        .notification.action
          %i.fa.fa-bell
          %span.text A mentor has approved this solution
          =link_to "Mark as completed", [:complete, :my, @solution], method: :patch, remote: true
      -elsif @iteration.notifications.unread.size > 0
        .notification
          New comment
      -else
        .notification
          %i.fa.fa-clock-o
          Well done on submitting. A mentor will leave you feedback shortly.

    .pure-g.panels
      .pure-u-1-2.lhs
        .lhs-content
          .tabs-and-panes.selected-3
            .tabs
              .tab.tab-1
                Instructions
              .tab.tab-2
                Test Suite
              .tab.tab-3
                Latest Solution

            =render "solutions/panes", iteration: @iteration

      .pure-u-1-2.rhs
        .discussion
          %h3 Mentor Discussion
          -if @iteration.discussion_posts.size > 0
            .posts
              =render partial: "my/discussion_posts/post", collection: @iteration.discussion_posts, locals: {solution: @solution}
          -else
            .posts{style: "display:none"}
            .next-steps
              .title ↳ Next Steps

              %p Well done on submitting your iteration. A mentor will check out your work and leave a comment here on your solution soon
              %p
                In the meantime why not try a different exercise on the
                =link_to "#{@track.title} track", [:my, @track]
                or explore the #{link_to "other Exercism tracks", [:my, :tracks]}.

          =form_for [:my, DiscussionPost.new], remote: true, html: {class: "new-discussion-post-form"} do |f|
            =hidden_field_tag :iteration_id, @iteration.id

            .tabs-and-panes.selected-1
              .tabs
                .tab.tab-1{data: {tab: "markdown"}} Write
                .tab.tab-2.preview-tab{data: {tab: "preview"}} Preview
              .panes
                .pane.pane-1.markdown
                  =f.text_area :content
                .pane.pane-2.preview
                  .preview-area

            =button_tag "Comment", class: 'pure-button'

-content_for :js do
  :javascript
    setupSolution()
