#my-solution-page
  =render "nav_and_header"

  .lo-container
    =render "information_bar"

    .pure-g.panels#solution-panels
      .pure-u-1-2.lhs
        .lhs-content
          .tabs-and-panes.selected-3
            .tabs
              .tab.tab-1
                Instructions
              .tab.tab-2
                Test Suite
              .tab.tab-3
                Solution

            =render "solutions/panes", iteration: @iteration

      .pure-u-1-2.rhs
        .discussion
          -if @user_track.independent_mode?
            -if @solution.independent_mode?
              %h3.disabled
                %i.fa.fa-ban
                Mentor Discussion (Disabled in independent mode)
              %p.disabled
                Mentoring is disabled by default in Independent Mode. However, you can request feedback on a maximum of 5 solutions.
                -if @user_track.mentoring_allowance_used_up?
                  Once one of your existing solutions is completed you will be able to request mentoring here.
                -else
                  =link_to "Request mentoring on this solution.", request_mentoring_my_solution_path(@solution), method: :patch
              =link_to "Complete Exercise", [:complete, :my, @solution], method: :patch, remote: true, class: "pure-button complete-button approved"

            -else
              %h3 Mentor Discussion
              =render "discussion"
          -else
            %h3 Mentor Discussion
            -if @solution.exercise.auto_approve?
              =render "auto_approved"
            -else
              =render "discussion"

-content_for :js do
  :javascript
    setupSolution()
