#my-solution-page
  =render "nav_and_header"

  .lo-container
    .small-iterations-nav
      -if @iteration
        =iterations_nav_widget(:my, @solution, @iteration)
  =render "information_bar"

  .lo-container
    = render_panels do
      .lhs
        .lhs-content
          .tabs-and-panes.selected-3
            .tabs
              .tab.tab-1
                Instructions
              .tab.tab-2
                Test suite
              .tab.tab-3
                Solution

            =render "solutions/panes", iteration: @iteration

        -if !@solution.latest_exercise_version?
          .update-exercise-section
            %strong Update this exercise
            %p This exercise has been improved since you started it. You can update the exercise to the latest version by using the button below then redownloading the exercise. Please note that this may mean your existing code fails the new tests.
            =link_to "Update exercise to latest version", [:update_exercise, :my, @solution], method: :patch, class: 'pure-button'

        .download-section
          %strong Download your solution
          %p Changed computer or want to re-download the exercise after updating to the latest version? Use this command:
          =render "widgets/code_snippet", code: @exercise.download_command

      .rhs
        =render "show_rhs"
