.lo-container
  #solve-interface
    #ace-editor
      :preserve
        class TwoFer
          def self.two_fer(name="you")
            "One for %s, one for me." % name
          end
        end

    #submission
      = render @solution.submissions.last if @solution.submissions.any?

  %button#run-tests-button.pure-button Run Tests

:scss
  #solve-interface {
    display:flex;
  }

  #ace-editor {
    width:50%;
    height:300px;
    margin-top:10px;
    margin-bottom:10px;
  }
  #submission {
    padding-left:50px;
  }
  #run-tests-button {
    background:green;
  }

-content_for :js do
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js" type="text/javascript" charset="utf-8"></script>
  :javascript
    channel = new SolutionChannel(#{@solution.id})
    channel.subscribe()

    var editor = ace.edit("ace-editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/#{@track.slug}");

    $('#run-tests-button').click(function() {
      $('#submission .status').find('span').html("Queueing")
      channel.createSubmission({
        files: { "two_fer.rb": editor.getValue() }
      });
    })
