.lo-container
  #solve-interface
    #ace-editor
      :preserve
        class TwoFer
          def self.two_fer(name="you")
            "One for %s, one for me." % name
          end
        end

    #tests-output
      .ops-status
        = render "my/solutions/solve/status", solution: @solution
      .results-status
        Tests Status:
        %span
      .results-message
        Message:
        %span
      .test-failure
        Failed test:
        %span.name
        .message

  %button#run-tests-button.pure-button Run Tests

:scss
  #solve-interface {
    display:flex;
  }

  #ace-editor {
    width:50%;
    height:300px;
    margin-top:10px;
    margin-bottom:10px;
  }
  #tests-output {
    padding-left:50px;

    .results-status,
    .results-message,
    .test-failure {
      display:none;
    }
  }
  #run-tests-button {
    background:green;
  }

-content_for :js do
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js" type="text/javascript" charset="utf-8"></script>
  :javascript
    channel = new SolutionChannel(#{@solution.id})
    channel.subscribe()

    // Set interval tracker for use later
    // Use an array to avoid races
    var intervals = {}

    var editor = ace.edit("ace-editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/#{@track.slug}");

    $('#run-tests-button').click(function() {
      $('#tests-output .ops-status').find('span').html("Queueing")
      var code = editor.getValue();
      $.ajax(
        "/my/submissions?solution_id=#{@solution.id}",
        {
          method: "POST",
          data: {
            files: {
              "two_fer.rb": code
            }
          }
        }
      ).done(function(data) {
        submissionId = data.submission.uuid

        for(sid in intervals) { clearInterval(intervals[sid]) }

        intervals[submissionId] = setInterval(function() {
          $.get(
            "/my/submissions/" + submissionId + "/test_results",
            {},
            function(data, status, xhr){
              if(intervals[submissionId]) { clearInterval(intervals[submissionId]) }

              $('#tests-output .results-status').show().children('span').html(data.status)

              if(data.message) {
                $('#tests-output .results-message').show().children('span').html(data.message)
              }

              if(data.failure) {
                $('#tests-output .test-failure').show()
                $('#tests-output .test-failure .name').html(data.failure.name)
                $('#tests-output .test-failure .message').html(data.failure.message.replace("\n", "<br/>"))
              }
            }
          )
        }, 500);
      })
    })
