#modal-close-button
  %i.fa.fa-times
.header
.content
.buttons

:coffeescript
  window.walkthrough =
    start:
      header: "Welcome to the solution walkthrough",
      content: "Do you have the exercism command line application installed on your computer?"
      answers: [
        ["Yes", "terminal_check", "cli_installed"]
        ["No", "terminal_check", "cli_not_installed"]
        ["I don't know", "terminal_check"]
      ]
    terminal_check:
      header: "Are you familiar with the terminal?",
      content: "Do you know what a 'terminal' is how to use it?"
      answers: [
        ["Yes", [['cli_installed', "run_command"], ['cli_not_installed', "install_cli"], "cli_check"], "knows_terminal"]
        ["No", "determine_os", "does_not_know_terminal"]
      ]
    cli_check:
      header: "Do you have the CLI?",
      content: "Let's work out if you have the CLI. Here's how."
      answers: [ ]
    determine_os:
      header: "What operating System are you on?",
      content: "Each one takes a different pathway"
      answers: [
        ["Mac", ""]
        ["Linux", ""]
        ["Windows", ""]
      ]
    install_cli:
      header: "Install the CLI",
      content: "You need to install the CLI. Here's how"
      answers: [ ]
    run_command:
      header: "Run the command",
      content: "You're all set. Run xyz to download the exercise and get going"
      answers: [ ]

  $header = $('#modal.solution-walkthrough .header')
  $content = $('#modal.solution-walkthrough .content')
  $buttons = $('#modal.solution-walkthrough .buttons')

  flags = []

  executeStep = (stepCode) =>
    step = walkthrough[stepCode]
    $header.html(step.header)
    $content.html(step.content)
    $buttons.html("")
    for [answer, nextStepPaths, flag] in step.answers
      $button = $("<button>\#{answer}</button>")
      do (nextStepPaths, flag) ->
        $button.click =>
          flags.push(flag) if flag
          if typeof(nextStepPaths) == "string"
            executeStep(nextStepPaths)
          else
            for nextStepPath in nextStepPaths
              if typeof(nextStepPath) == "string"
                executeStep(nextStepPath)
                break
              else
                if flags.indexOf(nextStepPath[0]) != -1
                  executeStep(nextStepPath[1])
                  break

      $buttons.append($button)

  executeStep("start")
