#research-landing-page
  .welcome-section
    .lo-container
      .pure-g
        .pure-u-1.pure-u-md-1-2.lhs
        .pure-u-1.pure-u-md-1-2.rhs
          %h1
            =image "logo-green.png", "Exercism logo", title: "Exercism"
            %span exercism
            |&nbsp;research

          %h2 Working with leading researchers to understand how we develop programming skills.
          %p We are contributing to the world's knowledge about how people learn and use programming skills. We're using this knowledge to improve Exercism in order to provide opportunity for people of all backgrounds by helping them develop their programming skills through practice and mentorship. 
          %p Please join in and help us!
          .btns
            =link_to "Sign up", new_user_registration_path, class: "pure-button sign-up-button"
            =link_to "Log in", new_user_session_path, class: "pure-button languages-button"

          %p.nfp
            Exercism is an 
            =link_to about_page_url, target: "_blank" do
              independent
              not-for-profit
              organisation.
