-if status == "completed"
  .completed-bar Completed
-elsif status == "in-progress"
  =link_to "Continue part #{part}", research_experiment_solution_path(solution), class: 'pure-button'
-elsif status == "enabled"
  =button_to "Start part #{part}", research_experiment_solutions_path(experiment_id: @experiment.id, language: @language_track.slug, part: part), method: :post, form_class: 'pure-button'
-else
  =link_to "Start part #{part}", "#", class: "pure-button", disabled: true
