-if solution
  -if solution.finished?
    Done
  -else
    =link_to "Continue Part #{part}", research_experiment_solution_path(solution), class: 'pure-button'
-else
  =button_to "Start Part #{part}", research_experiment_solutions_path(experiment_id: @experiment.id, language: @language_track.slug, part: part), method: :post, form_class: 'pure-button'
