#user-experiment-language
  %section.summary-section.lo-research-centralised-section
    .lo-research-floating-box
      =bordered_turquoise_track_icon(@language_track, class: 'header-img')
      .subtitle= @experiment.title
      %h1 Taking part in #{@language_track.title}

      -part1_status = @part1_solution ? (@part1_solution.finished?? "completed" : "in-progress") : "enabled"
      -part2_status = @part2_solution.try(&:finished?) ? "completed" : (@part2_solution ? "in-progress" : (@part1_solution.try(&:finished?) ? "enabled" : "disabled"))
      /.parts
      /  .part-1.part{class: part1_status}
      /%h2 Part 1
      /.status.not-started Not started
      /.status.in-progress
      /  In progress
      /  = graphical_icon :clock, style: :regular
      /.status.completed
      /  Completed
      /  = graphical_icon "check-circle", style: :regular
      %p This experiment has two parts. You can solve Part 1 now. We will email you about Part 2 once it launches.
      %p In Part 1 you will be solving a programming problem. It has been design to only take a 10-15 minutes for proficient #{@language_track.title} developers, but will take a bit longer if you're less familiar with #{@language_track.title}. There is no right or wrong solution - just lots of tradeoffs, so do what feels good to you. Enjoy!
      =render "language_part", part: 1, solution: @part1_solution, status: part1_status

      /
      / .part-2.part{class: part2_status}
      /   %h2 Part 2
      /   .status.not-started Not started
      /   .status.in-progress In progress
      /   .status.completed Completed
      /   %p In part 2 you will be adding functionality to an existing program. You will be building on someone else's solution to Part 1. We are interested in seeing what approach you take to expanding and refactoring their code. Again, there's no right or wrong.
      /   =render "language_part", part: 2, solution: @part2_solution, status: part2_status
