.lo-container
  %h1= @language.title
  %h2 Part 1
  -if @language.part(1)
    -if @language.part(1).submitted?
      Done
    -else
      =button_to "Continue", research_experiment_solution(@language.part(1))
  -else
    / TODO - This won't work until we're using current slugs
    =button_to "Start", research_experiment_solutions_path(experiment_id: @experiment.id, language: :ruby, part: 1), method: :post

  %h2 Part 2
  -if @language.part(2)
    Done
  -else
    =link_to "Start", "#"
