.lo-container
  %h1 Your contribution to #{@experiment.title}
  %h2 Languages
  -@languages.each do |slug, title|
    %h3= title
    -if @user_experiment.language_started?(slug)
      =link_to "Continue #{title}", "#"
    -else
      =link_to "Start #{title}", language_research_user_experiment_path(@user_experiment, slug)
