-solution_user_user_track = UserTrack.where(user: @solution.user, track: @solution.exercise.track).first

.comments-section
  -if current_user == @solution.user && @solution.allow_comments?
    =link_to "Disable comments", [:toggle_allow_comments, :my, @solution], method: :patch, class: 'disable-comments'

  %h2 Community comments
  .h2-subtitle
    -if @solution.user == current_user
      Discuss your solution with the community.
    -else
      Find this solution interesting? Ask the author a question to learn more.

  -if @comments.size > 0
    .comments
      -@comments.each do |comment|
        =solution_comment_widget(comment, @solution)
  -else
    /.no-comments Be the first to comment!
    .comments{style: "display:none"}

  -if user_signed_in?
    -if !@solution.allow_comments?
      =render "comments_disabled"
    -else
      .new-editable-text{class: (@solution.user != current_user ? 'show-warning' : '')}
        =form_for SolutionComment.new, url: solution_comments_path(@solution), remote: true do |f|
          =hidden_field_tag :solution_id, @solution.id

          .tabs-and-panes.selected-1
            .tabs
              .tab.tab-1.write-tab{data: {tab: "markdown"}} Write
              .tab.tab-2.preview-tab{data: {tab: "preview"}} Preview
            .panes
              .pane.pane-1.markdown
                =f.text_area :content, required: true
                -if @solution.user != current_user
                  .warning
                    %h4 Please note:
                    Comments should be used for asking questions to help you learn, not for giving advice to the solution's author. Thanks!
              .pane.pane-2.preview
                .preview-area

          =button_tag "Comment", class: "comment-button js-disable-on-click pure-button #{@solution.approved?? "faded" : ""}"

-content_for :js do
  :javascript
    window.setupNewEditableText('solutionComment-' + #{@solution.id})
