.iteration-nav
  .title
    Iteration
    %strong #{iteration_idx}
    of #{num_iterations}
  -if iteration_idx > 1
    =link_to url_parts + [iteration_idx: 1], class: 'first' do
      %i.fa.fa-fw.fa-fast-backward
    =link_to url_parts + [iteration_idx: iteration_idx - 1], class: 'prev' do
      %i.fa.fa-fw.fa-backward
  -else
    .first.disabled
      %i.fa.fa-fw.fa-fast-backward
    .prev.disabled
      %i.fa.fa-fw.fa-backward

  -if iteration_idx < num_iterations
    =link_to url_parts + [iteration_idx: iteration_idx + 1], class: 'last' do
      %i.fa.fa-fw.fa-forward
    =link_to url_parts + [iteration_idx: num_iterations], class: 'last' do
      %i.fa.fa-fw.fa-fast-forward
  -else
    .next.disabled
      %i.fa.fa-fw.fa-forward
    .last.disabled
      %i.fa.fa-fw.fa-fast-forward
