-like_count = @reaction_counts.fetch('like', 0)
-love_count = @reaction_counts.fetch('love', 0)
-genius_count = @reaction_counts.fetch('genius', 0)
-genius_count_largest = genius_count > love_count && genius_count > like_count
.reactions
  .reaction{class: like_count > love_count && like_count > genius_count ? "highlight": ""}
    =icon 'thumbs-up fa-fw', 'Thumbs up'
    .count= like_count

  .reaction{class: love_count > like_count && love_count > genius_count ? "highlight": ""}
    =icon 'heart fa-fw', 'Hearts'
    .count= love_count

  .reaction{class: genius_count_largest ? "highlight": ""}
    -if genius_count_largest
      =image "genius-turquoise.png", "Genius"
    -else
      =image "genius.png", "Genius"
    .count= genius_count

  .reaction
    =icon 'comment fa-fw', 'Comments'
    .count= @comments.size

