.reactions
  .reaction
    =reaction_like_icon
    .count= @reaction_counts.fetch('like', 0)

  .reaction
    =reaction_love_icon
    .count= @reaction_counts.fetch('love', 0)

  .reaction
    =reaction_genius_icon
    .count= @reaction_counts.fetch('genius', 0)

  .reaction
    =icon 'comment fa-fw', 'Comments'
    .count= @comments.size

