=link_to solution, class: 'solution' do
  =image display_avatar_url(solution.user, user_track), "Avatar of #{display_handle(solution.user, user_track)}"

  .exercise= solution.exercise.title
  .track #{solution.exercise.track.title} track

  .details-bar
    .handle
      %i.fal.fa-fw.fa-user
      =display_handle(solution.user, user_track)
    /.published-at
    /  %i.fal.fa-fw.fa-clock
    /  #{solution.published_at.strftime("%b %d %Y")}
    .detail
      %i.fal.fa-fw.fa-comment
      =solution.num_comments
    .detail
      %i.fal.fa-fw.fa-star
      =solution.num_stars
