#not-published-solution-page
  .lo-container
    %h1
      Unknown solution
    %p Sorry, this solution could not be found. It may have been previously avaliable but since removed by it's author. Or you may have an incorrect URL.
    =link_to "Get me out of here", root_path, class: 'pure-button'

=render_cta_footer
