@import "mixins";

.widget-panels {
    &> .rhs {
        overflow:hidden;
        margin-top:30px;
        margin-bottom:30px;
    }
}

.widget-panels.widget-panels--vertical-split {
    @include width-medium() {
        display:flex;

        &> .lhs, .rhs {
            width:50%;
        }

        &> .rhs {
            margin-top:0;
            margin-bottom:0;
            padding-left:50px;
        }
    }
}
