.submission-status {
  text-align: center;
  > .submission-status-spinner {
    font-size: 50px;
    margin-bottom: 50px;
  }

  > .submission-status-title {
    font-size: 32px;
    margin-bottom: 10px;
  }

  > .submission-status-message {
    font-size: 28px;
  }
}
