-exercises_and_solutions.each do |exercise, solution|
  .pure-u-1-3
    -if solution
      = link_to solution, class: "exercise #{solution.in_progress?? "in-progress" : "unlocked"}" do
        =render "side_exercises/exercise", exercise: exercise, solution: solution
    -elsif !exercise.unlocked_by
      = link_to solutions_path(exercise_id: exercise), method: :post, class: 'exercise unlocked' do
        =render "side_exercises/exercise", exercise: exercise
    -else
      .exercise.locked
        =render "side_exercises/exercise", exercise: exercise
