.announcement-bar
  /=icon :"info-circle"
  Exercism Teams Edition is in beta. Please log any issues you find in our #{link_to "GitHub issues repository", "https://github.com/exercism/exercism/issues"}.
