%footer
  .lo-container
    .pure-g
      .pure-u-1-6
        %h4 Company
        =link_to "Exercism", root_path
        =link_to "Terms", terms_page_path
        =link_to "Privacy", privacy_page_path
      .pure-u-1-6
        %h4 Help
        =link_to "FAQs", faqs_page_path
        =link_to "How Exercism Works", about_page_path
        =link_to "Exercism in Bootcamps", bootcamps_page_path
      .pure-u-1-6
        %h4 Get Involved
        =link_to "Become a mentor", become_a_mentor_page_path
        =link_to "Become a mantainer", become_a_maintainer_page_path
      .pure-u-1-6
      .pure-u-1-6
        %h4 Keep in touch
        =link_to "Newsletter", "https://tinyletter.com/exercism"
        =link_to "Discuss on Github", "https://github.com/exercism/discussions"
        =link_to "Email us", "mailto:hello@exercism.io"
      .pure-u-1-6
        %h4 Follow
        =link_to "https://twitter.com/exercism_io", class: 'icon' do
          %i.fa.fa-twitter
        =link_to "https://facebook.com/exercism.io", class: 'icon' do
          %i.fa.fa-facebook-official
        =link_to "https://github.com/exercism", class: 'icon' do
          %i.fa.fa-github

    .legal
      .copyright © #{DateTime.now.year} Exercism, Inc
      .created-by
        Created by #{link_to "Katrina Owen", "http://kytrinyx.com"},
        #{link_to "Thalamus", "http://thalamus.ai"}
        and #{link_to "1567 wonderful volunteers", "#"}.
