=stylesheet_link_tag 'application', media: 'all'

=async_stylesheet_link_tag '//fonts.googleapis.com/css?family=Dosis:600,700,800'

=render "layouts/prismjs"
=render "layouts/meta_tags"
=csrf_meta_tags
=yield(:head)
