%header.logged-in.teams
  .lo-container
    .misc-menu
      .in-situ
        =image_tag current_user.avatar_url ? current_user.avatar_url : "blank.png"
        %i.fa.fa-caret-down
      .dropdown
        %i.fa.fa-caret-up
        .person
          Logged in as
          %strong #{current_user.handle}
        .hr
        = link_to "Sign out", destroy_user_session_path, method: :delete

    -if @team
      #team-selector
        =select_tag :teams, options_for_select(current_user.teams.map{|t|[t.name, t.id]}, @team.id)

    =link_to root_path, class: 'logo' do
      =image_tag "logo-white.png"
      %span teams edition


-content_for :js do
  :javascript
    $('#team-selector select').change(function() {
      document.location = "/teams/" + $(this).val()
    })
