%header.logged-out
  .lo-container
    .options
      = link_to "Sign up", new_user_registration_path
      = link_to "Log in", new_user_session_path

    =link_to root_path, class: 'logo' do
      =image "logo-white.png", 'Exercism'
