%header.logged-in.teams
  .lo-container
    %div.spacer
      =link_to root_path, class: 'logo' do
        =image_tag "logo-white.png", alt: 'Exercism'
        %span teams edition

    -if @team
      #team-selector
        =select_tag :teams, options_for_select(current_user.teams.map{|t|[t.name, t.id]}, @team.id)

    .misc-menu{tabindex: "0"}
      .in-situ
        =image_tag current_user.avatar_url ? current_user.avatar_url : "blank.png", alt: current_user.name
        =graphical_icon 'caret-down'
      .dropdown
        =graphical_icon 'caret-up'
        .person
          Logged in as
          %strong #{current_user.handle}
        %ul
          %li= link_to "Exercism: Personal Edition", "https://exercism.io"
          %li= link_to "Community Blog", blog_posts_path
        %ul
          %li= link_to "Sign out", destroy_user_session_path, method: :delete


-content_for :js do
  :javascript
    $('#team-selector select').change(function() {
      document.location = "/teams/" + $(this).val()
    })
