.beta-bar
  %i.fa.fa-warning
  This is a mentor-practice version of Exercism. All data will be periodically deleted. Please visit #{link_to "our main website", "http://exercism.io"} for normal usage.
  %i.fa.fa-warning
