%title= metadata_title
%meta{name:"description", content: metadata_description}
%meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1"}

/ Twitter Card data
%meta{name:"twitter:card", content:"summary"}
%meta{name:"twitter:site", content:"@exercism_io"}
%meta{name:"twitter:title", content:metadata_title}
%meta{name:"twitter:description", content:metadata_description}
%meta{name:"twitter:creator", content:"@exercism_io"}
%meta{name:"twitter:image", content:metadata_image_url}

/ Open Graph data
%meta{property: "og:title", content: metadata_title}
%meta{property: "og:type", content:"website"}
%meta{property: "og:url", content: metadata_url}
%meta{property: "og:image", content: metadata_image_url}
%meta{property: "og:description", content: metadata_description}
%meta{property: "og:site_name", content:"Exercism"}
%meta{property: "fb:admins", content:"744760440"}

/ Favicon
%link{rel: "apple-touch-icon-precomposed", sizes: "57x57", href: image_url("favicon/apple-touch-icon-57x57.png")}
%link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: image_url("favicon/apple-touch-icon-114x114.png")}
%link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: image_url("favicon/apple-touch-icon-72x72.png")}
%link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: image_url("favicon/apple-touch-icon-144x144.png")}
%link{rel: "apple-touch-icon-precomposed", sizes: "120x120", href: image_url("favicon/apple-touch-icon-120x120.png")}
%link{rel: "apple-touch-icon-precomposed", sizes: "152x152", href: image_url("favicon/apple-touch-icon-152x152.png")}
%link{rel: "icon", type: "image/png", href: image_url("favicon/favicon-32x32.png"), sizes: "32x32"}
%link{rel: "icon", type: "image/png", href: image_url("favicon/favicon-16x16.png"), sizes: "16x16"}
%meta{name: "application-name", content: "Exercism"}
%meta{name: "msapplication-TileColor", content: "#009CAB"}
%meta{name: "msapplication-TileImage", content: image_url("favicon/mstile-144x144.png")}

