- PrismJS::Plugin.stylesheets.each do |plugin|
  = async_stylesheet_link_tag plugin.stylesheet

- PrismJS::Theme.all.each do |theme|
  = async_stylesheet_link_tag theme.stylesheet,
    disabled: theme.disabled?(current_user || Guest.new),
    data: { theme: theme.name }

- content_for :js do
  - PrismJS::Component.all.each do |component|
    = javascript_include_tag component.javascript
  - PrismJS::Plugin.all.each do |plugin|
    = javascript_include_tag plugin.javascript, plugin.params
