#settings-bar.lo-settings-bar
  .lo-container
    =link_to "Account Settings", my_settings_path, class: (selected == :settings ? "selected" : "")
    =link_to "Preferences", edit_my_settings_communication_preferences_path, class: (selected == :preferences ? "selected" : "")