!!!
%html
  %head
    =stylesheet_link_tag 'application', media: 'all'
    =stylesheet_link_tag '//fonts.googleapis.com/css?family=Dosis:600,700,800'
    =stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'

    =render "layouts/meta_tags"
    =csrf_meta_tags

  %body{class: body_class}

    =render "layouts/mentor_bar"
    =render_header
    = yield
    =render "layouts/footer"

    #modal-wrapper
      #modal

    =javascript_include_tag 'application'
    =yield(:js)

    -if hotjar_enabled?
      =render "layouts/tracking_hotjar"

    -if Rails.env.production?
      =render "layouts/tracking_ga"

    -clear_flash
