<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html{xmlns:"http://www.w3.org/1999/xhtml"}
  %head
    %meta{name: "viewport", content: "width=device-width"}
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}
    =stylesheet_link_tag "mailer.css"
    %title Exercism

  %body{bgcolor:"#FFFFFF"}
    %table.body-wrap
      %tr
        %td
        %td.container{bgcolor:"#ffffff"}
          .content.header
            =image_tag image_url("mailers/logo.png"), class: 'header-image', alt: 'Exercism'
            .hr

          = yield

          .content
            .hr
            .signoff The Exercism Team
            =image_tag image_url("mailers/footer-bar.png"), class: 'footer-image', alt: ''
            .footer
              This email sent by Exercism, Inc
            .footer
              =link_to "Visit Exercism", root_url
              -if @user && @unsubscribe_key
                &middot;
                =link_to "Unsubscribe from this email", unsubscribe_url(token: @user.communication_preferences.token, key: @unsubscribe_key)
              -if @user
                &middot;
                =link_to "Change your notification settings", unsubscribe_url(token: @user.communication_preferences.token)
            .footer
              Exercism, Inc &middot; 1605 George Dieter Dr #576 &middot; El Paso, TX 79936
