!!!
%html{lang: I18n.locale}
  %head
    =render "layouts/head"
    =stylesheet_link_tag '//fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap'

  %body{class: "#{body_class} namespace-research"}
    =render_research_header
    = yield
    =render "layouts/research_footer"
    =render "layouts/modal"

    =yield(:async_css)
    =render "layouts/javascript"


