!!!
%html{lang: I18n.locale}
  %head
    =render "layouts/head"

  %body{class: "#{body_class} namespace-research"}
    =render_research_header
    = yield
    =render "layouts/research_footer"
    =render "layouts/modal"

    =yield(:async_css)
    =render "layouts/javascript"


