!!!
%html
  %head
    =stylesheet_link_tag 'application', media: 'all'
    =stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Montserrat+Alternates:400,700|Dosis:600,700,800'
    =stylesheet_link_tag '//pro.fontawesome.com/releases/v5.2.0/css/all.css', integrity: 'sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno', crossorigin: 'anonymous'
    =stylesheet_link_tag '//pro.fontawesome.com/releases/v5.2.0/css/v4-shims.css'
    = render "layouts/prismjs"

    =render "layouts/meta_tags"
    =csrf_meta_tags

  %body{class: "#{body_class} namespace-teams"}

    =render "layouts/announcement_bar"
    =render_teams_header
    = yield
    =render "layouts/teams_footer"

    #modal-wrapper
      #modal

    = javascript_pack_tag 'application'
    =yield(:js)

    -if hotjar_enabled?
      =render "layouts/tracking_hotjar"

    -if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47528450-4', 'auto');
        ga('send', 'pageview');

    -clear_flash

