!!!
%html
  %head
    =stylesheet_link_tag 'application', media: 'all'
    =stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Montserrat+Alternates:400,700|Dosis:600,700,800'
    =stylesheet_link_tag '//pro.fontawesome.com/releases/v5.2.0/css/all.css', integrity: 'sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno', crossorigin: 'anonymous'
    =stylesheet_link_tag '//pro.fontawesome.com/releases/v5.2.0/css/v4-shims.css'

    =render "layouts/meta_tags"
    =csrf_meta_tags

  %body{class: "#{body_class} namespace-teams"}

    /=render "layouts/announcement_bar"
    =render_teams_header
    = yield
    =render "layouts/teams_footer"

    #modal-wrapper
      #modal

    =javascript_include_tag 'application'
    =yield(:js)

    -if hotjar_enabled?
      =render "layouts/tracking_hotjar"

    -if Rails.env.production?
      =render "layouts/tracking_ga"

    -clear_flash

