!!!
%html{lang: I18n.locale}
  %head
    =render "layouts/head"

  %body{class: "#{body_class} namespace-teams"}
    =render_teams_header
    = yield
    =render "layouts/footer"
    =render "layouts/modal"

    =yield(:async_css)
    =render "layouts/javascript"

